@include b(date-picker) {
  background: #fff;

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: r(45);
    line-height: r(45);
    font-size: r(16);
    @include onepx(bottom);
  }

  @include e(cancel, submit) {
    flex: 1;
    padding: 0 r(20);
    cursor: pointer;
  }

  @include e(cancel) {
    text-align: left;
    color: $color-text-caption;
  }

  @include e(submit) {
    text-align: right;
    color: $theme-primary;
  }

  @include e(title) {
    color: $color-text;
  }
}
