@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-message { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; position: relative; padding: 6px 8px; min-height: 30px; font-size: 12px; color: #ddd; background-color: rgba(221, 221, 221, 0.1); }

.za-message-icon { margin-right: 5px; margin-top: 1px; font-size: 16px; }

.za-message-header, .za-message-footer { line-height: 1; }

.za-message-body { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.za-message-footer { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: right; padding-left: 10px; }

.za-message.theme-primary { color: #12c287; background-color: rgba(18, 194, 135, 0.1); }

.za-message.theme-success { color: #69c964; background-color: rgba(105, 201, 100, 0.1); }

.za-message.theme-warning { color: #eca632; background-color: rgba(236, 166, 50, 0.1); }

.za-message.theme-error { color: #e55546; background-color: rgba(229, 85, 70, 0.1); }

.za-message.size-lg { min-height: 42px; padding: 9px 15px; }

.za-message.size-lg .za-message-icon { margin-right: 10px; margin-top: 4px; }

.za-message.size-lg .za-message-body { font-size: 15px; }

@charset "UTF-8";
/* $ratio: 750/640; $base-fontSize: 14; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
.cell-page .box-description { font-size: 12px; color: gray; }

