@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-stepper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.za-stepper .za-stepper-sub, .za-stepper .za-stepper-plus { color: #12c287; border: 1px solid #12c287; }

.za-stepper .za-stepper-sub:active, .za-stepper .za-stepper-plus:active { background: rgba(18, 194, 135, 0.1); }

.za-stepper .za-stepper-sub.disabled, .za-stepper .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper .za-stepper-sub.disabled:active, .za-stepper .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.disabled .za-stepper-body { opacity: 0.5; cursor: not-allowed; }

.za-stepper.shape-radius .za-stepper-sub, .za-stepper.shape-radius .za-stepper-plus { border-radius: 4px; }

.za-stepper.shape-circle .za-stepper-sub, .za-stepper.shape-circle .za-stepper-plus { border-radius: 50%; }

.za-stepper.theme-primary .za-stepper-sub, .za-stepper.theme-primary .za-stepper-plus { color: #12c287; border: 1px solid #12c287; }

.za-stepper.theme-primary .za-stepper-sub:active, .za-stepper.theme-primary .za-stepper-plus:active { background: rgba(18, 194, 135, 0.1); }

.za-stepper.theme-primary .za-stepper-sub.disabled, .za-stepper.theme-primary .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-primary .za-stepper-sub.disabled:active, .za-stepper.theme-primary .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.theme-success .za-stepper-sub, .za-stepper.theme-success .za-stepper-plus { color: #69c964; border: 1px solid #69c964; }

.za-stepper.theme-success .za-stepper-sub:active, .za-stepper.theme-success .za-stepper-plus:active { background: rgba(105, 201, 100, 0.1); }

.za-stepper.theme-success .za-stepper-sub.disabled, .za-stepper.theme-success .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-success .za-stepper-sub.disabled:active, .za-stepper.theme-success .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.theme-warning .za-stepper-sub, .za-stepper.theme-warning .za-stepper-plus { color: #eca632; border: 1px solid #eca632; }

.za-stepper.theme-warning .za-stepper-sub:active, .za-stepper.theme-warning .za-stepper-plus:active { background: rgba(236, 166, 50, 0.1); }

.za-stepper.theme-warning .za-stepper-sub.disabled, .za-stepper.theme-warning .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-warning .za-stepper-sub.disabled:active, .za-stepper.theme-warning .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.theme-error .za-stepper-sub, .za-stepper.theme-error .za-stepper-plus { color: #e55546; border: 1px solid #e55546; }

.za-stepper.theme-error .za-stepper-sub:active, .za-stepper.theme-error .za-stepper-plus:active { background: rgba(229, 85, 70, 0.1); }

.za-stepper.theme-error .za-stepper-sub.disabled, .za-stepper.theme-error .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-error .za-stepper-sub.disabled:active, .za-stepper.theme-error .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper-sub, .za-stepper-plus { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 27px; height: 27px; font-size: 16px; font-weight: bold; cursor: pointer; }

.za-stepper-input { position: relative; width: 40px; height: 27px; margin: 0 10px; padding: 0; font-size: 16px; color: #333; text-align: center; border: 0; outline: 0; -webkit-appearance: none; }

