@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-checkbox { display: inline-block; position: relative; margin-left: 10px; /* 组合 */ /* 选中状态 */ /* 禁用状态 */ }

.za-checkbox:first-child { margin-left: 0; }

.za-checkbox-wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.za-checkbox-input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }

.za-checkbox-text { color: #333; }

.za-checkbox-inner + .za-checkbox-text { margin-left: 10px; }

.za-checkbox-inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 20px; height: 20px; border: 1px solid #999; border-radius: 20px; background: #fff; }

.za-checkbox-inner:before { content: ' '; width: 5.71429px; height: 10px; border: 2px solid #12c287; border-top: 0; border-left: 0; margin-top: -2px; -webkit-transform: rotate(45deg) scale(0); -ms-transform: rotate(45deg) scale(0); transform: rotate(45deg) scale(0); -webkit-transition: all 0.2s cubic-bezier(0.71, -0.46, 0.88, 0.6); transition: all 0.2s cubic-bezier(0.71, -0.46, 0.88, 0.6); }

.za-checkbox-group.block { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.za-checkbox-group.is-compact .za-checkbox { margin-left: -1px; }

.za-checkbox-group.is-compact.shape-radius .za-checkbox { border-radius: 0; }

.za-checkbox-group.is-compact.shape-radius .za-checkbox:first-child { border-radius: 4px 0 0 4px; }

.za-checkbox-group.is-compact.shape-radius .za-checkbox:last-child { border-radius: 0 4px 4px 0; }

.za-checkbox-group.is-compact.shape-round .za-checkbox { border-radius: 0; }

.za-checkbox-group.is-compact.shape-round .za-checkbox:first-child { border-radius: 1000px 0 0 1000px; }

.za-checkbox-group.is-compact.shape-round .za-checkbox:last-child { border-radius: 0 1000px 1000px 0; }

.za-checkbox.checked .za-checkbox-inner { border-color: #12c287; }

.za-checkbox.checked .za-checkbox-inner:before { -webkit-transform: rotate(45deg) scale(1); -ms-transform: rotate(45deg) scale(1); transform: rotate(45deg) scale(1); -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s; transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s; }

.za-checkbox.disabled .za-checkbox-inner { border-color: #e1e1e1; cursor: not-allowed; }

.za-checkbox.disabled .za-checkbox-inner:before { border-color: #e1e1e1; }

.za-checkbox.disabled .za-checkbox-text { color: #bbb; }

@charset "UTF-8";
/* $ratio: 750/640; $base-fontSize: 14; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
.checkbox-page .block-box { padding: 10px; background: #fff; }

.checkbox-page .agreement-box label { margin-left: 10px; }

