@charset "UTF-8";
/* $ratio: 750/640; $base-fontSize: 14; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
.index-page .brand { padding: 30px 30px 0 30px; }

.index-page .brand-title { font-size: 30px; }

.index-page .brand-description { font-size: 14px; }

.index-page main { padding: 15px; }

.index-page .za-panel-body { border-radius: 2px; }

.index-page .za-panel-body:after { display: none; }

.index-page .za-cell { background-color: transparent; }

.index-page .za-cell:first-of-type:after { display: none; }

