@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-swipe { position: relative; overflow: hidden; }

.za-swipe-item { display: inline-block; width: 100%; height: 100%; }

.za-swipe-pagination { position: absolute; right: 10px; bottom: 10px; }

.za-swipe-pagination ul { list-style: none; margin: 0; padding: 0; font-size: 0; }

.za-swipe-pagination ul li { width: 8px; height: 8px; border-radius: 50%; background: #ccc; cursor: pointer; margin: 3px 0 0 3px; }

.za-swipe-pagination ul li.active { background: #12c287; }

@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-tab.theme-primary .za-tab-header-item.active { color: #12c287; }

.za-tab.theme-primary .za-tab-line { background-color: #12c287; }

.za-tab.theme-primary .za-tab-line-inner { background-color: #12c287; }

.za-tab.theme-success .za-tab-header-item.active { color: #69c964; }

.za-tab.theme-success .za-tab-line { background-color: #69c964; }

.za-tab.theme-success .za-tab-line-inner { background-color: #69c964; }

.za-tab.theme-warning .za-tab-header-item.active { color: #eca632; }

.za-tab.theme-warning .za-tab-line { background-color: #eca632; }

.za-tab.theme-warning .za-tab-line-inner { background-color: #eca632; }

.za-tab.theme-error .za-tab-header-item.active { color: #e55546; }

.za-tab.theme-error .za-tab-line { background-color: #e55546; }

.za-tab.theme-error .za-tab-line-inner { background-color: #e55546; }

.za-tab-header { position: relative; }

.za-tab-header ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; list-style: none; margin: 0; padding: 0; height: 45px; line-height: 45px; }

.za-tab-header ul:after { content: ''; pointer-events: none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-width: 0; border-radius: 0; border-bottom: 1px solid #ddd; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { .za-tab-header ul:after { width: 200%; height: 200%; -webkit-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; border-radius: 0; } }

.za-tab-header-item { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; text-align: center; color: #333; font-size: 15px; cursor: pointer; /* &.hasline { &:nth-of-type(n+2) { position: relative; &:after { display: inline-block; content: ' '; position: absolute; top: 50%; left: 0; width: 1px; height: r(14); margin-top: r(-7); background: #e9e9e9; } } } */ }

.za-tab-header-item.active { color: #69c964; }

.za-tab-header-item.disabled { color: #bbb; cursor: not-allowed; }

.za-tab-line { position: absolute; left: 0; bottom: 0; height: 2px; -webkit-transition: left .3s ease-out; transition: left .3s ease-out; }

.za-tab-line-inner { display: block; margin: auto; height: 100%; }

.za-tab-panel { position: relative; -webkit-transition: height .3s; transition: height .3s; }

.za-tab-panel-item { display: none; }

.za-tab-panel-item.active { display: block; }

@charset "UTF-8";
/* $ratio: 750/640; $base-fontSize: 14; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
.tab-page .za-tab + .za-tab { margin-top: 10px; }

.tab-page .content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 10px; height: 100px; }

