@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-picker-wrapper { background: #fff; }

.za-picker-header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 100%; height: 45px; font-size: 16px; line-height: 45px; }

.za-picker-header:after { content: ''; pointer-events: none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-width: 0; border-radius: 0; border-bottom: 1px solid #ddd; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { .za-picker-header:after { width: 200%; height: 200%; -webkit-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; border-radius: 0; } }

.za-picker-cancel, .za-picker-submit { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 0 20px; cursor: pointer; }

.za-picker-cancel { text-align: left; color: #999; }

.za-picker-submit { text-align: right; color: #12c287; }

.za-picker-title { color: #333; }

.za-picker-stack-group { position: relative; height: 280px; overflow: hidden; }

.za-picker-stack-column { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); -webkit-transition: -webkit-transform .3s; transition: -webkit-transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }

.za-picker-stack-column.lower-hidden ~ .za-picker-stack-column { -webkit-transform: translate(100%, 0); -ms-transform: translate(100%, 0); transform: translate(100%, 0); }

.za-picker-stack-column.lower-hidden .za-picker-stack-item { padding-left: 20px; }

.za-picker-stack-column:nth-child(1) { z-index: 2; }

.za-picker-stack-column:nth-child(1) .za-picker-stack-column-wrapper { z-index: 3; }

.za-picker-stack-column:nth-child(2) { z-index: 4; }

.za-picker-stack-column:nth-child(2) .za-picker-stack-column-wrapper { z-index: 5; left: 60px; }

.za-picker-stack-column:nth-child(3) { z-index: 6; left: 60px; }

.za-picker-stack-column:nth-child(3) .za-picker-stack-column-wrapper { z-index: 7; left: 60px; }

.za-picker-stack-column:nth-child(3) .za-picker-stack-item { padding-left: 10px; }

.za-picker-stack-column:nth-child(4) { z-index: 8; left: 120px; }

.za-picker-stack-column:nth-child(4) .za-picker-stack-column-wrapper { z-index: 9; left: 60px; }

.za-picker-stack-column:nth-child(4) .za-picker-stack-item { padding-left: 10px; }

.za-picker-stack-column:nth-child(5) { z-index: 10; left: 180px; }

.za-picker-stack-column:nth-child(5) .za-picker-stack-column-wrapper { z-index: 11; left: 60px; }

.za-picker-stack-column:nth-child(5) .za-picker-stack-item { padding-left: 10px; }

.za-picker-stack-column:not(:last-child) .za-picker-stack-item { padding-right: 40px; }

.za-picker-stack-column:not(:last-child) .za-picker-stack-item:before { position: absolute; right: 15px; top: 50%; content: ''; width: 9px; height: 9px; margin-top: -4px; border-right: 2px solid #c7c7cc; border-top: 2px solid #c7c7cc; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.za-picker-stack-column:first-child:last-child .za-picker-stack-item, .za-picker-stack-column:nth-child(2):last-child .za-picker-stack-item { padding-left: 20px; }

.za-picker-stack-column-wrapper { position: absolute; top: 0; left: 0; right: -20px; bottom: 0; padding-right: 20px; overflow-y: scroll; background: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.za-picker-stack-item { position: relative; padding: 0 10px; line-height: 35px; font-size: 16px; color: #333; -webkit-transition: padding-left .4s; transition: padding-left .4s; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.za-picker-stack-item:after { content: ''; pointer-events: none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-width: 0; border-radius: 0; border-bottom: 1px solid #ddd; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { .za-picker-stack-item:after { width: 200%; height: 200%; -webkit-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; border-radius: 0; } }

.za-picker-stack-item.active { color: #12c287; }

@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-select { width: 100%; height: 100%; background: #fff; }

.za-select-input { width: 100%; padding: 12px 0; }

.za-select-placeholder { color: #a9a9a9; }

.za-select-disabled { color: #bbb; }

@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-stepper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.za-stepper .za-stepper-sub, .za-stepper .za-stepper-plus { color: #12c287; border: 1px solid #12c287; }

.za-stepper .za-stepper-sub:active, .za-stepper .za-stepper-plus:active { background: rgba(18, 194, 135, 0.1); }

.za-stepper .za-stepper-sub.disabled, .za-stepper .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper .za-stepper-sub.disabled:active, .za-stepper .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.disabled .za-stepper-body { opacity: 0.5; cursor: not-allowed; }

.za-stepper.shape-radius .za-stepper-sub, .za-stepper.shape-radius .za-stepper-plus { border-radius: 4px; }

.za-stepper.shape-circle .za-stepper-sub, .za-stepper.shape-circle .za-stepper-plus { border-radius: 50%; }

.za-stepper.theme-primary .za-stepper-sub, .za-stepper.theme-primary .za-stepper-plus { color: #12c287; border: 1px solid #12c287; }

.za-stepper.theme-primary .za-stepper-sub:active, .za-stepper.theme-primary .za-stepper-plus:active { background: rgba(18, 194, 135, 0.1); }

.za-stepper.theme-primary .za-stepper-sub.disabled, .za-stepper.theme-primary .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-primary .za-stepper-sub.disabled:active, .za-stepper.theme-primary .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.theme-success .za-stepper-sub, .za-stepper.theme-success .za-stepper-plus { color: #69c964; border: 1px solid #69c964; }

.za-stepper.theme-success .za-stepper-sub:active, .za-stepper.theme-success .za-stepper-plus:active { background: rgba(105, 201, 100, 0.1); }

.za-stepper.theme-success .za-stepper-sub.disabled, .za-stepper.theme-success .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-success .za-stepper-sub.disabled:active, .za-stepper.theme-success .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.theme-warning .za-stepper-sub, .za-stepper.theme-warning .za-stepper-plus { color: #eca632; border: 1px solid #eca632; }

.za-stepper.theme-warning .za-stepper-sub:active, .za-stepper.theme-warning .za-stepper-plus:active { background: rgba(236, 166, 50, 0.1); }

.za-stepper.theme-warning .za-stepper-sub.disabled, .za-stepper.theme-warning .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-warning .za-stepper-sub.disabled:active, .za-stepper.theme-warning .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper.theme-error .za-stepper-sub, .za-stepper.theme-error .za-stepper-plus { color: #e55546; border: 1px solid #e55546; }

.za-stepper.theme-error .za-stepper-sub:active, .za-stepper.theme-error .za-stepper-plus:active { background: rgba(229, 85, 70, 0.1); }

.za-stepper.theme-error .za-stepper-sub.disabled, .za-stepper.theme-error .za-stepper-plus.disabled { color: #bbb; border-color: #e1e1e1; cursor: not-allowed; }

.za-stepper.theme-error .za-stepper-sub.disabled:active, .za-stepper.theme-error .za-stepper-plus.disabled:active { background: #fff; }

.za-stepper-sub, .za-stepper-plus { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 27px; height: 27px; font-size: 16px; font-weight: bold; cursor: pointer; }

.za-stepper-input { position: relative; width: 40px; height: 27px; margin: 0 10px; padding: 0; font-size: 16px; color: #333; text-align: center; border: 0; outline: 0; -webkit-appearance: none; }

@charset "UTF-8";
/* $ratio: 750/640; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
/* 组件前缀 */
.za-progress { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; }

.za-progress-inner { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; background-color: #e6e6e6; }

.za-progress-text { display: inline-block; margin-left: 5px; font-size: 12px; }

.za-progress-bg { height: 100%; background-color: #12c287; -webkit-transition: width .3s; transition: width .3s; }

.za-progress .za-spinner-line { -webkit-transition: stroke-dasharray .3s; transition: stroke-dasharray .3s; }

.za-progress.shape-circle { display: inline-block; width: 150px; height: 150px; }

.za-progress.shape-circle .za-progress-inner { background-color: transparent; }

.za-progress.shape-circle .za-progress-inner svg { width: 100%; height: 100%; }

.za-progress.shape-circle .za-progress-text { display: block; position: absolute; top: 50%; left: 0; width: 100%; margin: 0; text-align: center; line-height: 1; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); font-size: 30px; }

.za-progress.theme-primary .za-progress-bg { background-color: #12c287; }

.za-progress.theme-success .za-progress-bg { background-color: #69c964; }

.za-progress.theme-warning .za-progress-bg { background-color: #eca632; }

.za-progress.theme-error .za-progress-bg { background-color: #e55546; }

@charset "UTF-8";
/* $ratio: 750/640; $base-fontSize: 14; @function r($px) { @if $px != 0 { @return $px / $ratio / $base-fontSize * 1rem; } @else { @return 0; } } */
/* 阿里flexible方案，详见 https://github.com/amfe/lib-flexible */
/* @function r($px) { @if $px != 0 { @return $px * 2 / 75 * 1rem; } @else { @return 0; } } */
.progress-page .progress { margin: 15px; text-align: center; }

.progress-page .progress-percent { font-size: 14px; }

