@use '../../style/core/index';
@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(rate) {
  @include mixins.define(size, 20px);
  @include mixins.define(color, #eee);
  @include mixins.define(active-color, #fadb14);
  @include mixins.define(gap, 4px);

  display: inline-flex;
  user-select: none;
  flex-wrap: wrap;
  cursor: pointer;

  @include sass.e(item) {
    line-height: 1;
    position: relative;
    color: var(--color);
    font-size: var(--size);

    &:not(:last-child) {
      margin-right: var(--gap);
    }

    @include sass.b(icon) {
      @include mixins.define(color, var(--color));

      font-size: var(--size);
    }

    @include sass.m(active) {
      color: var(--active-color);

      @include sass.b(icon) {
        @include mixins.define(color, var(--active-color));
      }
    }

    @include sass.m(half) {
      @include sass.b(rate) {
        @include sass.e(character__half) {
          color: var(--active-color);

          @include sass.b(icon) {
            color: var(--active-color);
          }
        }
      }
    }
  }

  @include sass.e(character__half) {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  @include sass.m(readonly) {
    cursor: default;
  }
}
