@include b(notice-bar) {
  @include e(body) {
    position: relative;
    width: 100%;
    height: var(--notice-bar-height);
    line-height: var(--notice-bar-height);
    overflow: hidden;
  }

  @include e(content) {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
  }
}
