@import "@site/styles/index";

.affix-page {
  .carousel__item__pic {
    img {
      width: 100%;
      height: auto;
    }
  }

  .article {
    padding: r(16);

    .article-header {
      .article-title {
        color: rgba(0, 0, 0, .6);
        font-size: r(22);
        margin-bottom: r(14);
      }

      .article-author {
        margin-bottom: r(10);

        .article-author-name {
          color: rgba(0, 0, 0, .3);
          font-size: r(15);
          margin-right: r(10);
        }

        .article-column-name {
          color: rgb(87, 107, 149);
          font-size: r(15);
        }
      }
    }

    .article-tip {
      background-color: #fff;
      width: calc(100vw - r(32));
      margin-bottom: r(10);
    }

    .article-body {
      .article-banner {
        margin-bottom: r(10);
      }

      .article-content {
        color: black;
        font-size: 16px;
        line-height: 26px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0;
      }
    }
  }
}
