@import "@site/styles/index";

.affix-page {
  .carousel__item__pic {
    img {
      width: 100%;
      height: auto;
    }
  }

  .article {
    padding: 16px;

    .article-header {
      .article-title {
        color: rgba(0, 0, 0, .6);
        font-size: r(22);
        margin-bottom: r(14);
      }

      .article-author {
        margin-bottom: r(10);

        .article-author-name {
          color: rgba(0, 0, 0, .3);
          font-size: r(15);
          margin-right: r(10);
        }

        .article-column-name {
          color: rgb(87, 107, 149);
          font-size: r(15);
        }
      }
    }

    .article-tip {
      background-color: #fff;
      width: calc(100vw - 32px);
      margin-bottom: r(10);
    }

    .article-body {
      .article-banner {
        margin-bottom: r(10);
      }

      .article-content {
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0;

        p {
          color: black;
          font-size: 16px;
          line-height: 26px;
          margin: 0;
          padding: 0;
          margin-bottom: r(10);
        }
      }
    }
  }

  .scrollable-container {
    height: r(100);
    overflow-y: scroll;
  }

  .background {
    padding-top: r(60);
    height: r(300);
    background-image: url(https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg);
  }
}
