@import "@site/styles/index";

.popper-page {
  @at-root .common-popper,
    .za-popper__wrapper {
    padding: 6px 12px;
    background: #fff;
    border: 1px solid #e5e5e5;
  }

  .za-popper {
    display: inline-block;
  }

  .za-cell__content {
    padding: r(15) 0;
  }

  .direction {
    .za-cell__content {
      justify-content: center;
    }
  }

  .za-popper {
    margin-right: r(10);
    margin-bottom: r(10);
  }

  .za-button {
    width: r(60);
  }

  @at-root [x-placement^=top] {
    margin-bottom: r(10);

    .za-popper__arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      bottom: r(-6);
      border-width: r(6) r(6) 0;
      border-top-color: #fff;
    }
  }
}
