@import "@site/styles/index";

.tabs-page {
  .za-tabs + .za-tabs {
    margin-top: r(10);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: r(10);
    height: r(100);
  }
}
