@import "@site/styles/index";

.za-toast {
  .box {
    width: r(70);

    &-icon {
      font-size: r(50);
      color: #fff;
      margin-bottom: r(10);
    }

    &-text {
      margin-bottom: r(5);
    }
  }
}
