@include b(toast) {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  z-index: $zindex-toast;

  @include m(open) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(container) {
    position: relative;
    max-width: var($--toast-max-width);
    padding: $padding-v-xl $padding-h-xl;
    border-radius: var($--toast-border-radius);
    background: rgba(0, 0, 0, $opacity-toast);
    color: var($--toast-color);
    text-align: center;
    font-size: var($--toast-font-size);
  }
}
