$prefixCls: $prefixCls-toast;

.#{$prefixCls} {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  z-index: $zindex-toast;

  &-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    position: relative;
    max-width: $toast-max-width;
    padding: $padding-v-xl $padding-h-xl;
    border-radius: $toast-border-radius;
    background: rgba(0, 0, 0, $opacity-toast);
    color: $toast-color;
    text-align: center;
    font-size: $toast-font-size;
  }
}
