@import "../../style/core/index";

@include b(toast) {
  // display: none;
  // position: fixed;
  // left: 0;
  // top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  z-index: var(--zindex-toast);

  // @include m(open) {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  @include e(container) {
    position: relative;
    max-width: var(--toast-max-width);
    padding: var(--padding-v-md) var(--padding-h-md);
    border-radius: var(--toast-border-radius);
    background: rgba(0, 0, 0, var(--opacity-toast));
    color: var(--toast-color);
    text-align: center;
    font-size: var(--toast-font-size);
  }
}
