@import "../../Button/style/mixins";

$prefixCls: $prefixCls-keyboard;

.#{$prefixCls} {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  color: $theme-default;
  user-select: none;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: r(28);
    position: relative;
    @include button-base();
    @include button-theme(#fff, #ddd, $color-text);

    &-ok {
      font-size: r(21);
      @include button-theme($theme-primary, $theme-primary, #fff);
    }

    &-disabled,
    &-disabled:active {
      background-color: rgba(#ddd, .5);
    }
  }

  &-keys {
    display: flex;
    flex-wrap: wrap;
    width: 75%;

    .#{$prefixCls}-item {
      width: 33.333333%;
      height: r(50);
      @include onepx(top left);

      &:first-of-type {
        @include onepx(top);
      }
    }
  }

  &-handle {
    display: flex;
    flex-direction: column;
    width: 25%;

    .#{$prefixCls}-item {
      flex: 1;

      &:first-of-type {
        @include onepx(top left);
      }
    }
  }

  .#{$prefixCls-icon} {
    font-size: r(21);
  }
}
