@import "../../style/core/index";

@include b(marquee) {
  width: 100%;
  overflow: hidden;

  @include e(body) {
    white-space: nowrap;
  }

  @include e(content) {
    display: inline-block;
  }
}
