@import "../functions/index";

.app-container {
  position: relative;
  background-color: #f6f6f6;
  overflow: hidden;

  .github {
    position: absolute;
    right: r(10);
    top: r(10);
    width: r(32);
    height: r(32);
  }
}

