@import "../core/func";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: r(50);
  line-height: r(50);
  background: #333;
  color: #fff;
  text-align: center;
  z-index: 1000;
}
