@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(select) {
  @include mixins.define(height, 28px);
  @include mixins.define(disabled-color, var(--za-color-text-disabled));
  @include mixins.define(placeholder-color, var(--za-color-text-placeholder));
  @include mixins.define(arrow-color, var(--za-arrow-color));
  @include mixins.define(arrow-size, var(--za-arrow-size));

  display: flex;
  align-items: center;
  width: 100%;

  @include sass.e(input) {
    flex: 1;
    position: relative;
    width: 100%;
    height: var(--height);
    line-height: var(--height);
  }

  @include sass.m(placeholder) {
    @include sass.e(input) {
      color: var(--placeholder-color);
    }
  }

  @include sass.e(arrow) {
    --za-icon-color: var(--arrow-color);
    --za-icon-font-size: calc(var(--arrow-size) * 2);

    flex-shrink: 0;
    margin-left: 5px;
    transition: transform 0.15s ease-out;
  }

  @include sass.m(disabled) {
    @include sass.e(input) {
      color: var(--disabled-color);
    }
  }

  @include sass.m(visible) {
    @include sass.e(arrow) {
      transform: rotate(180deg);
    }
  }
}
