@include b(popup) {

  -webkit-overflow-scrolling: touch;
  margin: auto;
  pointer-events: all;
  transform: perspective(0);

  @include e(wrapper) {
    @include define(mask-zindex, var(--za-zindex-mask));

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--mask-zindex);
    overflow: auto;
    padding: 60px 0;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
  }

  @include m(bottom) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  @include m(top) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  @include m(left) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }

  @include m(right) {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
  }

  @include m(safe) {
    @include safeIphoneX(true);
  }
}
