@import "../../Button/style/mixins";

$prefixCls: $prefixCls-alert;

.#{$prefixCls} {
  &-body {
    text-align: center;
  }

  &-footer {
    display: flex;

    &-button {
      flex: 1;
      height: r(50);
      line-height: r(50);
      font-size: r(18);
      flex: 1;
      height: r(50);
      line-height: r(50);
      font-size: r(18);
      @include button-base();
      @include onepx(top);

      &:active {
        background-color: rgba(#ddd, 0.5);
      }
    }
  }
}
