@import "../../button/style/mixins";

$prefixCls: $prefixCls-alert;

.#{$prefixCls} {
  &-body {
    text-align: center;
  }

  &-footer {
    display: flex;

    &-button {
      flex: 1;
      height: $alert-button-height;
      line-height: $alert-button-height;
      font-size: $alert-button-font-size;
      color: $theme-primary;
      @include button-base();
      @include onepx(top);

      &:active {
        background-color: $background-active;
      }
    }
  }
}
