@import '../../button/style/mixins';

@include b(alert) {
  @include e(body) {
    text-align: center;
  }

  @include e(footer) {
    display: flex;

    &__button {
      flex: 1;
      height: $--alert-button-height;
      line-height: $--alert-button-height;
      font-size: $--alert-button-font-size;
      color: $--theme-primary;
      @include button-base();
      @include onepx(top);

      &:active {
        background-color: $--background-active;
      }
    }
  }
}
