@import "mixins";

$prefixCls: $prefixCls-nav-bar;

.#{$prefixCls} {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  width: 100%;
  height: r(44);

  &-title {
    font-size: 18px;
    font-weight: bold;
  }

  &-left-icon {
    position: absolute;
    left: r(16);
    top: r(5);
    @include icon-size(
      $nav-bar-icon-size
    );
  }

  &-right-icon {
    position: absolute;
    right: r(16);
    top: r(5);
    @include icon-size(
      $nav-bar-icon-size
    );
  }
}
