@import "mixins";

$prefixCls: $prefixCls-nav-bar;

.#{$prefixCls} {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $nav-bar-height;
  background: $nav-bar-color;

  &-title {
    font-size: r(18);
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-icon {
    @include icon-size(
      $nav-bar-icon-size
    );

    &-left {
      margin-left: r(16);
    }

    &-right {
      margin-right: r(16);
    }
  }
}
