@import "mixins";

$prefixCls: $prefixCls-nav-bar;

.#{$prefixCls} {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  width: 100%;
  height: r(44);

  &-title {
    font-size: 18px;
    font-weight: 500;
  }

  &-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    @include icon-size(
      $nav-bar-icon-size
    );
  }

  &-left {
    left: r(16);
  }

  &-right {
    right: r(16);
  }
}
