@import "@site/styles/index";

.index-page {
  .brand {
    padding: r(45) r(45) r(15) r(45);

    &-title {
      font-size: r(30);
    }

    &-description {
      font-size: r(14);
    }
  }

  main {
    padding: r(15);
  }

  .za-panel-body {
    border-radius: r(2);

    &:after {
      display: none;
    }
  }

  .za-cell {
    &:first-of-type {
      &:after {
        display: none;
      }
    }
  }

  .menu-item-content {
    .chinese {
      font-size: r(14);
      margin-left: r(6);
      opacity: .6;
    }
  }
}
