@import '../../style/core/index';
@import 'component';

@include b(input) {
  @include define(textarea-padding-vertical, 5px);

  // 禁用
  @include m(disabled) {
    textarea {
      -webkit-text-fill-color: inherit;
      line-height: 0;
    }
  }

  @include e(textarea) {
    width: 100%;
    background-color: transparent;
    resize: none;
    border: none;
    padding: 0;
  }

  /* stylelint-disable-next-line */
  Input, Textarea {
    &::placeholder {
      color: var(--placeholder-color);
      font-size: var(--font-size);
    }
  }

  @include e(placeholder) {
    color: var(--placeholder-color);
    font-size: var(--font-size);
  }

  @include e(textarea-placholder) {
    color: var(--placeholder-color);
    font-size: var(--font-size);
  }

  /* stylelint-disable-next-line */
  Textarea {
    padding: var(--textarea-padding-vertical) 0;
  }
}
