@import '../../style/core/index';
@import 'component';

@include b(input) {
  @include define(textarea-padding-vertical, 5px);

  // 禁用
  @include m(disabled) {
    textarea {
      -webkit-text-fill-color: inherit;
    }
  }

  @include e(textarea) {
    width: 100%;
    background-color: transparent;
    resize: none;
    border: none;
    padding: var(--textarea-padding-vertical) 0;
  }

  // @include e(content) {
  //   line-height: 0;
  // }
}
