@import '../../style/core/index';
@import 'component';

@include b(input) {
  [type="text"],
  [type="password"],
  [type="search"] {
    &::placeholder {
      color: var(--placeholder-color);
      font-size: var(--font-size);
    }
  }

  [type="search"] {
    &::-webkit-search-cancel-button {
      display: block;
    }
  }

  // 禁用
  @include m(disabled) {
    textarea {
      -webkit-text-fill-color: inherit;
      color: var(--disabled-color);
      // -webkit-text-fill-color: var(--disabled-color);
    }
  }

  @include e(textarea) {
    width: 100%;
    background-color: transparent;
    resize: none;
    border: none;
    padding: 0;
    line-height: 1.5;

    &::placeholder {
      color: var(--placeholder-color);
      font-size: var(--font-size);
    }

    @include m(disabled) {
      color: var(--disabled-color);
    }
  }

  @include e(placeholder) {
    color: var(--placeholder-color);
    font-size: var(--font-size);
  }

  @include e(textarea-placholder) {
    color: var(--placeholder-color);
    font-size: var(--font-size);
  }
}
