@mixin input-base() {
  display: flex;
  position: relative;
  width: 100%;
  color: var(--za-input-color);
  font-size: var(--za-input-font-size);

  input,
  textarea {
    flex: 1;
    position: relative;
    width: 100%;
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: var(--za-input-font-size);
    color: var(--za-input-color);
    line-height: var(--za-input-line-height);

    @include placeholder {
      color: var(--color-text-placeholder);
    }
  }

  input {
    display: inline-block;
    height: var(--za-input-line-height);
  }

  textarea {
    display: block;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
    overflow: visible;
  }

  @include e(inner) {
    flex: 1;
  }

  @include e(label) {
    width: var(--za-input-label-width);
    line-height: var(--za-input-line-height);
  }

  @include e(content) {
    flex: 1;
    position: relative;
    height: var(--za-input-height);
    line-height: var(--za-input-line-height);
  }
}

@mixin input-placeholder() {
  @include placeholder {
    color: var(--color-text-placeholder);
  }
}

@mixin input-clearable() {
  // 隐藏原生search输入框自带的清空按钮
  input::-webkit-search-cancel-button {
    display: none;
  }

  @include e(clear) {
    position: absolute;
    visibility: hidden;
    color: var(--za-input-clear-icon-color);
    width: var(--za-input-clear-icon-width);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: r(16);
  }

  @include m(focus) {
    padding-right: var(--za-input-clear-icon-width);

    @include e(clear) {
      visibility: visible;
    }
  }
}

@mixin input-disabled() {
  input,
  textarea {
    cursor: not-allowed;
    color: var(--color-text-disabled);
    // 用于修复真机上不显示的bug
    -webkit-text-fill-color: var(--color-text-disabled);
    opacity: 1;

    @include placeholder {
      color: var(--color-text-disabled);
    }
  }

  @include e(content) {
    cursor: not-allowed;
    color: var(--color-text-disabled);
  }
}
