@import 'mixins';

@include b(tooltip) {
  display: inline-block;

  @include e(inner) {
    display: block;
  }

  @include e(content) {
    display: none;
    z-index: $--zindex-modal; // 动态添加样式 position: fixed / absolute
    padding: $--tooltip-padding-v $--tooltip-padding-h;
    background-color: rgba(0, 0, 0, $--opacity-tooltip);
    border-radius: 4px;
    font-size: $--tooltip-font-size;
    color: $--tooltip-color;
    border: r(1) solid rgba(0, 0, 0, $--opacity-tooltip);

    @include m(show) {
      display: block;
    }
  }

  @include e(arrow) {
    position: absolute;
    width: $--tooltip-arrow-size;
    height: $--tooltip-arrow-size;
    border-width: 0;
    border-style: solid;
    background-color: rgba(0, 0, 0, $--opacity-tooltip);
    border-color: rgb(0, 0, 0);
    transform: rotate(45deg);
  }

  &__placement__right,
  &__placement__rightTop,
  &__placement__rightBottom {
    margin-left: r(10);

    @include arrow () {
      left: r(-4);
      border-left-width: r(1);
      border-bottom-width: r(1);
    }
  }

  &__placement__top,
  &__placement__topLeft,
  &__placement__topRight {
    margin-bottom: r(10);

    @include arrow () {
      bottom: r(-4);
      border-right-width: r(1);
      border-bottom-width: r(1);
    }
  }

  &__placement__bottom,
  &__placement__bottomLeft,
  &__placement__bottomRight {
    margin-top: r(10);

    @include arrow () {
      top: r(-4);
      border-left-width: r(1);
      border-top-width: r(1);
    }
  }

  &__placement__left,
  &__placement__leftTop,
  &__placement__leftBottom {
    margin-right: r(10);

    @include arrow () {
      right: r(-4);
      border-right-width: r(1);
      border-top-width: r(1);
    }
  }
}
