$prefixCls: $prefixCls-wheel;
$itemHeight: $wheel-item-height;
$itemRows: 5;

.#{$prefixCls} {
  display: block;
  position: relative;
  overflow: hidden;
  height: $itemRows * $itemHeight;
  width: 100%;

  &-content {
    margin-top: 68px;
    // padding: ($itemRows - 1) * $itemHeight / 2 0;
  }

  &-item {
    text-align: center;
    font-size: r(18);
    line-height: $itemHeight;
    height: $itemHeight;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // &-selected {
    //   font-size: r(18);
    //   transition: all 0.1s;
    // }
  }

  // &-indicator {
  //   position: absolute;
  //   right: 0;
  //   left: 0;
  //   top: ($itemRows - 1) * $itemHeight / 2;
  //   height: $itemHeight;
  //   @include onepx(top bottom);
  // }
}
