{
  "extends": ["eslint-config-airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "no-param-reassign": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-alert": ["warn"],
    "max-len": ["warn", 200],
    "padded-blocks": ["error", { "classes": "always" }],
    "global-require": "off",
    "arrow-body-style": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "function-paren-newline": ["error", "consistent"],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "react/prop-types": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],

    "import/extensions": "off"
  }
}
