{
  "extends": ["eslint-config-airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "es6": true
  },
  globals: {
    __CLIENT__: true,
    __SERVER__: true,
    __ENV__: true,
    __DEVELOPMENT__: true,
    __CONFIG__: true,
    __DEBUG__: true,
    __DEVTOOLS__: true,
    __ALLOW_ISOMORPHIC_PROXY__: true,
    webpackIsomorphicTools: true,
    logger: true,
  },
  "rules": {
    "linebreak-style": "off",
    "func-names": ["error", "as-needed"],
    "prefer-arrow-callback": "warn",
    "no-multi-assign": "warn",
    "no-param-reassign": "off",
    "no-unused-expressions": ["error", { allowShortCircuit: true, allowTernary: true }],
    "consistent-return": "off",
    "no-unused-vars": "warn",
    "global-require": "off",
    "max-len": ["warn", 200],
    "no-console": ["warn", { allow: ["debug", "info", "warn", "error"] }],
    "no-bitwise": ["error", { allow: ["~"] }],
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "default-case": "off",
    "comma-dangle": ["error", {
      arrays: "always-multiline",
      objects: "always-multiline",
      imports: "always-multiline",
      exports: "always-multiline",
      functions: "never",
    }],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "warn",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": ["error", { extensions: [".js", ".jsx"] }],
    "react/jsx-closing-bracket-location": ["error", { selfClosing: "props-aligned", nonEmpty: "after-props" }],
    "react/no-array-index-key": "warn",
  },
  rulesLinks: [
    "https://github.com/eslint/eslint/tree/master/docs/rules",
    "https://github.com/benmosher/eslint-plugin-import/tree/master/docs/rules",
    "https://github.com/evcohen/eslint-plugin-jsx-a11y/tree/master/docs/rules",
    "https://github.com/yannickcr/eslint-plugin-react/tree/master/docs/rules",
  ],
}
