*.log*
.DS_Store
.idea
.vscode
.history

# misc
site/.dumi/tmp
site/.dumi/tmp-test
site/.dumi/tmp-production

# npm
package-lock.json
node_modules

# bundle files
es
lib
dist
types

# test
coverage

*.tsbuildinfo
# test coverage
/packages/*/coverage/

.swc
