*.log*
.DS_Store
.idea
.vscode
.history

# misc
site/.dumi/tmp
site/.dumi/tmp-test
site/.dumi/tmp-production

# npm
package-lock.json
node_modules

# bundle files
/packages/*/es
/packages/*/lib
/packages/*/dist
/packages/zarm-icons/svg
/packages/mini-demo/zarm-icons

# coverage
/packages/*/coverage

*.tsbuildinfo
.swc

/packages/*/zarm-icons/**