$ratio: 750/640;

@function r($px, $isFixed:true) {
  @if $px != 0 {
    @return if($isFixed, $px / $ratio + 0.01, $px / $ratio) / $browser-default-font-size * 1rem;
  } 
  @else
  {
    @return 0;
  }
}