
$browser-default-font-size: 14;
$browser-default-font-size-px: 14px !default;

$base-theme-default:       #dadada !default;
$base-theme-success:       #00b15b !default;
$base-theme-info:          #2db7f5 !default;
$base-theme-warning:       #ffba34 !default;
$base-theme-error:         #e93a3a !default;

$base-radius-xl:           r(6) !default;
$base-radius-lg:           r(5) !default;
$base-radius:              r(4) !default;
$base-radius-sm:           r(4) !default;
$base-radius-xs:           r(4) !default;

$base-height-xl:           r(55) !default;
$base-height-lg:           r(50) !default;
$base-height:              r(45) !default;
$base-height-sm:           r(40) !default;
$base-height-xs:           r(30) !default;

$base-padding-xl:          r(14) !default;
$base-padding-lg:          r(12) !default;
$base-padding:             r(10) !default;
$base-padding-sm:          r(8) !default;
$base-padding-xs:          r(4) !default;

$base-fontSize-xl:         r(18) !default;
$base-fontSize-lg:         r(16) !default;
$base-fontSize:            r(15) !default;
$base-fontSize-sm:         r(14) !default;
$base-fontSize-xs:         r(12) !default;

$base-line-height:         1.5 !default;

$base-btn-default-color:   #333 !default;
$base-btn-default-bg:      $base-theme-default !default;
$base-btn-default-border:  $base-btn-default-bg !default;

$base-btn-info-color:      #fff !default;
$base-btn-info-bg:         $base-theme-info !default;
$base-btn-info-border:     $base-btn-info-bg !default;

$base-btn-success-color:   #fff !default;
$base-btn-success-bg:      $base-theme-success !default;
$base-btn-success-border:  $base-btn-success-bg !default;

$base-btn-warning-color:   #fff !default;
$base-btn-warning-bg:      $base-theme-warning !default;
$base-btn-warning-border:  $base-btn-warning-bg !default;

$base-btn-error-color:     #fff !default;
$base-btn-error-bg:        $base-theme-error !default;
$base-btn-error-border:    $base-btn-error-bg !default;




$base-tag-default-color:   #444 !default;
$base-tag-default-bg:      $base-theme-default !default;

$base-tag-info-color:      #fff !default;
$base-tag-info-bg:         $base-theme-info !default;

$base-tag-success-color:   #fff !default;
$base-tag-success-bg:      $base-theme-success !default;

$base-tag-warning-color:   #fff !default;
$base-tag-warning-bg:      $base-theme-warning !default;

$base-tag-error-color:     #fff !default;
$base-tag-error-bg:        $base-theme-error !default;


$base-zindex-mask:         1000 !default;
$base-zindex-modal:        1100 !default;
$base-zindex-loading:      1200 !default;
$base-zindex-message:      1300 !default;


$base-modal-radius:        r(6) !default;
$base-modal-round:         r(20) !default;

$base-icon-url:            'https://at.alicdn.com/t/font_1469689123_124623';

$screen-xs:                 480px !default;

$screen-xs-min:             $screen-xs !default;
$screen-phone:              $screen-xs-min !default;
$screen-sm:                 768px !default;
$screen-sm-min:             $screen-sm !default;
$screen-tablet:             $screen-sm-min !default;

$screen-md:                 992px !default;
$screen-md-min:             $screen-md !default;
$screen-desktop:            $screen-md-min !default;

$screen-lg:                 1200px !default;
$screen-lg-min:             $screen-lg !default;
$screen-lg-desktop:         $screen-lg-min !default;

$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;


$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$container-tablet:          (750px + $grid-gutter-width) !default;
$container-sm:              $container-tablet !default;

$container-desktop:         (970px + $grid-gutter-width) !default;
$container-md:              $container-desktop !default;

$container-large-desktop:   (1170px + $grid-gutter-width) !default;
$container-lg:              $container-large-desktop !default;