
/* base */
$base-fontSize: 14;

$theme-default: #ddd;
$theme-default-light: rgba($theme-default, 0.5);
$theme-default-dark: darken($theme-default, 10%);

$theme-info: #12c287;
$theme-info-light: rgba($theme-info, 0.1);
$theme-info-dark: darken($theme-info, 10%);

$theme-success: #69c964;
$theme-success-light: rgba($theme-success, 0.1);
$theme-success-dark: darken($theme-success, 10%);

$theme-warning: #eca632;
$theme-warning-light: rgba($theme-warning, 0.1);
$theme-warning-dark: darken($theme-warning, 10%);

$theme-error: #e55546;
$theme-error-light: rgba($theme-error, 0.1);
$theme-error-dark: darken($theme-error, 10%);

$radius-xl: r(4);
$radius-lg: r(4);
$radius-md: r(4);
$radius-sm: r(4);
$radius-xs: r(4);

$height-xl: r(52);
$height-lg: r(48);
$height-md: r(44);
$height-sm: r(34);
$height-xs: r(27);

$padding-xl: r(25);
$padding-lg: r(20);
$padding-md: r(16);
$padding-sm: r(15);
$padding-xs: r(10);

$fontSize-xl: r(18);
$fontSize-lg: r(18);
$fontSize-md: r(17);
$fontSize-sm: r(14);
$fontSize-xs: r(14);

$zIndex-mask: 1000;
$zIndex-modal: 1100;
$zIndex-toast: 1300;
$zIndex-loading: 1300;

$disabled-opacity: .5;
$disabled-background: #ddd;
$disabled-color: #bbb;
$placeholder-color: #a9a9a9;
$icon-url: '//at.alicdn.com/t/font_1rke47h9f6r';

/* button */
$button-default-color: #333;
$button-default-bg: $theme-default;
$button-default-border: $theme-default;
$button-default-activebg: $theme-default-light;

$button-info-color: #fff;
$button-info-bg: $theme-info;
$button-info-border: $theme-info;
$button-info-activebg: $theme-info-light;

$button-success-color: #fff;
$button-success-bg: $theme-success;
$button-success-border: $theme-success;
$button-success-activebg: $theme-success-light;

$button-warning-color: #fff;
$button-warning-bg: $theme-warning;
$button-warning-border: $theme-warning;
$button-warning-activebg: $theme-warning-light;

$button-error-color: #fff;
$button-error-bg: $theme-error;
$button-error-border: $theme-error;
$button-error-activebg: $theme-error-light;

$screen-xs:                 480px !default;

$screen-xs-min:             $screen-xs !default;
$screen-phone:              $screen-xs-min !default;
$screen-sm:                 768px !default;
$screen-sm-min:             $screen-sm !default;
$screen-tablet:             $screen-sm-min !default;

$screen-md:                 992px !default;
$screen-md-min:             $screen-md !default;
$screen-desktop:            $screen-md-min !default;

$screen-lg:                 1200px !default;
$screen-lg-min:             $screen-lg !default;
$screen-lg-desktop:         $screen-lg-min !default;

$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;

$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$container-tablet:          (750px + $grid-gutter-width) !default;
$container-sm:              $container-tablet !default;

$container-desktop:         (970px + $grid-gutter-width) !default;
$container-md:              $container-desktop !default;

$container-large-desktop:   (1170px + $grid-gutter-width) !default;
$container-lg:              $container-large-desktop !default;
