
$font-size-base: 14;
$font-size-base-px: 14px;

$theme-default: #383838;
$theme-info: #00aff9;
$theme-success: #50c44a;
$theme-warning: #ffba34;
$theme-error: #f03a3a;

$radius-xl: r(4);
$radius-lg: r(4);
$radius-md: r(4);
$radius-sm: r(4);
$radius-xs: r(4);

$height-xl: r(50);
$height-lg: r(45);
$height-md: r(40);
$height-sm: r(35);
$height-xs: r(30);

$padding-xl: r(25);
$padding-lg: r(20);
$padding-md: r(16);
$padding-sm: r(15);
$padding-xs: r(10);

$fontSize-xl: r(18);
$fontSize-lg: r(16);
$fontSize-md: r(16);
$fontSize-sm: r(14);
$fontSize-xs: r(14);

$zIndex-mask: 1000 !default;
$zIndex-modal: 1100 !default;
$zIndex-toast: 1300 !default;
$zIndex-loading: 1300 !default;

/*$line-height:         1.5 !default;*/
$disabled-opacity: .5;
$disabled-background: #ddd;
$disabled-color: #bbb;
$placeholder-color: #a9a9a9;
$icon-url:            '//at.alicdn.com/t/font_1rke47h9f6r';

$btn-default-color:   #4e4e4e !default;
$btn-default-bg:      #ddd !default;
$btn-default-border:  $btn-default-bg !default;

$btn-info-color:      #fff !default;
$btn-info-bg:         $theme-info !default;
$btn-info-border:     $btn-info-bg !default;

$btn-success-color:   #fff !default;
$btn-success-bg:      $theme-success !default;
$btn-success-border:  $btn-success-bg !default;

$btn-warning-color:   #fff !default;
$btn-warning-bg:      $theme-warning !default;
$btn-warning-border:  $btn-warning-bg !default;

$btn-error-color:     #fff !default;
$btn-error-bg:        $theme-error !default;
$btn-error-border:    $btn-error-bg !default;




$tag-default-color:   #444 !default;
$tag-default-bg:      $theme-default !default;

$tag-info-color:      #fff !default;
$tag-info-bg:         $theme-info !default;

$tag-success-color:   #fff !default;
$tag-success-bg:      $theme-success !default;

$tag-warning-color:   #fff !default;
$tag-warning-bg:      $theme-warning !default;

$tag-error-color:     #fff !default;
$tag-error-bg:        $theme-error !default;

$screen-xs:                 480px !default;

$screen-xs-min:             $screen-xs !default;
$screen-phone:              $screen-xs-min !default;
$screen-sm:                 768px !default;
$screen-sm-min:             $screen-sm !default;
$screen-tablet:             $screen-sm-min !default;

$screen-md:                 992px !default;
$screen-md-min:             $screen-md !default;
$screen-desktop:            $screen-md-min !default;

$screen-lg:                 1200px !default;
$screen-lg-min:             $screen-lg !default;
$screen-lg-desktop:         $screen-lg-min !default;

$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;


$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$container-tablet:          (750px + $grid-gutter-width) !default;
$container-sm:              $container-tablet !default;

$container-desktop:         (970px + $grid-gutter-width) !default;
$container-md:              $container-desktop !default;

$container-large-desktop:   (1170px + $grid-gutter-width) !default;
$container-lg:              $container-large-desktop !default;