@import '../../button/style/mixins';

@include b(action-sheet) {
  @include define(border-radius, 14px);
  @include define(spacing-margin, 8px);
  @include define(item-background, rgba(249, 249, 249, 0.94));
  @include define(item-active-background, var(--za-background-active));
  @include define(item-height, 56px);
  @include define(item-color, var(--za-color-text));
  @include define(item-font-size, 20px);
  @include define(cancel-background, #fff);
  @include define(cancel-color, var(--za-theme-primary));
  @include define(cancel-margin-top, 8px);

  @include m(safe) {
    @include safeIphoneX(true);
  }

  @include m(spacing) {
    margin: var(--spacing-margin);

    @include e(actions, cancel) {
      border-radius: var(--border-radius);
    }
  }

  @include e(actions, cancel) {
    overflow: hidden;
  }

  @include e(cancel) {
    margin-top: var(--cancel-margin-top);

    @include e(item) {
      background-color: var(--cancel-background);
      color: var(--cancel-color);
    }
  }

  @include e(item) {
    display: block;
    position: relative;
    height: var(--item-height);
    line-height: var(--item-height);
    background-color: var(--item-background);
    color: var(--item-color);
    font-size: var(--item-font-size);
    text-align: center;

    &:not(&--disabled):active {
      background-color: var(--item-active-background);
    }

    &:not(:first-of-type) {
      @include onepx(top);
    }

    @include m(primary) {
      @include define(item-color, var(--za-theme-primary));
    }

    @include m(danger) {
      @include define(item-color, var(--za-theme-danger));
    }

    @include m(disabled) {
      cursor: not-allowed;
      @include define(item-color, var(--za-color-text-disabled));
    }
  }
}
