@import '../../button/style/mixins';

$prefixCls: #{$prefix}-action-sheet;

:root {
  @include define(border-radius, 14px);
  @include define(spacing-margin, 8px);
  @include define(item-background, rgba(249, 249, 249, 0.94));
  @include define(item-active-background, var(--background-active));
  @include define(item-height, 56px);
  @include define(item-color, var(--color-text));
  @include define(item-font-size, 20px);
  @include define(cancel-background, #fff);
  @include define(cancel-color, var(--theme-primary));
  @include define(cancel-margin-top, 8px);
}

@include b(action-sheet) {
  @include m(safe) {
    @include safeIphoneX(true);
  }

  @include m(spacing) {
    margin: zavar(spacing-margin);

    @include e(actions, cancel) {
      border-radius: zavar(border-radius);
    }
  }

  @include e(actions, cancel) {
    overflow: hidden;
  }

  @include e(cancel) {
    margin-top: zavar(cancel-margin-top);

    @include e(item) {
      background-color: zavar(cancel-background);
      color: zavar(cancel-color);
    }
  }

  @include e(item) {
    display: block;
    position: relative;
    height: zavar(item-height);
    line-height: zavar(item-height);
    background-color: zavar(item-background);
    color: zavar(item-color);
    font-size: zavar(item-font-size);
    text-align: center;

    &:not(&--disabled):active {
      background-color: zavar(item-active-background);
    }

    &:not(:first-of-type) {
      @include onepx(top);
    }

    @include m(primary) {
      @include define(item-color, var(--theme-primary));
    }

    @include m(danger) {
      @include define(item-color, var(--theme-danger));
    }

    @include m(disabled) {
      cursor: not-allowed;
      @include define(item-color, var(--color-text-disabled));
    }
  }
}
