@include b(pinch-zoom) {
  overflow: hidden;
  position: relative;
  touch-action: none;
  min-height: 100%;

  > * {
    transform: scale(var(--scale)) translate(var(--x), var(--y));
    transform: scale(var(--scale)) translate3d(var(--x), var(--y), 0);
    // will-change: transform;
    transform-origin: 0 0;
    // opacity: 0;
    // transform-origin: 0 0;
  }
}
