@include b(pinch-zoom) {
  touch-action: none;
  min-height: 100%;

  > * {
    transform: scale(var(--scale)) translate(var(--x), var(--y));
    transform: scale(var(--scale)) translate3d(var(--x), var(--y), 0);
    transform-origin: 0 0;
  }
}
