.index-page {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;

  header {
    background-color: transparent;

    .header-container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 30px;
    }

    .logo {
      width: 100px;
      text-align: left;
    }
  }

  main {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 30px;
    height: 100%;
  }

  .introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;

    .title {
      font-size: 64px;
      font-weight: bold;
      line-height: 1;
  
      span {
        color: #12C287;
      }
    }
  
    .description {
      margin-top: 30px;
      font-size: 18px;
      line-height: 1.5;
    }

    .navigation {
      margin-top: 100px;
      margin-bottom: 60px;
      text-align: left;

      button {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: #12C287;
        border: 0;
        color: #fff;
        font-size: 18px;
        border-radius: 25px;
        outline: none;
        margin-right: 15px;
        margin-bottom: 10px;
        padding: 0 30px;

        &:hover {
          background: #10AE79;
        }

        &.ghost {
          border: 1px solid #12C287;
          color: #12C287;
          background-color: #fff;

          &:hover {
            border-color: #10AE79;
            color: #10AE79;
          }
        }
      }
    }
  }

  .banner {
    float: right;
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      animation: banner-move 60s infinite;
    }
  }

}

// 二维码
.ui-dropdown {
  min-width: auto !important;
  line-height: 1;

  &-trigger-box {
    background: transparent;
  }
}

@keyframes banner-move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(-30px, -30px, 0);
  }
  40% {
    transform: translate3d(30px, -30px, 0);
  }
  60% {
    transform: translate3d(-30px, 30px, 0);
  }
  80% {
    transform: translate3d(30px, 30px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 767.99px) {
  .index-page {
    .banner {
      float: none;
      width: 100%;
      height: auto;
    }

    .introduce {
      width: 100%;
      height: auto;
      text-align: center;

      .title {
        display: none;
      }

      .navigation {
        display: flex;
        justify-content: center;
      }
    }
  }
}