$prefixCls: $prefixCls-swipeaction;

.#{$prefixCls} {
  position: relative;

  &-content {
    position: relative;
  }

  &-actions {
    &-left,
    &-right {
      display: flex;
      position: absolute;
      height: 100%;
      top: 0;
    }

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  .#{$prefixCls-button} {
    font-size: r(14) !important;
  }
}
