$prefixCls: $prefixCls-swipeaction;

.#{$prefixCls} {
  position: relative;

  &-content {
    position: relative;
  }

  &-actions {
    &-left,
    &-right {
      display: flex;
      position: absolute;
      height: 100%;
      top: 0;
    }

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  &-button {
    display: flex;
    width: r(80);
    justify-content: center;
    align-items: center;
    font-size: r(14);

    &.theme-default {
      @include button-theme($button-default-color, $button-default-bg, $button-default-border);
      @include button-bordered($button-default-border, $button-default-bg, $button-default-border);
    }

    /* Button themes */
    &.theme-primary {
      @include button-theme($button-primary-color, $button-primary-bg, $button-primary-border);
      @include button-bordered($button-primary-border, $button-primary-bg, $button-primary-border);
    }

    &.theme-info {
      @include button-theme($button-info-color, $button-info-bg, $button-info-border);
      @include button-bordered($button-info-border, $button-info-bg, $button-info-border);
    }

    &.theme-success {
      @include button-theme($button-success-color, $button-success-bg, $button-success-border);
      @include button-bordered($button-success-border, $button-success-bg, $button-success-border);
    }

    &.theme-warning {
      @include button-theme($button-warning-color, $button-warning-bg, $button-warning-border);
      @include button-bordered($button-warning-border, $button-warning-bg, $button-warning-border);
    }

    &.theme-error {
      @include button-theme($button-error-color, $button-error-bg, $button-error-border);
      @include button-bordered($button-error-border, $button-error-bg, $button-error-border);
    }
  }
}
