@use '@/styles/index' as *;

.affix-page {
  .seperator {
    height: 500px;
  }

  .scrollable-container {
    height: 100px;
    overflow-y: scroll;
  }

  .background {
    padding-top: 60px;
    height: 300px;
    background-image: url(https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg);
  }
}
