@use '@/styles/index' as *;

.badge-page {
  .custom-panel {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0 0 0;
    width: 100%;
    flex-flow: wrap;

    .box {
      width: 25%;
      margin-bottom: 25px;
      text-align: center;

      &-item {
        background: #ccc;
        width: 24px;
        height: 24px;
      }
    }
  }
}
