@import "@/styles/index";

.badge-page {
  .custom-panel {
    display: flex;
    justify-content: flex-start;
    padding: r(25) 0 0 0;
    width: 100%;
    flex-flow: wrap;

    .box {
      width: 25%;
      margin-bottom: r(25);
      text-align: center;

      &-item {
        background: #ccc;
        width: r(24);
        height: r(24);
      }
    }
  }
}
