@use '@/styles/index' as *;

.carousel-page {
  .carousel__item__pic {
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }

  .controls {
    display: flex;
    padding: 10px 15px;

    .za-button {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
