@import '@/styles/index';

.config-provider-page {
  .colors {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      width: r(25);
      height: r(25);
      border-radius: r(2);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: r(5);
      }
    }
  }

  @at-root {
    .provider-popup {
      .za-popup--bottom {
        background: #fff;
      }
    }

    .popup-box-bottom {
      height: r(300);
      padding: r(20) r(20) r(100);
    }
  }
}
