@import "@/styles/index";

.icon-page {
  .block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .za-icon {
      margin-bottom: r(8);
      line-height: 1;

      & + span {
        font-size: r(12);
      }
    }
  }
}
