.image-preview-page {
  .carousel__item__pic {
    img {
      width: 100%;
      height: auto;
    }
  }

  .za-pinch-zoom {
    height: 100%;
  }

  .picture-item {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 0;
    box-sizing: content-box;

    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }
}
