@import "@/styles/index";

.popper-page {
  .basic-demo {
    .za-list-item__content {
      padding: r(60) 0;
      justify-content: center;
    }
  }

  @at-root {
    .custom-content,
    .custom-arrow-content {
      padding: r(6) r(12);
      background: #ddd;
      font-size: r(12);
      width: r(100);
      height: r(50);
      color: #333;
    }

    .custom-arrow-content {
      &[data-popper-placement="top-start"],
      &[data-popper-placement="bottom-start"] {
        .za-popper__arrow {
          left: 10px;
        }
      }

      &[data-popper-placement="top-end"],
      &[data-popper-placement="bottom-end"] {
        .za-popper__arrow {
          right: 10px;
        }
      }

      &[data-popper-placement="left-start"],
      &[data-popper-placement="right-start"] {
        .za-popper__arrow {
          top: 4px;
        }
      }

      &[data-popper-placement="left-end"],
      &[data-popper-placement="right-end"] {
        .za-popper__arrow {
          bottom: 4px;
        }
      }
    }
    // 自定义箭头
    .custom-arrow-content {
      .za-popper__arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }

      &[data-popper-placement^=top] {
        // margin-bottom: r(10);

        .za-popper__arrow {
          bottom: r(-4);
          border-width: r(4) r(4) 0;
          border-top-color: #ddd;
        }
      }

      &[data-popper-placement^=right] {
        // margin-left: r(10);

        .za-popper__arrow {
          left: r(-4);
          border-width: r(4) r(4) r(4) 0;
          border-right-color: #ddd;
        }
      }

      &[data-popper-placement^=bottom] {
        // margin-top: r(10);

        .za-popper__arrow {
          top: r(-4);
          border-width: 0 r(4) r(4) r(4);
          border-bottom-color: #ddd;
        }
      }

      &[data-popper-placement^=left] {
        // margin-right: r(10);

        .za-popper__arrow {
          right: r(-4);
          border-width: r(4) 0 r(4) r(4);
          border-left-color: #ddd;
        }
      }
    }
  }

  // 显示方向
  .direction-demo {
    .za-button {
      width: r(60);
      margin-right: r(10);
      margin-bottom: r(10);
    }

    .za-list-item__content {
      padding: r(15) 0;
      justify-content: center;
    }
  }
}
