@import '@/styles/index';

.search-bar-page {
  .button-wrap {
    padding: r(2) r(15) r(10) r(15);
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .search-bar-wrap {
    display: flex;
    align-items: center;
  }
}
