@use '@/styles/index' as *;

.search-bar-page {
  .button-wrap {
    padding: 2px 15px 10px 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .search-bar-wrap {
    display: flex;
    align-items: center;
  }
}
