@use '@/styles/index' as *;

.toast-page {
  @at-root {
    .za-toast {
      .box {
        width: 70px;

        &-icon,
        &-text {
          margin: 5px 0;
        }

        &-icon {
          font-size: 50px;
          color: #fff;
        }
      }
    }
  }
}
