@use '@/styles/index' as *;

.tooltip-page {
  .direction-demo {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  .za-button {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
