$prefixCls: $prefixCls-swipe;

.#{$prefixCls} {
  position: relative;
  overflow: hidden;

  &-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: r(14);
  }

  &-pagination {
    position: absolute;
    right: r(10);
    bottom: r(10);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;

      li {
        width: r(8);
        height: r(8);
        border-radius: r(4);
        background: #ccc;
        cursor: pointer;
        margin: r(3) 0 0 r(3);

        &.active {
          background: $theme-primary;
        }
      }
    }
  }
}
