@include b(pull) {
  @include define(control-height, 50px);
  @include define(control-font-size, 14px);
  @include define(control-padding-vertical, 20px);
  @include define(control-text-color, var(--color-text-caption));
  @include define(control-icon-size, 22px);

  overflow: hidden;
  min-height: var(--control-height);
  // overflow-x: hidden;
  // overflow-y: scroll;
  // height: r(300);
  touch-action: pan-y;

  @include e(content) {
    will-change: transform;
    transform: translate3d(0, var(--control-height), 0);
  }

  @include e(refresh, load) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  @include e(refresh) {
    margin-top: calc(var(--control-height) * -1);
    height: var(--control-height);
  }

  @include e(load) {
    height: 0;

    @include m(show) {
      height: var(--control-height);
    }
  }

  @include e(control) {
    display: flex;
    align-items: center;
    padding: var(--control-padding-vertical) 0;
    height: var(--control-height);
    color: var(--control-text-color);
    font-size: var(--control-font-size);

    @include b(icon) {
      font-size: var(--control-icon-size);
    }

    * + span {
      margin-left: 8px;
    }
  }
}
