@import 'mixins';

@include b(message) {
  display: flex;
  position: relative;
  padding: var(--za-message-padding-vertical) var(--za-message-padding-horizontal);
  min-height: var(--za-message-min-height);
  font-size: var(--za-message-font-size);
  @include message-theme(var(--theme-default));

  @include e(header) {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  @include e(icon) {
    margin-right: r(4);

    @include b(icon) {
      font-size: var(--za-message-icon-size);
    }
  }

  @include e(body) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: r(10);

    @include b(icon) {
      font-size: var(--za-message-icon-size);
      cursor: pointer;
    }
  }

  @include m(link) {
    cursor: pointer;
  }

  @include m(primary) {
    @include message-theme(var(--theme-primary));
  }

  @include m(success) {
    @include message-theme(var(--theme-success));
  }

  @include m(warning) {
    @include message-theme(var(--theme-warning));
  }

  @include m(danger) {
    @include message-theme(var(--theme-danger));
  }
}
