@use 'mixins';
@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/functions";
@use "../../style/core/mixins" as mixins-mixins;

@include sass.b(message) {
  @include mixins-mixins.define(line-height, 18px);
  @include mixins-mixins.define(font-size, var(--za-font-size-xs));
  @include mixins-mixins.define(icon-size, 14px);
  @include mixins-mixins.define(padding, 6px 8px);

  display: flex;
  position: relative;
  line-height: var(--line-height);
  padding: var(--padding);
  font-size: var(--font-size);
  @include mixins.message-theme(var(--za-theme-default));

  @include sass.e(header) {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  @include sass.e(icon) {
    margin-right: functions.r(4);

    @include sass.b(icon) {
      font-size: var(--icon-size);
    }
  }

  @include sass.e(body) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include sass.e(footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: functions.r(10);

    @include sass.b(icon) {
      font-size: var(--icon-size);
      cursor: pointer;
    }
  }

  @include sass.m(link) {
    cursor: pointer;
  }

  @include sass.m(primary) {
    @include mixins.message-theme(var(--za-theme-primary));
  }

  @include sass.m(success) {
    @include mixins.message-theme(var(--za-theme-success));
  }

  @include sass.m(warning) {
    @include mixins.message-theme(var(--za-theme-warning));
  }

  @include sass.m(danger) {
    @include mixins.message-theme(var(--za-theme-danger));
  }
}
