@import 'mixins';

@include b(message) {
  @include define(line-height, 18px);
  @include define(font-size, var(--za-font-size-xs));
  @include define(icon-size, 14px);
  @include define(padding, 6px 8px);

  display: flex;
  position: relative;
  line-height: var(--line-height);
  padding: var(--padding);
  font-size: var(--font-size);
  @include message-theme(var(--za-theme-default));

  @include e(header) {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  @include e(icon) {
    margin-right: r(4);

    @include b(icon) {
      font-size: var(--icon-size);
    }
  }

  @include e(body) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: r(10);

    @include b(icon) {
      font-size: var(--icon-size);
      cursor: pointer;
    }
  }

  @include m(link) {
    cursor: pointer;
  }

  @include m(primary) {
    @include message-theme(var(--za-theme-primary));
  }

  @include m(success) {
    @include message-theme(var(--za-theme-success));
  }

  @include m(warning) {
    @include message-theme(var(--za-theme-warning));
  }

  @include m(danger) {
    @include message-theme(var(--za-theme-danger));
  }
}
