@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/functions";

@mixin message-theme($color) {
  color: $color;
  background-color: functions.alpha($color, 0.1);

  @include sass.b(icon) {
    color: $color;
  }
}
