@include b(swipe-action) {
  position: relative;

  @include e(content) {
    position: relative;
  }

  @include e(left, right) {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
  }

  @include e(left) {
    left: 0;
  }

  @include e(right) {
    right: 0;
  }

  @include b(button) {
    font-size: r(14);
  }
}
