@import '../core/index.scss';

$prefix: za;

:root {
  @include defineColorHSL(--theme-default, 0, 0%, 90%);
  @include defineColorHSL(--theme-primary, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-success, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-warning, 31, 83.1%, 55.9%);
  @include defineColorHSL(--theme-danger, 0, 100%, 65.7%);

  // 文字色
  --color-text: #343434;                             // 基本
  --color-text-inverse: #fff;                        // 反色
  --color-text-placeholder: rgba(128, 128, 132, 0.3); // 文本框提示
  --color-text-disabled: #bcbcbc;                    // 失效
  --color-text-caption: #909090;                     // 辅助描述
  --color-link: var(--theme-primary);                  // 链接
  --color-shadow: rgba(56, 56, 56, 0.15);            // 阴影色

  // 背景色
  --background-color: #fff;
  --background-active: #d4d4d4;
  --background-disabled: #f2f2f2;

  // 边框色
  --border-color: #c5c5c5;
  --border-disabled: #e6e6e6;

  // 圆角
  --radius-xs: 4px;
  --radius-sm: 4px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 8px;
  --radius-round: 1000px;
  --radius-circle: 50%;

  // 水平间距
  --padding-h-xs: 8px;
  --padding-h-sm: 12px;
  --padding-h-md: 16px;
  --padding-h-lg: 20px;
  --padding-h-xl: 24px;

  // 垂直间距
  --padding-v-xs: 6px;
  --padding-v-sm: 8px;
  --padding-v-md: 12px;
  --padding-v-lg: 16px;
  --padding-v-xl: 18px;

  // 字体大小
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 17px;
  --font-size-lg: 20px;
  --font-size-xl: 22px;

  // 堆叠顺序
  --zindex-mask: 1000;
  --zindex-popup: 1100;
  --zindex-tooltip: 1700;
  --zindex-tabbar: 100;

  // 透明度
  --opacity-disabled: 0.5;
  --opacity-mask: 0.4;
  --opacity-toast: 0.8;
  --opacity-tooltip: 0.8;

  //阴影
  --box-shadow-light: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.2);

  // Components

  // ActionSheet
  --za-action-sheet-border-radius: 14px;
  --za-action-sheet-spacing-margin: 0 8px 8px;
  --za-action-sheet-actions-background: rgba(249, 249, 249, 0.94);
  --za-action-sheet-item-height: 56px;
  --za-action-sheet-item-font-size: 20px;
  --za-action-sheet-item-active-background: var(--background-active);
  --za-action-sheet-cancel-background: #fff;
  --za-action-sheet-cancel-color: var(--theme-primary);
  --za-action-sheet-cancel-margin-top: 8px;

  // activity-indicator
  --za-activity-indicator-color: var(--theme-primary);
  --za-activity-indicator-size-md: 22px;
  --za-activity-indicator-size-lg: 29px;
  --za-activity-indicator-path-color: #e6e6e6;
  --za-activity-indicator-spinner-color: #989697;

  // Alert
  --za-alert-button-height: 50px;
  --za-alert-button-font-size: 18px;
  --za-alert-button-background: var(--za-button-default-background);
  --za-alert-button-active-background: var(--background-active);

  // Badge
  --za-badge-height: 14px;
  --za-badge-font-size: 10px;
  --za-badge-padding-horizontal: 4px;
  --za-badge-dot-diameter: 8px;
  --za-badge-border-radius-rect: var(--radius-sm);
  --za-badge-border-radius-round: var(--radius-round);
  --za-badge-sup-top: -4px;
  --za-badge-text-color: #fff;

  // Button
  --za-button-height-xs: 28px;
  --za-button-height-sm: 36px;
  --za-button-height-md: 44px;
  --za-button-height-lg: 52px;
  --za-button-padding-h-xs: var(--padding-h-xs);
  --za-button-padding-h-sm: var(--padding-h-sm);
  --za-button-padding-h-md: var(--padding-h-md);
  --za-button-padding-h-lg: var(--padding-h-lg);
  --za-button-font-size-xs: var(--font-size-sm);
  --za-button-font-size-sm: var(--font-size-sm);
  --za-button-font-size-md: var(--font-size-md);
  --za-button-font-size-lg: var(--font-size-lg);
  --za-button-icon-size-xs: 16px;
  --za-button-icon-size-sm: 18px;
  --za-button-icon-size-md: 22px;
  --za-button-icon-size-lg: 26px;
  --za-button-disabled-opacity: var(--opacity-disabled);
  --za-button-disabled-color-ghost: var(--border-disabled);
  --za-button-default-background: var(--color-text-inverse);
  --za-button-default-border: var(--theme-default);
  --za-button-default-color: var(--color-text);
  --za-button-default-active-background: #e6e6e6;
  --za-button-default-active-border: #e6e6e6;
  --za-button-default-active-color: var(--color-text);
  --za-button-default-ghost-border: var(--color-text-inverse);
  --za-button-default-ghost-color: var(--color-text-inverse);
  --za-button-default-ghost-active-border: #e6e6e6;
  --za-button-default-ghost-active-color: #e6e6e6;
  --za-button-default-shadow-color: rgba(230, 230, 230, 0.3);
  --za-button-primary-background: var(--theme-primary);
  --za-button-primary-border: var(--theme-primary);
  --za-button-primary-color: var(--color-text-inverse);
  --za-button-primary-active-background: var(--theme-primary-dark);
  --za-button-primary-active-border: var(--theme-primary-dark);
  --za-button-primary-active-color: rgba(255, 255, 255, 0.4);
  --za-button-primary-ghost-border: var(--theme-primary);
  --za-button-primary-ghost-color: var(--theme-primary);
  --za-button-primary-ghost-active-border: var(--theme-primary-dark);
  --za-button-primary-ghost-active-color: var(--theme-primary-dark);
  --za-button-primary-shadow-color: rgba(0, 188, 112, 0.3);
  --za-button-danger-background: var(--theme-danger);
  --za-button-danger-border: var(--theme-danger);
  --za-button-danger-color: var(--color-text-inverse);
  --za-button-danger-active-background: var(--theme-danger-dark);
  --za-button-danger-active-border: var(--theme-danger-dark);
  --za-button-danger-active-color: rgba(255, 255, 255, 0.4);
  --za-button-danger-ghost-border: var(--theme-danger);
  --za-button-danger-ghost-color: var(--theme-danger);
  --za-button-danger-ghost-active-border: var(--theme-danger-dark);
  --za-button-danger-ghost-active-color: var(--theme-danger-dark);
  --za-button-danger-shadow-color: rgba(255, 80, 80, 0.3);

  // Calendar
  --calendar-height: 45px; // 最小高度
  --calendar-background: #fff; // 背景色
  --calendar-week-bar-fontsize: 14px; // 星期条文字大小
  --calendar-week-bar-background: #f2f2f2; // 星期条文字背景色
  --calendar-week-bar-color: var(--color-text-caption); // 星期条文字颜色
  --calendar-section-padding: 15px; // 两边留白间距
  --calendar-day-fontsize: 16px; // 月份文字大小
  --calendar-day-title-fontsize: 17px; // 月份title文字大小
  --calendar-day-color: var(--color-text); // 月份日期文字颜色
  --calendar-day-today-background: var(--theme-primary-lighter); // 日期今天选中背景颜色
  --calendar-day-today-color: var(--theme-primary); // 日期今天选中颜色
  --calendar-day-selected-background: var(--theme-primary); // 日期文字选中背景颜色
  --calendar-day-selected-color: #fff; // 日期文字选中颜色
  --calendar-day-selected-shadow: var(--theme-primary-lighter);
  --calendar-day-range-background: var(--theme-primary-lighter); // 日期文字范围内背景颜色
  --calendar-day-range-color: var(--theme-primary); // 日期文字范围内颜色
  --calendar-day-height: 40px; // 日期高度

  // Carousel
  --za-carousel-pagination-distance: 8px;
  --za-carousel-pagination-rect-width: 19px;
  --za-carousel-pagination-rect-height: 4px;
  --za-carousel-pagination-rect-border-radius: 1px;
  --za-carousel-pagination-rect-step: 2px;
  --za-carousel-pagination-rect-color: rgba(255, 255, 255, 0.6);
  --za-carousel-pagination-rect-color-active: #fff;

  // Checkbox
  // 大小
  --za-checkbox-size: 22px;
  // 圆角弧度
  --za-checkbox-radius: var(--radius-circle);
  // 背景色
  --za-checkbox-background: transparent;
  // 边框宽度
  --za-checkbox-border-width: 1px;
  // 边框颜色
  --za-checkbox-border-color: rgb(199, 199, 204);
  // 文本横向边距
  --za-checkbox-text-spacing-horizontal: 8px;
  // 勾选标记颜色
  --za-checkbox-marker-color: #fff;
  // 勾选标记图标大小
  --za-checkbox-marker-font-size: 16px;
  // 勾选标记的动画
  --za-checkbox-marker-transition: all 0.2s cubic-bezier(.71, -0.46, .88, .6);
  // 选中状态背景颜色
  --za-checkbox-checked-background: var(--theme-primary);
  // 选中状态边框颜色
  --za-checkbox-checked-border-color: var(--theme-primary);
  // 选中状态标记颜色
  --za-checkbox-checked-marker-color: var(--theme-primary);
  // 激活状态透明度
  --za-checkbox-active-opacity: 0.6;
  // 禁用状态透背景色
  --za-checkbox-disabled-background: #f2f2f2;
  // 禁用状态边框颜色
  --za-checkbox-disabled-border-color: rgba(199, 199, 204, 0.7);
  // 禁用状态文本颜色
  --za-checkbox-disabled-text-color: rgba(0, 0, 0, 0.3);
  // 禁用状态勾选标记颜色
  --za-checkbox-disabled-marker-color: #bcbcbc;
  // 子项的纵向间距
  --za-checkbox-group-spacing-vertical: 8px;
  // 子项的横向间距
  --za-checkbox-group-spacing-horizontal: 24px;
  // xs大小的按钮样式时子项的纵向间距
  --za-checkbox-group-button-spacing-vertical-xs: var(--padding-v-xs);
  // sm大小的按钮样式时子项的纵向间距
  --za-checkbox-group-button-spacing-vertical-sm: var(--padding-v-sm);
  // md大小的按钮样式时子项的纵向间距
  --za-checkbox-group-button-spacing-vertical-md: var(--padding-v-md);
  // lg大小的按钮样式时子项的纵向间距
  --za-checkbox-group-button-spacing-vertical-lg: var(--padding-v-lg);
  // xs大小的按钮样式时子项的横向间距
  --za-checkbox-group-button-spacing-horizontal-xs: var(--padding-h-xs);
  // sm大小的按钮样式时子项的横向间距
  --za-checkbox-group-button-spacing-horizontal-sm: var(--padding-h-sm);
  // md大小的按钮样式时子项的横向间距
  --za-checkbox-group-button-spacing-horizontal-md: var(--padding-h-md);
  // lg大小的按钮样式时子项的横向间距
  --za-checkbox-group-button-spacing-horizontal-lg: var(--padding-h-lg);

  // Collapse
  --za-collapse-height: 52px;
  --za-collapse-padding-horizontal: 16px;
  --za-collapse-padding-vertical: 15px;
  --za-collapse-arrow-color: #bcbcbc;
  --za-collapse-arrow-disabled-color: #eee;

  // Confirm
  --za-confirm-button-height: 50px;
  --za-confirm-button-font-size: 18px;
  --za-confirm-button-background: var(--za-button-default-background);
  --za-confirm-button-active-background: var(--background-active);

  // List
  // 列表项高度
  --za-list-item-height: 44px;
  // 列表项背景颜色
  --za-list-item-background: #fff;
  // 激活状态背景颜色
  --za-list-item-active-background: rgba(0, 0, 0, 0.15);
  // 列表项纵向内边距
  --za-list-item-padding-vertical: 8px;
  // 列表项横行内边距
  --za-list-item-padding-horizontal: 16px;
  // 列表项内部元素间距
  --za-list-item-space: 5px;
  // 列表项 title 文本字体大小
  --za-list-item-title-font-size: var(--font-size-md);
  // 列表项 title 文本字体行高
  --za-list-item-title-line-height: calc(var(--za-list-item-height) - var(--za-list-item-padding-vertical) * 2);
  // 列表项 title 文本折行
  --za-list-item-title-white-space: nowrap;
  // 列表项 inline 模式下 title 文本区域的宽度
  --za-list-item-inline-title-width: var(--za-input-label-width);
  // 列表项 after 文本颜色
  --za-list-item-after-text-color: rgba(0, 0, 0, 0.45);
  // 列表项 info 文本字体大小
  --za-list-item-info-font-size: 12px;
  // 列表项 info 文本字体行高
  --za-list-item-info-line-height: 15px;
  // 列表项 info 文本字体颜色
  --za-list-item-info-text-color: rgba(60, 60, 67, 0.6);
  // 列表项箭头符号颜色
  --za-list-item-arrow-color: rgba(0, 0, 0, 0.2);
  // 列表项箭头符号线条长度
  --za-list-item-arrow-size: 10px;
  // 列表项箭头符号线条宽度
  --za-list-item-arrow-border-width: 2px;
  // 列表项分割线颜色
  --za-list-item-separator-color: rgba(60, 60, 67, 0.36);

  // Input
  // 高度
  --za-input-height: 28px;
  // 行高
  --za-input-line-height: 28px;
  // 字体大小
  --za-input-font-size: var(--font-size-md);
  // 字体颜色
  --za-input-color: var(--color-text);
  // 占位符字体颜色
  --za-input-placeholder-color: var(--color-text-placeholder);
  // 清除按钮大小
  --za-input-clear-icon-size: 16px;
  // 清除按钮颜色
  --za-input-clear-icon-color: #ccc;
  // 虚拟光标颜色
  --za-input-cursor-color: #597cf6;
  // 虚拟光标线条宽度
  --za-input-cursor-width: 2px;
  // 虚拟光标线条高度
  --za-input-cursor-height: 20px;
  // 输入长度字体大小
  --za-input-length-font-size: var(--font-size-sm);
  // 输入长度字体颜色
  --za-input-length-color: var(--color-text-disabled);
  // 标签栏宽度
  --za-input-label-width: 100px;
  // 纵向标签栏字体大小
  --za-input-vertical-label-font-size: var(--font-size-sm);
  // 禁用状态字体颜色
  --za-input-disabled-color: var(--color-text-disabled);

  // ImagePreview
  --za-image-preview-origin-button-background: #2d2d2d;

  // Keyboard
  --za-keyboard-background: #fff;
  --za-keyboard-item-background: #fff;
  --za-keyboard-item-height: 52px;
  --za-keyboard-item-font-size: 30px;

  // Loading
  --za-loading-background: rgba(0, 0, 0, var(--opacity-toast));

  // Message
  --za-message-min-height: 29px;
  --za-message-font-size: 12px;
  --za-message-icon-size: 14px;
  --za-message-padding-vertical: 6px;
  --za-message-padding-horizontal: 8px;

  // Modal
  --za-modal-background: #fff;
  --za-modal-title-font-size: 18px;
  --za-modal-title-color: var(--color-text);
  --za-modal-close-color: #ccc;
  --za-modal-close-active-color: #999;

  // NavBar
  // 背景色
  --za-nav-bar-background: rgba(249, 249, 249, 0.94);
  // 高度
  --za-nav-bar-height: 44px;
  // 标题字体色
  --za-nav-bar-title-color: var(--color-text);
  // 标题字体大小
  --za-nav-bar-title-font-size: 18px;
  // 标题字体粗细
  --za-nav-bar-title-font-weight: 500;
  // 横向内边距
  --za-nav-bar-padding-horizontal: 16px;

  // NoticeBar
  --za-notice-bar-height: 24px;
  --za-notice-bar-min-height: 40px;
  --za-notice-bar-font-size: 14px;
  --za-notice-bar-padding-vertical: 8px;
  --za-notice-bar-padding-horizontal: 12px;
  --za-notice-bar-icon-size: 16px;

  // Panel
  // 左右留白宽度
  --za-panel-spacing-padding-horizontal: 16px;
  // 头部字体色
  --za-panel-header-color: rgba(60, 60, 67, 0.6);
  // 头部字体大小
  --za-panel-header-font-size: 13px;
  // 头部内边距
  --za-panel-header-padding: 25px 16px 10px 16px;
  // 内容背景
  --za-panel-body-background: #fff;
  // 内容圆角大小
  --za-panel-body-border-radius: 10px;

  // Picker
  --picker-background: #fff;
  --picker-mask-background-start: rgba(255, 255, 255, 0.4);
  --picker-mask-background-end: rgba(255, 255, 255, 0.8);
  --picker-header-height: 45px;
  --picker-header-font-size: 16px;
  --picker-header-background: #f7f7f7;

  // Progress
  --za-progress-background: #f2f2f2;
  --za-progress-width-lg: 100%;
  --za-progress-width-md: 100%;
  --za-progress-width-sm: 140px;
  --za-progress-size-lg: 200px;
  --za-progress-size-md: 150px;
  --za-progress-size-sm: 80px;
  --za-progress-font-size-circle-lg: 30px;
  --za-progress-font-size-circle-md: 24px;
  --za-progress-font-size-circle-sm: 18px;

  // Pull
  --pull-control-height: 50px;
  --pull-control-font-size: 14px;

  // Radio
  // 大小
  --za-radio-size: 22px;
  // 圆角弧度
  --za-radio-radius: var(--radius-circle);
  // 背景色
  --za-radio-background: transparent;
  // 边框宽度
  --za-radio-border-width: 1px;
  // 边框颜色
  --za-radio-border-color: rgb(199, 199, 204);
  // 文本横向边距
  --za-radio-text-spacing-horizontal: 8px;
  // 勾选标记颜色
  --za-radio-marker-color: var(--theme-primary);
  // 勾选标记图标大小
  --za-radio-marker-font-size: 16px;
  // 勾选标记的动画
  --za-radio-marker-transition: all 0.2s cubic-bezier(.71, -0.46, .88, .6);
  // 选中状态背景颜色
  --za-radio-checked-background: transparent;
  // 选中状态边框颜色
  --za-radio-checked-border-color: var(--theme-primary);
  // 选中状态标记颜色
  --za-radio-checked-marker-color: var(--theme-primary);
  // 激活状态透明度
  --za-radio-active-opacity: 0.6;
  // 禁用状态透背景色
  --za-radio-disabled-background: transparent;
  // 禁用状态边框颜色
  --za-radio-disabled-border-color: rgba(199, 199, 204, 0.7);
  // 禁用状态文本颜色
  --za-radio-disabled-text-color: rgba(0, 0, 0, 0.3);
  // 禁用状态勾选标记颜色
  --za-radio-disabled-marker-color: #bcbcbc;
  // 子项的纵向间距
  --za-radio-group-spacing-vertical: 8px;
  // 子项的横向间距
  --za-radio-group-spacing-horizontal: 24px;
  // xs大小的按钮样式时子项的纵向间距
  --za-radio-group-button-spacing-vertical-xs: var(--padding-v-xs);
  // sm大小的按钮样式时子项的纵向间距
  --za-radio-group-button-spacing-vertical-sm: var(--padding-v-sm);
  // md大小的按钮样式时子项的纵向间距
  --za-radio-group-button-spacing-vertical-md: var(--padding-v-md);
  // lg大小的按钮样式时子项的纵向间距
  --za-radio-group-button-spacing-vertical-lg: var(--padding-v-lg);
  // xs大小的按钮样式时子项的横向间距
  --za-radio-group-button-spacing-horizontal-xs: var(--padding-h-xs);
  // sm大小的按钮样式时子项的横向间距
  --za-radio-group-button-spacing-horizontal-sm: var(--padding-h-sm);
  // md大小的按钮样式时子项的横向间距
  --za-radio-group-button-spacing-horizontal-md: var(--padding-h-md);
  // lg大小的按钮样式时子项的横向间距
  --za-radio-group-button-spacing-horizontal-lg: var(--padding-h-lg);

  // SearchBar
  // 高度
  --za-search-bar-height: 52px;
  // 背景色
  --za-search-bar-background: transparent;
  // 左右留白内边距
  --za-search-bar-padding-horizontal: 16px;
  // 输入框高度
  --za-search-bar-input-height: 36px;
  // 输入框字体大小
  --za-search-bar-input-font-size: 17px;
  // 输入框背景色
  --za-search-bar-input-background: rgba(118, 118, 128, 0.12);
  // 输入框圆角大小
  --za-search-bar-input-border-radius: 10px;
  // 输入框内边距
  --za-search-bar-input-padding-horizontal: 8px;
  // 输入框占位符颜色
  --za-search-bar-input-placeholder-color: #808084;
  // 输入框清除图标颜色
  --za-search-bar-input-clear-icon-color: #8e8e92;
  // 输入框图标颜色
  --za-search-bar-icon-color: #808084;
  // 输入框图标右边距
  --za-search-bar-icon-margin-right: 6px;
  // 取消按钮字体大小
  --za-search-bar-cancel-font-size: 17px;
  // 取消按钮字体颜色
  --za-search-bar-cancel-color: var(--theme-primary);
  // 取消按钮左边距
  --za-search-bar-cancel-margin-left: 13px;
  // 取消按钮动画
  --za-search-bar-cancel-transition: all .2s;

  // Slider
  --za-slider-line-background: var(--border-color);
  --za-slider-line-height: 2px;
  --za-slider-line-dot-width: 6px;
  --za-slider-line-dot-color: #fff;
  --za-slider-vertical-line-width: 2px;
  --za-slider-handle-size: 24px;
  --za-slider-handle-size-small: 16px;
  --za-slider-mark-handle: 24px;
  --za-slider-mark-size: 15px;
  --za-slider-handle-background: #fff;
  --za-slider-handle-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  // Stepper
  --za-stepper-input-background: #fff;
  --za-stepper-height-md: 28px;
  --za-stepper-height-lg: 36px;
  --za-stepper-icon-font-size-md: 12px;
  --za-stepper-icon-font-size-lg: 14px;
  --za-stepper-input-width-md: 50px;
  --za-stepper-input-width-lg: 60px;
  --za-stepper-input-disabled: var(--color-text-disabled);
  --za-stepper-input-font-size-md: 14px;
  --za-stepper-input-font-size-lg: 16px;
  --za-stepper-input-margin-horizontal-md: 4px;
  --za-stepper-input-margin-horizontal-lg: 4px;
  --za-stepper-input-padding-horizontal-md: 8px;
  --za-stepper-input-padding-horizontal-lg: 8px;

  // Switch
  // 宽度
  --za-switch-width: 52px;
  // 高度
  --za-switch-height: 32px;
  // 背景颜色
  --za-switch-background: rgba(120, 120, 128, 0.16);
  // 选中状态背景颜色
  --za-switch-checked-background: var(--theme-primary);
  // 圆角
  --za-switch-border-radius: var(--radius-round);
  // 选中动画执行时间
  --za-switch-transition-duration: 0.3s;
  // 把手大小
  --za-switch-knob-size: 28px;
  // 把手背景颜色
  --za-switch-knob-background: #fff;
  // 把手阴影
  --za-switch-knob-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.15);
  // 把手边框颜色
  --za-switch-knob-border-color: rgba(0, 0, 0, 0.04);
  // 把手边框宽度
  --za-switch-knob-border-width: 0.5px;
  // 把手移动动画执行时间
  --za-switch-knob-transition-duration: 0.3s;

  // Tabs
  --za-tabs-height: 45px;
  --za-tabs-line-height: 2px;
  --za-tabs-item-font-size: var(--font-size-lg);
  --za-tabs-item-padding-horizontal: 20px;
  --za-tabs-item-padding-vertical: 12px;

  // Toast
  --za-toast-border-radius: 6px;
  --za-toast-background: rgba(0, 0, 0, var(--opacity-toast));
  --za-toast-color: var(--color-text-inverse);
  --za-toast-font-size: 13px;

  // Tooltip
  --za-tooltip-font-size: 12px;
  --za-tooltip-color: var(--color-text-inverse);
  --za-tooltip-arrow-size: 4px;
  --za-tooltip-padding-vertical: var(--padding-v-xs);
  --za-tooltip-padding-horizontal: var(--padding-h-xs);
  --za-tooltip-background: rgba(0, 0, 0, var(--opacity-tooltip));

  // Tabbar
  --za-tabbar-height: 50px;
  --za-tabbar-hidden-bottom: -50px;
  --za-tabbar-background: #fff;
  --za-tabbar-item-font-size: 12px;
  --za-tabbar-item-active-color: var(--theme-primary);

  // Wheel
  --za-wheel-item-height: 34px;
  --za-wheel-item-rows: 5;
  --za-wheel-item-font-size: 18px;
  --za-wheel-color: var(--color-text);

  // Icon
  --za-icon-font-size-sm: 16px;
  --za-icon-font-size-md: 24px;
  --za-icon-font-size-lg: 32px;
  --za-icon-theme-default: var(--color-text);

  // StackPicker
  --stack-picker-background: #fff;
  --stack-picker-shadow: 0 0 10px rgba(0, 0, 0, .3);
  --stack-picker-error: #ff5050;
  --stack-picker-stack-item-font-size: 16px;
  --stack-picker-crumbs-line-height: 24px;
  --stack-picker-stack-item-height: 35px;
  --stack-picker-padding: 20px;
  --stack-picker-left: 60px;

  // Rate
  --za-rate-size: 20px;
  --za-rate-color: var(--theme-danger);
  --za-rate-unchecked-color: #eee;
  --za-rate-gap: 4px;
}
