@import '../core/index.scss';

:root {
  @include defineColorHSL(--theme-default, 0, 0%, 90%);
  @include defineColorHSL(--theme-primary, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-success, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-warning, 31, 83.1%, 55.9%);
  @include defineColorHSL(--theme-danger, 0, 100%, 65.7%);

  // 文字色
  --color-text: #343434;                             // 基本
  --color-text-inverse: #fff;                        // 反色
  --color-text-placeholder: rgba(128, 128, 132, 0.3); // 文本框提示
  --color-text-disabled: #bcbcbc;                    // 失效
  --color-text-caption: #909090;                     // 辅助描述
  --color-link: var(--theme-primary);                  // 链接
  --color-shadow: rgba(56, 56, 56, 0.15);            // 阴影色

  // 背景色
  --background-color: #fff;
  --background-active: #d4d4d4;
  --background-disabled: #f2f2f2;

  // 边框色
  --border-color: #c5c5c5;
  --border-disabled: #e6e6e6;

  // 圆角
  --radius-xs: 4px;
  --radius-sm: 4px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 8px;
  --radius-round: 1000px;
  --radius-circle: 50%;

  // 水平间距
  --padding-h-xs: 8px;
  --padding-h-sm: 12px;
  --padding-h-md: 16px;
  --padding-h-lg: 20px;
  --padding-h-xl: 24px;

  // 垂直间距
  --padding-v-xs: 6px;
  --padding-v-sm: 8px;
  --padding-v-md: 12px;
  --padding-v-lg: 16px;
  --padding-v-xl: 18px;

  // 字体大小
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 17px;
  --font-size-lg: 20px;
  --font-size-xl: 22px;

  // 堆叠顺序
  --zindex-mask: 1000;
  --zindex-popup: 1100;

  // 透明度
  --opacity-disabled: 0.5;
  --opacity-mask: 0.4;
  --opacity-toast: 0.8;

  //阴影
  --box-shadow-light: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.2);

  // New Variables

  @include defineColorHSL(--za-theme-default, 0, 0%, 90%);
  @include defineColorHSL(--za-theme-primary, 156, 100%, 36.9%);
  @include defineColorHSL(--za-theme-success, 156, 100%, 36.9%);
  @include defineColorHSL(--za-theme-warning, 31, 83.1%, 55.9%);
  @include defineColorHSL(--za-theme-danger, 0, 100%, 65.7%);

  // 文字色
  --za-color-text: #343434;
  --za-color-text-inverse: #fff; // 反色
  --za-color-text-placeholder: rgba(128, 128, 132, 0.3); // 文本框提示
  --za-color-text-disabled: #bcbcbc; // 失效
  --za-color-text-caption: #909090; // 辅助描述
  --za-color-link: var(--za-theme-primary); // 链接
  --za-color-shadow: rgba(56, 56, 56, 0.15); // 阴影色

  // 背景色
  --za-background-color: #fff;
  --za-background-active: #dbdbdd;
  --za-background-disabled: #f2f2f2;

  // 边框色
  --za-border-color: rgba(60, 60, 67, 0.36);
  --za-border-disabled: #e6e6e6;

  // 圆角
  --za-radius-xs: 4px;
  --za-radius-sm: 4px;
  --za-radius-md: 4px;
  --za-radius-lg: 8px;
  --za-radius-xl: 8px;
  --za-radius-round: 1000px;
  --za-radius-circle: 50%;

  // 水平间距
  --za-padding-h-xs: 8px;
  --za-padding-h-sm: 12px;
  --za-padding-h-md: 16px;
  --za-padding-h-lg: 20px;
  --za-padding-h-xl: 24px;

  // 垂直间距
  --za-padding-v-xs: 6px;
  --za-padding-v-sm: 8px;
  --za-padding-v-md: 12px;
  --za-padding-v-lg: 16px;
  --za-padding-v-xl: 18px;

  // 高度
  --za-height-xs: 28px;
  --za-height-sm: 36px;
  --za-height-md: 44px;
  --za-height-lg: 52px;
  --za-height-xl: 60px;

  // 字体大小
  --za-font-size-xs: 14px;
  --za-font-size-sm: 14px;
  --za-font-size-md: 17px;
  --za-font-size-lg: 20px;
  --za-font-size-xl: 22px;

  // 堆叠顺序
  --za-zindex-mask: 1000;
  --za-zindex-popup: 1100;
  --za-zindex-tooltip: 1700;

  // 透明度
  --za-opacity-disabled: 0.5;
  --za-opacity-mask: 0.4;
  --za-opacity-toast: 0.8;
  --za-opacity-tooltip: 0.8;

  //阴影
  --za-box-shadow-light: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  --za-box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.2);

  // 动画
  --za-animation-duration-base: 0.3s;

  // Collapse

  // Input
  // 高度
  --za-input-height: 28px;
  // 行高
  --za-input-line-height: 28px;
  // 字体大小
  --za-input-font-size: var(--font-size-md);
  // 字体颜色
  --za-input-color: var(--color-text);
  // 占位符字体颜色
  --za-input-placeholder-color: var(--color-text-placeholder);
  // 清除按钮大小
  --za-input-clear-icon-size: 16px;
  // 清除按钮颜色
  --za-input-clear-icon-color: #ccc;
  // 虚拟光标颜色
  --za-input-cursor-color: #597cf6;
  // 虚拟光标线条宽度
  --za-input-cursor-width: 2px;
  // 虚拟光标线条高度
  --za-input-cursor-height: 20px;
  // 输入长度字体大小
  --za-input-length-font-size: var(--font-size-sm);
  // 输入长度字体颜色
  --za-input-length-color: var(--color-text-disabled);
  // 标签栏宽度
  --za-input-label-width: 100px;
  // 纵向标签栏字体大小
  --za-input-vertical-label-font-size: var(--font-size-sm);
  // 禁用状态字体颜色
  --za-input-disabled-color: var(--color-text-disabled);

  // Loading
  --za-loading-background: rgba(0, 0, 0, var(--opacity-toast));

  // Message
  --za-message-min-height: 29px;
  --za-message-font-size: 12px;
  --za-message-icon-size: 14px;
  --za-message-padding-vertical: 6px;
  --za-message-padding-horizontal: 8px;

  // NavBar
  // 背景色
  --za-nav-bar-background: rgba(249, 249, 249, 0.94);
  // 高度
  --za-nav-bar-height: 44px;
  // 标题字体色
  --za-nav-bar-title-color: var(--color-text);
  // 标题字体大小
  --za-nav-bar-title-font-size: 17px;
  // 标题字体粗细
  --za-nav-bar-title-font-weight: 500;
  // 左右栏字体大小
  --za-nav-bar-side-font-size: 17px;
  // 横向内边距
  --za-nav-bar-padding-horizontal: 16px;

  // NoticeBar
  --za-notice-bar-height: 24px;
  --za-notice-bar-min-height: 40px;
  --za-notice-bar-font-size: 14px;
  --za-notice-bar-padding-vertical: 8px;
  --za-notice-bar-padding-horizontal: 12px;
  --za-notice-bar-icon-size: 16px;

  // Picker
  --za-picker-background: #fff;
  --za-picker-padding: 16px;
  --za-picker-mask-background-start: rgba(255, 255, 255, 0.4);
  --za-picker-mask-background-end: rgba(255, 255, 255, 0.8);
  --za-picker-header-height: 45px;
  --za-picker-header-font-size: 16px;
  --za-picker-header-background: #f7f7f7;
  --za-picker-item-selected-background: rgba(116, 116, 128, 0.08);
  --za-picker-item-selected-border-radius: 7px;

  // Progress
  --za-progress-background: #f2f2f2;
  --za-progress-width-lg: 100%;
  --za-progress-width-md: 100%;
  --za-progress-width-sm: 140px;
  --za-progress-size-lg: 200px;
  --za-progress-size-md: 150px;
  --za-progress-size-sm: 80px;
  --za-progress-font-size-circle-lg: 30px;
  --za-progress-font-size-circle-md: 24px;
  --za-progress-font-size-circle-sm: 18px;

  // SearchBar
  // 高度
  --za-search-bar-height: 52px;
  // 背景色
  --za-search-bar-background: transparent;
  // 左右留白内边距
  --za-search-bar-padding-horizontal: 16px;
  // 输入框高度
  --za-search-bar-input-height: 36px;
  // 输入框字体大小
  --za-search-bar-input-font-size: 17px;
  // 输入框背景色
  --za-search-bar-input-background: rgba(118, 118, 128, 0.12);
  // 输入框圆角大小
  --za-search-bar-input-border-radius: 10px;
  // 输入框内边距
  --za-search-bar-input-padding-horizontal: 8px;
  // 输入框占位符颜色
  --za-search-bar-input-placeholder-color: #808084;
  // 输入框清除图标颜色
  --za-search-bar-input-clear-icon-color: #8e8e92;
  // 输入框图标颜色
  --za-search-bar-icon-color: #808084;
  // 输入框图标右边距
  --za-search-bar-icon-margin-right: 6px;
  // 取消按钮字体大小
  --za-search-bar-cancel-font-size: 17px;
  // 取消按钮字体颜色
  --za-search-bar-cancel-color: var(--theme-primary);
  // 取消按钮左边距
  --za-search-bar-cancel-margin-left: 13px;
  // 取消按钮动画
  --za-search-bar-cancel-transition: all .2s;

  // Stepper
  --za-stepper-input-background: #fff;
  --za-stepper-height-md: 28px;
  --za-stepper-height-lg: 36px;
  --za-stepper-icon-font-size-md: 12px;
  --za-stepper-icon-font-size-lg: 14px;
  --za-stepper-input-width-md: 50px;
  --za-stepper-input-width-lg: 60px;
  --za-stepper-input-disabled: var(--color-text-disabled);
  --za-stepper-input-font-size-md: 14px;
  --za-stepper-input-font-size-lg: 16px;
  --za-stepper-input-margin-horizontal-md: 4px;
  --za-stepper-input-margin-horizontal-lg: 4px;
  --za-stepper-input-padding-horizontal-md: 8px;
  --za-stepper-input-padding-horizontal-lg: 8px;

  // Tabs
  --za-tabs-height: 45px;
  --za-tabs-line-height: 2px;
  --za-tabs-item-font-size: var(--font-size-md);
  --za-tabs-item-padding-horizontal: 20px;
  --za-tabs-item-padding-vertical: 12px;

  // Toast
  --za-toast-border-radius: 6px;
  --za-toast-background: rgba(0, 0, 0, var(--opacity-toast));
  --za-toast-color: var(--color-text-inverse);
  --za-toast-font-size: 13px;

  // Wheel
  --za-wheel-item-height: 34px;
  --za-wheel-item-rows: 5;
  --za-wheel-item-font-size: 20px;
  --za-wheel-color: var(--color-text);

  // Icon
  --za-icon-font-size-sm: 16px;
  --za-icon-font-size-md: 24px;
  --za-icon-font-size-lg: 32px;
  --za-icon-theme-default: var(--color-text);

  // StackPicker
  --stack-picker-background: #fff;
  --stack-picker-shadow: 0 0 10px rgba(0, 0, 0, .3);
  --stack-picker-error: #ff5050;
  --stack-picker-stack-item-font-size: 16px;
  --stack-picker-crumbs-line-height: 24px;
  --stack-picker-stack-item-height: 35px;
  --stack-picker-padding: 20px;
  --stack-picker-left: 60px;
}
