.#{$prefixCls}-fade {
  &-enter-active {
    animation: 200ms #{$prefixCls}-fade-in both ease-in;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-fade-out both ease-out;
  }
}

@keyframes #{$prefixCls}-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes #{$prefixCls}-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
