@use "~@zarm-design/bem/sass/za" as sass;
@use "../core/mixins/motion";

@mixin fade-motion($className, $keyframeName) {
  $name: #{sass.$prefixCls}-#{$className};
  @include motion.make-motion($name, #{sass.$prefixCls}-#{$keyframeName});
  .#{$name}-enter,
  .#{$name}-appear {
    opacity: 0;
    animation-timing-function: linear;
  }
  .#{$name}-leave {
    animation-timing-function: linear;
  }
}

@include fade-motion(fade, fade);

@keyframes #{sass.$prefixCls}-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes #{sass.$prefixCls}-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
