.#{$prefixCls}-flip {
  &-enter-active {
    animation: 200ms #{$prefixCls}-flip-in both cubic-bezier(0.4, 0, 0, 0);
    backface-visibility: visible !important;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-flip-out both;
    backface-visibility: visible !important;
  }
}

@keyframes #{$prefixCls}-flip-in {
  from {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }

  70% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }

  to {
    opacity: 1;
    transform: perspective(400px);
  }
}

@keyframes #{$prefixCls}-flip-out {
  from {
    opacity: 1;
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }

  to {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
  }
}
