.#{$prefixCls}-move-up {
  &-enter-active {
    animation: 200ms #{$prefixCls}-move-up-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-move-up-leave both ease-in;
  }
}

.#{$prefixCls}-move-down {
  &-enter-active {
    animation: 200ms #{$prefixCls}-move-down-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-move-down-leave both ease-in;
  }
}

.#{$prefixCls}-move-left {
  &-enter-active {
    animation: 200ms #{$prefixCls}-move-left-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-move-left-leave both ease-in;
  }
}

.#{$prefixCls}-move-right {
  &-enter-active {
    animation: 200ms #{$prefixCls}-move-right-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-move-right-leave both ease-in;
  }
}

@keyframes #{$prefixCls}-move-up-enter {
  from {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes #{$prefixCls}-move-up-leave {
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes #{$prefixCls}-move-down-enter {
  from {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes #{$prefixCls}-move-down-leave {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes #{$prefixCls}-move-left-enter {
  from {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes #{$prefixCls}-move-left-leave {
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes #{$prefixCls}-move-right-enter {
  from {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes #{$prefixCls}-move-right-leave {
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
