.#{$prefixCls}-slide-up {
  &-enter-active {
    animation: 200ms #{$prefixCls}-slide-up-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-slide-up-leave both ease-in;
  }
}

.#{$prefixCls}-slide-down {
  &-enter-active {
    animation: 200ms #{$prefixCls}-slide-down-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-slide-down-leave both ease-in;
  }
}

.#{$prefixCls}-slide-left {
  &-enter-active {
    animation: 200ms #{$prefixCls}-slide-left-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-slide-left-leave both ease-in;
  }
}

.#{$prefixCls}-slide-right {
  &-enter-active {
    animation: 200ms #{$prefixCls}-slide-right-enter both ease-out;
  }

  &-exit-active {
    animation: 200ms #{$prefixCls}-slide-right-leave both ease-in;
  }
}



@keyframes #{$prefixCls}-slide-up-enter {
  from {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes #{$prefixCls}-slide-up-leave {
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes #{$prefixCls}-slide-down-enter {
  from {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes #{$prefixCls}-slide-down-leave {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes #{$prefixCls}-slide-left-enter {
  from {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes #{$prefixCls}-slide-left-leave {
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes #{$prefixCls}-slide-right-enter {
  from {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes #{$prefixCls}-slide-right-leave {
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
