@import "../../style/core/index";

@include b(date-select) {
  width: 100%;
  height: 100%;
  background: #fff;

  @include e(input) {
    width: 100%;
    padding: r(12) 0;
    line-height: r(28);
  }

  @include m(placeholder) {
    @include e(input) {
      color: var(--color-text-placeholder);
    }
  }

  @include m(disabled) {
    @include e(input) {
      color: var(--color-text-disabled);
    }
  }
}
