@import "../../button/style/mixins";

@include b(confirm) {
  @include e(body) {
    text-align: center;
  }

  @include e(footer) {
    display: flex;

    &__button {
      flex: 1;
      height: $--confirm-button-height;
      line-height: $--confirm-button-height;
      font-size: $--confirm-button-font-size;
      @include button-base();
      @include onepx(top);

      &:active {
        background-color: $--background-active;
      }

      &:not(:first-of-type) {
        @include onepx(left top);
      }

      @include m(ok) {
        color: $--theme-primary;
      }
    }
  }
}
