$prefixCls: $prefixCls-collapse;

.#{$prefixCls} {
  &-item {
    &-title {
      position: relative;
      height: $collapse-height;
      line-height: $collapse-height;
      padding: 0 $collapse-padding;
      @include onepx(bottom);
    }

    &-content {
      position: relative;
      height: 0;
      overflow: hidden;
      @include onepx(bottom);

      &-inner {
        padding: $padding-v-lg $collapse-padding;
      }
    }

    &-content-anim {
      transition: all 0.15s ease-out;
    }

    &-arrow {
      position: absolute;
      width: r(10);
      height: r(10);
      top: r(17);
      right: $collapse-padding;
      border-right: r(2) solid $collapse-arrow-color;
      border-bottom: r(2) solid $collapse-arrow-color;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;

      &-disabled {
        border-right: r(2) solid $collapse-arrow-disabled-color;
        border-bottom: r(2) solid $collapse-arrow-disabled-color;
      }
    }

    &.active {
      .#{$prefixCls}-item-content {
        height: auto;
      }

      .#{$prefixCls}-item-arrow {
        transform: rotate(-135deg);
        transform-origin: 60% 75%;
      }
    }

    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      &-title,
      &-content {
        &:after {
          width: 200%;
          height: 200%;
          transform: scale(0.5);
        }
      }
    }
  }
}
