@include b(image-preview) {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;

  @include e(title) {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--color-text-inverse);
    height: 60px;
    line-height: 60px;
    font-size: var(--font-size-lg);
  }

  @include e(content) {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(item) {
    text-align: center;
    position: relative;

    img {
      width: 100%;
    }
  }

  @include e(item__img) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(footer) {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-v-lg);
  }

  @include e(index) {
    text-align: right;
    color: var(--color-text-inverse);
    padding: var(--padding-v-lg);
    font-size: var(--font-size-lg);
    flex: 1;
  }

  @include b(popup) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include e(wrapper) {
      padding: 0;
    }
  }

  @include e(loading) {
    vertical-align: middle;
    display: inline-block;
    margin-right: var(--padding-h-xs);
  }

  @include e(origin__button) {
    background: #2d2d2d;
    border: none;
    border-radius: var(--radius-xs);
    font-size: var(--font-size-sm);
    display: inline-block;
    color: var(--color-text-inverse);
    padding: 0 var(--padding-h-sm);
    height: var(--button-height-xs);
    line-height: var(--button-height-xs);
  }

  @include b(carousel) {
    height: 100%;
    width: 100%;
  }

  @include b(carousel__items) {
    height: 100%;
  }

  @include b(mask) {
    background-color: rgba(0, 0, 0, 1);
  }
}
