@import "../../style/core/index";

@include b(image-preview) {
  display: flex;
  height: 100%;
  flex-direction: column;

  @include e(title) {
    text-align: center;
  }

  @include e(content) {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(item) {
    text-align: center;
    position: relative;
    // width: 375px;
    // display: block;
    // float: left;
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;

    img {
      // isplay: block;
      // width: 100%;
      // height: 100%;
      // object-fit: contain;
      width: 100%;

      // height: 100%;
    }
  }

  @include e(item__img) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  @include e(footer) {
    text-align: center;
  }

  @include e(index) {
    text-align: center;
    color: var(--color-text-inverse);
  }

  @include b(popup) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include e(wrapper) {
      padding: 0;
    }
  }

  @include e(loading) {
    vertical-align: middle;
    display: inline-block;
    margin-right: var(--padding-h-xs);
  }

  @include e(origin__button) {
    background: #2d2d2d;
    border: none;
    border-radius: var(--radius-xs);
    font-size: var(--font-size-sm);
    display: inline-block;
    color: var(--color-text-inverse);
    padding: 0 var(--padding-h-sm);
    height: var(--button-height-xs);
    line-height: var(--button-height-xs);
  }

  &.za-popup__wrapper {
    padding: 0;
  }

  .za-carousel {
    // overflow: auto;
    height: 100%;
    width: 100%;

    &__items {
      height: 100%;
      // width: 1125px;
    }

    // &__item {
    //   display: block;
    //   float: left;
    // }
  }
}
