$prefixCls: $prefixCls-segmented-control;

.#{$prefixCls} {
  display: inline-block;
  width: 100%;

  &.block {
    display: block;
  }

  > div {
    display: flex;
    width: 90%;
    margin: 0 auto;

    .tab {
      flex: 1;
      text-align: center;
      font-size: $segmented-control-font-size;
      background: #fff;
      color: $theme-primary;
      line-height: $segmented-control-line-height;
      border: $theme-primary r(1) solid;
      border-right: 0;
      overflow: hidden;
      white-space: nowrap;
      word-break: keep-all;
      text-overflow: ellipsis;
      padding: 0 r(4);
      cursor: pointer;

      > span {
        cursor: pointer;
      }

      &.radius {
        &:first-child {
          border-top-left-radius: $segmented-control-border-radius;
          border-bottom-left-radius: $segmented-control-border-radius;
        }

        &:last-child {
          border-top-right-radius: $segmented-control-border-radius;
          border-bottom-right-radius: $segmented-control-border-radius;
        }
      }

      &.rect {
        &:first-child {
          border-top-left-radius: r(0);
          border-bottom-left-radius: r(0);
        }

        &:last-child {
          border-top-right-radius: r(0);
          border-bottom-right-radius: r(0);
        }
      }

      &.round {
        &:first-child {
          border-top-left-radius: r(12);
          border-bottom-left-radius: r(12);
        }

        &:last-child {
          border-top-right-radius: r(12);
          border-bottom-right-radius: r(12);
        }
      }

      &:last-child {
        border-right: $theme-primary r(1) solid;
      }

      &.active {
        background: $segmented-control-active-tab-background;
        color: $segmented-control-active-tab-fong-color;
      }
    }
  }
}
