@include b(stack-picker) {
  width: 100%;
  height: 100%;
  background: var(--background);

  @include define(background, #fff);
  @include define(shadow, 0 0 10px rgba(0, 0, 0, .3));
  @include define('error-color', #ff5050);
  @include define('item-font-size', 14px);
  @include define('crumbs-line-height', 24px);
  @include define('item-line-height', 24px);
  @include define(padding, 20px);
  @include define(left, 60px);

  @include e(input) {
    width: 100%;
    padding: var(--za-list-item-padding-vertical) 0;
  }

  @include e(placeholder) {
    color: var(--color-text-placeholder);
  }

  @include m(disabled) {
    color: var(--color-text-disabled);
  }

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: var(--za-picker-header-height);
    line-height: var(--za-picker-header-height);
    font-size: var(--za-picker-header-font-size);
    background: var(--za-picker-header-background);
    @include onepx(top);
  }

  @include e(cancel, submit) {
    padding: 0 var(--padding-h-lg);
    cursor: pointer;
  }

  @include e(cancel) {
    color: var(--color-text-caption);
  }

  @include e(submit) {
    color: var(--theme-primary);
  }

  @include e(tab-text) {
    @include m(unselected) {
      color: var(--color-text-placeholder);
    }
  }

  @include e(stack-content) {
    position: relative;
    height: 360px;
    overflow-y: scroll;

    &-wrapper {
      padding-right: var(--padding);
      overflow-y: scroll;
      background: var(--background);
    }

    &-item {
      position: relative;
      padding: 0 r(10);
      line-height: var(--item-line-height);
      font-size: var(--item-font-size);
      color: var(--color-text);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include m(active) {
        color: var(--theme-primary);
      }
    }
  }
}

@include b(stack-picker-tabs) {
  --za-tabs-item-font-size: 14px;

  @include b(tabs) {
    @include e(tab) {
      flex: none;

      @include m(active) {
        color: var(--theme-primary);
      }
    }
  }
}
