@include b(stack-picker) {
  @include define(background, #fff);
  @include define('option-font-size', 14px);
  @include define('option-height', 44px);
  @include define('options-height', 360px);

  width: 100%;
  height: 100%;
  background: var(--background);

  @include e(input) {
    width: 100%;
    padding: var(--za-list-item-padding-vertical) 0;
  }

  @include e(placeholder) {
    color: var(--za-color-text-placeholder);
  }

  @include m(disabled) {
    color: var(--za-color-text-disabled);
  }

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: var(--za-picker-header-height);
    line-height: var(--za-picker-header-height);
    font-size: var(--za-picker-header-font-size);
    background: var(--za-picker-header-background);
    @include onepx(top);
  }

  @include e(cancel, submit) {
    padding: 0 var(--za-padding-h-lg);
    cursor: pointer;
  }

  @include e(cancel) {
    color: var(--za-color-text-caption);
  }

  @include e(submit) {
    color: var(--za-theme-primary);
  }

  @include e(tab-text) {
    @include m(unselected) {
      color: var(--za-color-text-placeholder);
    }
  }

  @include e(stack-content) {
    position: relative;
    height: var(--options-height);
    overflow-y: scroll;

    @include b(list) {
      --za-list-item-height: var(--option-height);
    }

    &-item {
      position: relative;
      padding: 0 r(10);
      background-color: var(--background, --za-list-item-background);
      font-size: var(--option-font-size);
      color: var(--za-color-text);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include m(active) {
        color: var(--za-theme-primary);
      }
    }
  }
}

@include b(stack-picker-tabs) {
  --za-tabs-item-font-size: 14px;

  @include b(tabs) {
    @include e(tab) {
      flex: none;

      @include m(active) {
        color: var(--za-theme-primary);
      }
    }
  }
}
