@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(collapse) {
  @include mixins.define(border-color, var(--za-border-color));
  @include mixins.define(arrow-color, var(--za-arrow-color));
  @include mixins.define(arrow-size, var(--za-arrow-size));
  @include mixins.define(arrow-width, var(--za-arrow-width));
  @include mixins.define(arrow-disabled-color, #eee);
  @include mixins.define(header-height, 44px);
  @include mixins.define(header-padding-horizontal, 16px);
  @include mixins.define(header-padding-vertical, 15px);
  @include mixins.define(header-disable-color, var(--za-color-text-disabled));
  @include mixins.define(content-color, var(--za-color-text-caption));
  @include mixins.define(content-padding-vertical, var(--za-padding-v-sm));
  @include mixins.define(content-padding-horizontal, var(--za-padding-h-sm));

  position: relative;
  @include mixins.onepx(top bottom, var(--border-color));

  @include sass.m(animated) {
    @include sass.b(collapse-item) {
      &__content {
        transition: all 0.3s ease;
      }
    }
  }
}

@include sass.b(collapse-item) {
  &:not(&--disabled) {
    @include sass.e(header) {
      &:active {
        background-color: var(--za-background-active);
      }
    }
  }

  @include sass.e(header) {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    padding: 0 var(--header-padding-horizontal);
    transition-duration: 0.1s;
    transition-property: background-color, color;
    @include mixins.onepx(top, var(--border-color));

    &:after {
      left: var(--header-padding-horizontal);
    }
  }

  @include sass.e(title) {
    flex: 1;
    font-size: 17px;
  }

  @include sass.e(content) {
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 13px;
    color: var(--content-color);
    will-change: height;
    @include mixins.onepx(top, var(--border-color));

    &:after {
      left: var(--header-padding-horizontal);
    }
  }

  @include sass.e(content__inner) {
    padding: var(--content-padding-vertical) var(--content-padding-horizontal);
  }

  @include sass.e(arrow) {
    margin-top: -3px;
    margin-left: 5px;
    margin-right: 2px;

    &:after {
      display: inline-block;
      content: '';
      border-right: var(--arrow-width) solid var(--arrow-color);
      border-top: var(--arrow-width) solid var(--arrow-color);
      width: var(--arrow-size);
      height: var(--arrow-size);
      transform: rotate(135deg);
      transition: all 0.3s ease;
    }
  }

  @include sass.m(disabled) {
    @include sass.e(title) {
      color: var(--header-disable-color);
    }

    @include sass.e(arrow) {
      &:after {
        border-right-color: var(--arrow-disabled-color);
        border-top-color: var(--arrow-disabled-color);
      }
    }
  }

  @include sass.m(active) {
    @include sass.e(content) {
      height: auto;
    }

    @include sass.e(arrow) {
      margin-top: 0;

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
