@import 'mixins';

@include b(badge) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  @include badge-theme(var(--theme-danger));

  @include e(content) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    color: var(--za-badge-text-color);
    font-size: var(--za-badge-font-size);
    height: var(--za-badge-height);
    padding: 0 var(--za-badge-padding-horizontal);
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @include m(primary) {
    @include badge-theme(var(--theme-primary));
  }

  @include m(success) {
    @include badge-theme(var(--theme-success));
  }

  @include m(warning) {
    @include badge-theme(var(--theme-warning));
  }

  @include m(danger) {
    @include badge-theme(var(--theme-danger));
  }

  @include m(dot) {
    @include e(content) {
      width: var(--za-badge-dot-diameter);
      height: var(--za-badge-dot-diameter);
      padding: 0;
      border-radius: var(--radius-circle);
    }
  }

  @include m(radius) {
    @include e(content) {
      border-radius: var(--za-badge-border-radius-rect);
    }
  }

  @include m(round) {
    @include e(content) {
      min-width: var(--za-badge-height);
      border-radius: var(--za-badge-border-radius-round);
    }
  }

  @include m(circle) {
    @include e(content) {
      width: var(--za-badge-height);
      border-radius: var(--radius-circle);
      padding: 0;
    }
  }

  @include m(leaf) {
    @include e(content) {
      min-width: var(--za-badge-height);
      border-radius: var(--za-badge-border-radius-round) var(--za-badge-border-radius-round) var(--za-badge-border-radius-round) 0;
    }
  }

  @include m(sup) {
    @include e(content) {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateX(calc(var(--za-badge-height) / -2)) translateY(var(--za-badge-sup-top));
    }

    @include m(dot) {
      @include e(content) {
        transform: translateX(calc(var(--za-badge-dot-diameter) / -2)) translateY(-50%);
      }
    }
  }
}
