@import 'mixins';

@include b(badge) {
  @include define(height, 14px);
  @include define(font-size, 10px);
  @include define(text-color, #fff);
  @include define(border-radius, var(--za-radius-sm));
  @include define(padding-horizontal, 4px);
  @include define(dot-size, 8px);
  @include define(sup-offset, -4px);

  position: relative;
  display: inline-block;
  vertical-align: middle;
  @include badge-theme(var(--za-theme-danger));

  @include e(content) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    color: var(--text-color);
    font-size: var(--font-size);
    height: var(--height);
    padding: 0 var(--padding-horizontal);
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @include m(primary) {
    @include badge-theme(var(--za-theme-primary));
  }

  @include m(success) {
    @include badge-theme(var(--za-theme-success));
  }

  @include m(warning) {
    @include badge-theme(var(--za-theme-warning));
  }

  @include m(danger) {
    @include badge-theme(var(--za-theme-danger));
  }

  @include m(dot) {
    @include e(content) {
      width: var(--dot-size);
      height: var(--dot-size);
      padding: 0;
      border-radius: var(--za-radius-circle);
    }
  }

  @include m(radius) {
    @include e(content) {
      border-radius: var(--border-radius);
    }
  }

  @include m(round) {
    @include e(content) {
      min-width: var(--height);
      border-radius: var(--za-radius-round);
    }
  }

  @include m(circle) {
    @include e(content) {
      width: var(--height);
      border-radius: var(--za-radius-circle);
      padding: 0;
    }
  }

  @include m(leaf) {
    @include e(content) {
      min-width: var(--height);
      border-radius: var(--za-radius-round) var(--za-radius-round) var(--za-radius-round) 0;
    }
  }

  @include m(sup) {
    @include e(content) {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateX(calc(var(--height) / -2)) translateY(var(--sup-offset));
    }

    @include m(dot) {
      @include e(content) {
        transform: translateX(calc(var(--dot-size) / -2)) translateY(-50%);
      }
    }
  }
}
