$prefixCls: $prefixCls-select;

.#{$prefixCls} {
  width: 100%;
  height: 100%;
  background: #fff;

  &-input {
    width: 100%;
    padding: r(12) 0;
    line-height: r(28);
  }

  &-placeholder {
    color: $color-text-placeholder;
  }

  &-disabled {
    color: $color-text-disabled;
  }
}
