@include b(icon) {
  @include define(color, inherit);
  @include define(font-size, 24px);

  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color);
  font-size: var(--font-size);

  @include m(font) {
    /* stylelint-disable-next-line */
    font-family: 'zaicon';
    line-height: 1;
  }

  &[type='search'] {
    -webkit-appearance: initial !important;
  }

  /* icon themes */
  @include m(primary) {
    @include define(color, var(--za-theme-primary));
  }

  @include m(success) {
    @include define(color, var(--za-theme-success));
  }

  @include m(warning) {
    @include define(color, var(--za-theme-warning));
  }

  @include m(danger) {
    @include define(color, var(--za-theme-danger));
  }

  /* icon sizes */
  @include m(sm) {
    @include define(font-size, 16px);
  }

  @include m(lg) {
    @include define(font-size, 32px);
  }
}
