@include b(carousel) {
  position: relative;
  overflow: hidden;

  @include e(item) {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  @include e(pagination) {
    position: absolute;

    @include e(pagination__item) {
      background: $carousel-pagination-rect-color;
      cursor: pointer;
      border-radius: $carousel-pagination-rect-border-radius;

      @include m(active) {
        background: $carousel-pagination-rect-color-active;
      }
    }

    @include m(horizontal) {
      left: 50%;
      bottom: $carousel-pagination-distance;
      transform: translate3d(-50%, 0, 0);

      @include e(pagination__item) {
        display: inline-block;
        width: $carousel-pagination-rect-width;
        height: $carousel-pagination-rect-height;

        &:not(:last-child) {
          margin-right: $carousel-pagination-rect-step;
        }
      }
    }

    @include m(vertical) {
      top: 50%;
      right: $carousel-pagination-distance;
      transform: translate3d(0, -50%, 0);

      @include e(pagination__item) {
        width: $carousel-pagination-rect-height;
        height: $carousel-pagination-rect-width;

        &:not(:last-child) {
          margin-bottom: $carousel-pagination-rect-step;
        }
      }
    }
  }
}
