// @import '@zarm-design/icons/style';

.button-demo {
  .za-button {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }

  .za-panel__body {
    padding: 15px;
  }
}

.bg-black {
  .za-panel__body {
    background: #000;
  }
}
