@use 'mixins' as mixins2;
@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(nav-bar) {
  @include mixins.define(background, rgba(249, 249, 249, 0.94));
  @include mixins.define(height, 44px);
  @include mixins.define(title-color, var(--za-color-text));
  @include mixins.define(title-font-size, var(--za-font-size-md));
  @include mixins.define(title-font-weight, 500);
  @include mixins.define(side-font-size, var(--za-font-size-md));
  @include mixins.define(padding-horizontal, 16px);

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--height);
  background: var(--background);

  @include sass.e(title) {
    position: absolute;
    left: 50%;
    white-space: nowrap;
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    transform: translate(-50%, 0);
    margin-left: auto;
  }

  @include sass.e(side) {
    display: flex;
    justify-content: center;
    color: var(--za-theme-primary);
    font-size: var(--side-font-size);
    margin-left: auto;

    @include sass.m(left) {
      margin-left: var(--padding-horizontal);
    }

    @include sass.m(right) {
      margin-right: var(--padding-horizontal);
    }
  }
}
