{
  "root": true,
  "extends": ["za/typescript-react"],
  "env": {
    "jest": true
  },
  "rules": {
    "react/no-deprecated": "off",
    "react/sort-comp": ["error", {
      "order": [
        "static-variables",
        "static-methods",
        "instance-variables",
        "lifecycle",
        "/^on.+$/",
        "getters",
        "setters",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "instance-methods",
        "everything-else",
        "rendering"
      ]
    }]
  }
}