$prefixCls: $prefixCls-input;

.#{$prefixCls} {
  position: relative;
  width: 100%;
  padding: $input-padding-size 0;
  color: $color-text;

  &.clearable {
    padding-right: $input-clear-icon-width;

    .#{$prefixCls}-content {
      right: $input-clear-icon-width;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: $color-text-disabled;
  }

  input,
  textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    background-color: #fff;
    background-image: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    color: $color-text;

    &[type="date"],
    &[type="text"],
    &[type="search"] {
      height: $input-line-height;
    }

    &::-webkit-input-placeholder {
      color: $color-text-placeholder;
    }

    &:disabled {
      cursor: not-allowed;
      color: $color-text-disabled;
    }
  }

  textarea {
    display: block;
    line-height: $input-line-height;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    overflow: visible;
  }

  &-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: $color-text-placeholder;
  }

  &-clear {
    position: absolute;
    visibility: hidden;
    color: #bcbcbc;
    width: $input-clear-icon-width;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: r(16);
    line-height: r(20);

    &-show {
      visibility: visible;
    }
  }

  &-length {
    text-align: right;
    color: $input-length-count-color;
    font-size: r(12);
  }

  &-number {
    line-height: $input-line-height;
    padding: $input-line-height / 2 0;

    &-picker {
      background-color: #fff;
    }

    &.focus {
      .#{$prefixCls}-content {
        transform: translate3d(0, 0, 0);

        &:after {
          content: ' ';
          display: inline-block;
          position: relative;
          right: 0;
          top: 13%;
          height: $input-cursor-height;
          border-right: $input-cursor-width solid $input-cursor-color;
          animation: custom-cursor 1s infinite step-start;
        }
      }
    }
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    right: r(0);
    // width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@keyframes custom-cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
