@import 'mixins';

@include b(input) {
  @include input-base();
  @include input-clearable();
  @include input-placeholder();

  // 多种类型
  @include m(number) {
    @include input-keyboard();
  }

  @include m(price) {
    @include input-keyboard();
  }

  @include m(idcard) {
    @include input-keyboard();
  }

  @include m(textarea) {
    @include e(length) {
      text-align: right;
      color: var(--input-length-count-color);
      font-size: r(12);
    }
  }

  // 可清空
  @include m(clearable) {
    @include input-clearable();
  }

  // 只读
  @include m(readonly) {
    @include e(content) {
      height: auto;
    }
  }

  // 禁用
  @include m(disabled) {
    @include input-disabled();
  }
}
