$prefixCls: $prefixCls-input;

.#{$prefixCls} {
  position: relative;
  width: 100%;
  padding: r(12) 0;

  &.clearable {
    padding-right: r(30);

    .#{$prefixCls}-content {
      right: r(30);
    }
  }

  input,
  textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    background-color: #fff;
    background-image: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;

    &[type="date"],
    &[type="text"],
    &[type="search"] {
      height: r(21);
    }

    &::-webkit-input-placeholder {
      color: $color-text-placeholder;
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      opacity: $opacity-disabled;
    }
  }

  textarea {
    display: block;
    line-height: 1.42857143;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    overflow: visible;
  }

  &-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #c1c1c1;
  }

  &-clear {
    position: absolute;
    visibility: hidden;
    color: #d5d5d5;
    width: r(30);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: r(18);

    &-show {
      visibility: visible;
    }
  }

  &-length {
    text-align: right;
    color: #c1c1c1;
    font-size: r(12);
  }

  &-number {
    line-height: r(24);

    &-picker {
      background-color: #fff;
    }

    &.focus {
      .#{$prefixCls}-content {
        transform: translate3d(0, 0, 0);

        &:after {
          content: ' ';
          position: relative;
          right: 0;
          top: 10%;
          height: 80%;
          border-right: 1.5px solid #108ee9;
          animation: custom-cursor 1s infinite step-start;
        }
      }
    }
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    right: r(0);
    // width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@keyframes custom-cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
