@include b(image-preview) {
  @include define(footer-padding, var(--za-padding-v-lg) var(--za-padding-h-lg));
  @include define(pagination-text-color, var(--za-color-text-inverse));
  @include define(pagination-font-size, var(--za-font-size-lg));

  padding: 0;

  @include e(title) {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    line-height: 60px;
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--za-color-text-inverse);
  }

  @include e(content) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  @include e(item) {
    img {
      max-width: 100%;
      max-height: 100%;
      display: none;
    }
  }

  @include e(loading) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  @include e(footer) {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: var(--footer-padding);
  }

  @include e(pagination) {
    flex: 1;
    text-align: right;
    color: var(--pagination-text-color);
    font-size: var(--pagination-font-size);
  }

  @include b(popup) {
    width: 100%;
    height: 100%;
  }

  @include b(carousel) {
    height: 100%;
    width: 100%;

    @include e(items) {
      height: 100%;
    }
  }
}
