@include b(image-preview) {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;

  @include e(title) {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--color-text-inverse);
    height: r(60);
    line-height: r(60);
    font-size: var(--font-size-lg);
  }

  @include e(content) {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;

    @include m(landscape) {
      overflow: hidden;

      @include e(item) {
        overflow: hidden;

        img {
          // height: 100%;
          width: auto;
          // height: 100vh;
        }
      }
    }
  }

  @include e(item) {
    // text-align: center;
    position: relative;
    overflow: auto;

    img {
      width: 100%;
    }
  }

  @include e(item__img) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  @include e(footer) {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-v-lg);
    touch-action: none;
  }

  @include e(index) {
    text-align: right;
    color: var(--color-text-inverse);
    padding: var(--padding-v-lg);
    font-size: var(--font-size-lg);
    flex: 1;
  }

  @include b(popup) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include e(wrapper) {
      padding: 0;
    }
  }

  @include e(loading) {
    vertical-align: middle;
    display: inline-block;
    margin-right: var(--padding-h-xs);
  }

  @include e(origin__button) {
    background: var(--za-image-preview-origin-button-background);
    border: none;
    border-radius: var(--radius-xs);
    font-size: var(--font-size-sm);
    display: inline-block;
    color: var(--color-text-inverse);
    padding: 0 var(--padding-h-sm);
    height: var(--za-button-height-xs);
    line-height: var(--za-button-height-xs);
    touch-action: none;
  }

  @include b(carousel) {
    height: 100%;
    width: 100%;
  }

  @include b(carousel__items) {
    height: 100%;
  }

  @include b(mask) {
    background-color: rgba(0, 0, 0, 1);
  }
}
