.markdown {
  line-height: 2;
  font-size: 14px;
  color: #1f2d3d;

  a {
    transition: color 0.3s ease;
    color: #00bc70;

    &:hover {
      color: #00d17d;
    }
  }

  .grid-container {
    overflow-x: auto;
    margin: 20px 0;
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    > li {
      margin-left: 20px;
      padding-left: 4px;
      list-style-type: circle;
    }
  }

  pre {
    margin: 0;
    padding: 1em;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 1.6em 0 0.6em;
  }

  h3 {
    font-size: 18px;
    margin: 1.6em 0 0.6em;
  }

  blockquote {
    margin: 0;
    padding: 0 20px;
    color: #6a737d;
    border-left: 4px solid #dfe2e5;
  }

  table.grid {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    width: 100%;
    min-width: 600px;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;

    strong {
      font-weight: normal;
    }

    th {
      text-align: left;
      border-top: 1px solid #eaeefb;
      background-color: #f9fafc;
      white-space: nowrap;
      font-weight: normal;
      color: #999;
    }

    td,
    th {
      border-bottom: 1px solid #eaeefb;
      padding: 10px;
      max-width: 250px;
    }

    th:first-child,
    td:first-child {
      padding-left: 15px;
    }
  }
}
