@include b(picker-view) {
  position: relative;
  bottom: 0;
  width: 100%;
  height: r(210);
  padding: r(20) 0;
  background: var(--picker-background);

  @include e(mask) {
    width: 100%;
    height: r(88);
    pointer-events: none;
    transform: translateZ(0);

    @include m(top) {
      position: absolute;
      top: 0;
      background: linear-gradient(to top, var(--picker-mask-background-start), var(--picker-mask-background-end));

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid var(--picker-line);
        transform-origin: 0 bottom;
      }
    }

    @include m(bottom) {
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, var(--picker-mask-background-start), var(--picker-mask-background-end));

      &:before {
        content: '';
        display: block;
        position: absolute;
        border-top: 1px solid var(--picker-line);
        left: 0;
        top: 0;
        width: 100%;
        transform-origin: 0 top;
      }
    }
  }

  @include e(content) {
    display: flex;
  }
}
