@import '../../style/core/index';
@import 'component';

@include b(loading) {
  @include define(strokeWidth, 3px);

  @include m(circular) {
    border-radius: 50%;
    position: relative;
    animation: rotate 1.5s linear infinite;

    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0;
      border-radius: 50%;
      border: var(--strokeWidth) solid var(--stroke-active-color);
      animation: circle 1.5s linear infinite;
    }
  }
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@keyframes circle {
  0% { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
  25% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  50% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
  75% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
  100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
}