@include b(popper) {
  @include define(arrow-left, 10px);
  @include define(arrow-right, 10px);
  @include define(arrow-top, 5px);
  @include define(arrow-bottom, 5px);

  @include m(top-left, bottom-left) {
    @include e(arrow) {
      left: var(--arrow-left);
    }
  }

  @include m(top-right, bottom-right) {
    @include e(arrow) {
      right: var(--arrow-right);
    }
  }

  @include m(left-top, right-top) {
    @include e(arrow) {
      top: var(--arrow-top);
    }
  }

  @include m(left-bottom, right-bottom) {
    @include e(arrow) {
      bottom: var(--arrow-bottom);
    }
  }
}
