@include b(popper) {
  @include define(arrowLeft, 10px);
  @include define(arrowRight, 10px);
  @include define(arrowTop, 10px);
  @include define(arrowBottom, 10px);

  @include m(topLeft, bottomLeft) {
    @include e(arrow) {
      left: var(--arrowLeft);
    }
  }

  @include m(topRight, bottomRight) {
    @include e(arrow) {
      right: var(--arrowRight);
    }
  }

  // @include m(top, bottom) {
  //   @include e(arrow) {
  //     left: 50%;
  //     transform: translateX(-50%);
  //   }
  // }

  // @include m(left, right) {
  //   @include e(arrow) {
  //     top: 50%;
  //     transform: translateY(-50%);
  //   }
  // }

  @include m(leftTop, rightTop) {
    @include e(arrow) {
      top: var(--arrowTop);
    }
  }

  @include m(leftBottom, rightBottom) {
    @include e(arrow) {
      bottom: var(--arrowBottom);
    }
  }
}
