@include b(popper) {
  @include define(arrow-left, 10px);
  @include define(arrow-right, 10px);
  @include define(arrow-top, 5px);
  @include define(arrow-bottom, 5px);

  @include m(topLeft, bottomLeft) {
    @include e(arrow) {
      left: var(--arrow-left);
    }
  }

  @include m(topRight, bottomRight) {
    @include e(arrow) {
      right: var(--arrow-right);
    }
  }

  @include m(leftTop, rightTop) {
    @include e(arrow) {
      top: var(--arrow-top);
    }
  }

  @include m(leftBottom, rightBottom) {
    @include e(arrow) {
      bottom: var(--arrow-bottom);
    }
  }
}
