@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(grid) {
  @include mixins.define(border-color, var(--za-border-color));
  @include mixins.define(item-background, var(--za-background-color));
  @include mixins.define(item-active-background, var(--za-background-active));

  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include sass.m(bordered) {
    @include mixins.onepx(top left, var(--border-color));

    &::after {
      z-index: 1;
    }

    @include sass.b(grid-item) {
      @include sass.e(content) {
        @include mixins.onepx(right bottom, var(--border-color));

        &::after {
          z-index: 1;
        }
      }

      @include sass.m(horizontal-bordered) {
        @include sass.e(content) {
          &::after {
            border-left-width: 1px;
            border-right-width: 1px;
          }
        }
      }

      @include sass.m(vertical-bordered) {
        @include sass.e(content) {
          &::after {
            border-top-width: 1px;
            border-bottom-width: 1px;
          }
        }
      }
    }
  }

  @include sass.m(square) {
    @include sass.b(grid-item) {
      height: 0;

      @include sass.e(content) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

@include sass.b(grid-item) {
  position: relative;

  @include sass.m(clickable) {
    @include sass.e(content) {
      &:active {
        background: var(--item-active-background);
      }
    }
  }

  @include sass.e(content) {
    height: 100%;
    background: var(--item-background);
    position: relative;
    transition: 200ms;
  }
}
