@import '../../style/core/index';

$prefixCls: #{$prefix}-grid;

:root {
  --#{$prefixCls}-border-color: var(--border-color);
  --#{$prefixCls}-background-color: var(--background-color);
  --#{$prefixCls}-background-active-color: var(--background-active);
}

@include b(grid) {
  --border-color: var(--#{$prefixCls}-border-color);
  --background-color: var(--#{$prefixCls}-background-color);
  --background-active-color: var(--#{$prefixCls}-background-active-color);

  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include m(bordered) {
    @include onepx(top left, var(--border-color));

    &::after {
      z-index: 1;
    }

    @include b(grid-item) {
      @include e(content) {
        @include onepx(right bottom, var(--border-color));

        &::after {
          z-index: 1;
        }
      }

      @include m(horizontal-bordered) {
        @include e(content) {
          &::after {
            border-left-width: 1px;
            border-right-width: 1px;
          }
        }
      }

      @include m(vertical-bordered) {
        @include e(content) {
          &::after {
            border-top-width: 1px;
            border-bottom-width: 1px;
          }
        }
      }
    }
  }

  @include m(square) {
    @include b(grid-item) {
      height: 0;
      @include e(content) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

@include b(grid-item) {
  position: relative;
  box-sizing: border-box;

  @include m(clickable) {
    @include e(content) {
      &:active {
        background-color: var(--background-active-color);
      }
    }
  }

  @include e(content) {
    box-sizing: border-box;
    height: 100%;
    background: var(--background-color);
    position: relative;
    transition: 200ms;
  }
}
