
@include b(search-bar) {
  background: #fff;

  @include e(input) {
    padding: r(10) 0;

    input {
      -webkit-appearance: none;
      position: absolute;
      left: r(0);
      top: r(0);
      opacity: 0;
      width: 100%;
      text-align: left;
      color: #000;
      height: r(20);
      font-size: r(14);
      line-height: r(20);
      background-color: transparent;
      border: 0;

      &::-webkit-search-cancel-button {
        display: none;
      }

      @include placeholder {
        color: transparent;
      }
    }
  }

  @include e(form) {
    height: r(44);
    margin: 0 r(15);
    display: flex;
    align-items: center;
    background: #fff;
    overflow: hidden;
  }

  @include e(content) {
    position: relative;
    flex: 1;
    width: 100%;
    height: r(28);
    padding: r(4);
    background: #eee;
    overflow: hidden;
  }

  @include e(mock) {
    position: absolute;
    left: 0;
    width: 100%;
    height: r(20);
    line-height: r(20);
    font-size: r(14);
    color: #7e7e7e;

    @include e(mock__container) {
      display: inline-block;
      height: 100%;
      transform: translate3d(r(10), 0, 0);
    }

    @include e(mock__placeholder) {
      vertical-align: middle;
    }

    @include b(icon) {
      font-size: r(17);
      vertical-align: middle;
      margin-right: r(3);
    }
  }

  @include e(cancel) {
    font-size: r(14);
    color: #333;
    margin-left: r(15);

    @include m(show) {
      transition: all .2s;
      margin-right: 0;
    }
  }

  @include m(focus) {
    @include e(input) {
      input {
        opacity: 1;
        padding: 0 r(28) 0 r(26);
      }
    }
  }

  @include m(radius) {
    @include e(content) {
      border-radius: $radius-md;
    }
  }

  @include m(round) {
    @include e(content) {
      border-radius: $radius-round;
    }
  }

  @include m(circle) {
    @include e(content) {
      border-radius: $radius-circle;
    }
  }
}
