$prefixCls: $prefixCls-searchbar;

.#{$prefixCls} {
  background: #fff;

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: none;
    position: absolute;
    left: r(0);
    top: r(2);
    opacity: 0;
    width: 100%;
    text-align: left;
    color: #000;
    // height: r(24);
    font-size: r(15);
    line-height: r(21);
    background-color: transparent;
    border: 0;

    &::placeholder {
      color: transparent;
    }
  }

  &-form {
    height: r(45);
    margin: 0 r(15);
    display: flex;
    align-items: center;
    background: #fff;
    overflow: hidden;

    &-focus {
      input[type="search"] {
        opacity: 1;
        padding: 0 r(28) 0 r(26);
      }
    }
  }

  &-content {
    position: relative;
    flex: 1;
    width: 100%;
    height: r(30);
    padding: r(3);
    background: #eee;
    overflow: hidden;

    &.shape-radius {
      border-radius: $radius-md;
    }

    &.shape-round {
      border-radius: $radius-round;
    }

    &.shape-circle {
      border-radius: $radius-circle;
    }
  }

  &-mock {
    position: absolute;
    left: 0;
    // top: r(5);
    width: 100%;
    height: r(24);
    line-height: r(24);
    font-size: r(15);
    color: #7e7e7e;

    &-container {
      display: inline-block;
      height: 100%;
      transform: translate3d(r(10), 0, 0);
    }

    &-placeholder {
      vertical-align: middle;
    }

    .za-icon-search {
      font-size: r(17);
      vertical-align: middle;
      margin-right: r(3);
    }
  }

  &-cancel {
    font-size: r(14);
    color: #333;
    margin-left: r(15);

    &-show {
      transition: all .2s;
      margin-right: 0;
    }
  }
}
