@import "../../style/core/index";

@include b(search-bar) {
  background: #fff;

  @include e(input) {
    padding: r(10) 0;

    input {
      -webkit-appearance: none;
      position: absolute;
      left: r(0);
      top: r(0);
      opacity: 0;
      width: 100%;
      text-align: left;
      color: #000;
      height: r(20);
      font-size: var(--search-bar-font-size);
      line-height: r(20);
      background-color: transparent;
      border: 0;
      caret-color: var(--search-bar-caret-color);

      &::-webkit-search-cancel-button {
        display: none;
      }

      @include placeholder {
        color: transparent;
      }
    }
  }

  @include e(form) {
    height: r(44);
    margin: 0 r(15);
    display: flex;
    align-items: center;
    background: #fff;
    overflow: hidden;
  }

  @include e(content) {
    position: relative;
    flex: 1;
    width: 100%;
    height: r(28);
    padding: r(3);
    background: #f2f2f2;
    overflow: hidden;
  }

  @include e(mock) {
    position: absolute;
    left: 0;
    width: 100%;
    height: r(22);
    line-height: r(22);
    font-size: var(--search-bar-font-size);
    color: var(--color-text-placeholder);

    @include e(mock__container) {
      display: inline-block;
      height: 100%;
      transform: translate3d(r(10), 0, 0);
    }

    @include b(icon) {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-right: r(2);
      font-size: var(--search-bar-icon-size);
      color: var(--color-text-placeholder);
    }
  }

  @include e(cancel) {
    font-size: var(--search-bar-font-size);
    color: var(--color-text);
    margin-left: r(15);

    @include m(show) {
      transition: all .2s;
      margin-right: 0;
    }
  }

  @include m(focus) {
    @include e(input) {
      input {
        opacity: 1;
        padding: 0 r(28) 0 r(26);
      }
    }
  }

  @include m(radius) {
    @include e(content) {
      border-radius: var(--radius-md);
    }
  }

  @include m(round) {
    @include e(content) {
      border-radius: var(--radius-round);
    }
  }
}
