@import "mixins";

@include b(button) {
  display: inline-block;
  @include button-base();
  @include button-shape($--radius-md);
  @include button-size(
    $--button-height-md,
    $--button-padding-h-md,
    $--button-font-size-md,
    $--button-icon-size-md,
  );
  @include button-theme(
    $--button-default-background,
    $--button-default-border,
    $--button-default-color,
    $--button-default-active-background,
    $--button-default-active-border,
    $--button-default-active-color,
    $--button-default-background,
    $--button-default-border,
    $--color-text-disabled,
    $--button-disabled-opacity,
  );
  @include button-ghost(
    $--button-default-ghost-border,
    $--button-default-ghost-color,
    $--button-default-ghost-active-border,
    $--button-default-ghost-active-color,
  );
  @include button-link(
    $--button-default-color,
    $--button-default-active-color,
  );

  /* Button sizes */
  @include m(lg) {
    @include button-size(
      $--button-height-lg,
      $--button-padding-h-lg,
      $--button-font-size-lg,
      $--button-icon-size-lg,
    );
  }

  @include m(md) {
    @include button-size(
      $--button-height-md,
      $--button-padding-h-md,
      $--button-font-size-md,
      $--button-icon-size-md,
    );
  }

  @include m(sm) {
    @include button-size(
      $--button-height-sm,
      $--button-padding-h-sm,
      $--button-font-size-sm,
      $--button-icon-size-sm,
    );
  }

  @include m(xs) {
    @include button-size(
      $--button-height-xs,
      $--button-padding-h-xs,
      $--button-font-size-xs,
      $--button-icon-size-xs,
    );
  }

  /* Button themes */
  @include m(primary) {
    @include button-theme(
      $--button-primary-background,
      $--button-primary-border,
      $--button-primary-color,
      $--button-primary-active-background,
      $--button-primary-active-border,
      $--button-primary-active-color,
      $--button-primary-background,
      $--button-primary-border,
      $--button-primary-color,
      $--button-disabled-opacity,
    );
    @include button-ghost(
      $--button-primary-ghost-border,
      $--button-primary-ghost-color,
      $--button-primary-ghost-active-border,
      $--button-primary-ghost-active-color,
    );
    @include button-link(
      $--button-primary-ghost-color,
      $--button-primary-ghost-active-color,
    );
  }

  @include m(danger) {
    @include button-theme(
      $--button-danger-background,
      $--button-danger-border,
      $--button-danger-color,
      $--button-danger-active-background,
      $--button-danger-active-border,
      $--button-danger-active-color,
      $--button-danger-background,
      $--button-danger-border,
      $--button-danger-color,
      $--button-disabled-opacity,
    );
    @include button-ghost(
      $--button-danger-ghost-border,
      $--button-danger-ghost-color,
      $--button-danger-ghost-active-border,
      $--button-danger-ghost-active-color,
    );
  }

  @include m(rect) {
    @include button-shape(0);
  }

  @include m(radius) {
    @include button-shape($--radius-md);
  }

  @include m(round) {
    @include button-shape($--radius-round);
  }

  @include m(circle) {
    @include button-shape($--radius-circle);
  }

  @include e(content) {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

