$prefixCls: $prefixCls-button;

/* button */
// $button-default-color: $theme-default;
// $button-default-color--active: $theme-default;
// $button-default-color--bordered: $theme-default;
// $button-default-background: #fff;
// $button-default-background--active: #ddd;
// $button-default-border: #ddd;
// $button-default-border--active: #ddd;

$button-default-color: $theme-default;
$button-default-color--active: $theme-default;
$button-default-color--bordered: $theme-default;
$button-default-background: #ddd;
$button-default-background--active: #c4c4c4;
$button-default-border: #ddd;
$button-default-border--active: #c4c4c4;

$button-primary-color: #fff;
$button-primary-color--active: rgba(#fff, .3);
$button-primary-color--bordered: $theme-primary;
$button-primary-background: $theme-primary;
$button-primary-background--active: $theme-primary-dark;
$button-primary-border: $theme-primary;
$button-primary-border--active: $theme-primary-dark;

$button-warning-color: #fff;
$button-warning-color--active: rgba(#fff, .3);
$button-warning-color--bordered: $theme-error;
$button-warning-background: $theme-error;
$button-warning-background--active: $theme-error-dark;
$button-warning-border: $theme-error;
$button-warning-border--active: $theme-error-dark;

@mixin button-bordered($border, $color) {
  border: 1px solid transparent;

  &.bordered {
    background-color: transparent;
    color: $color;
    border-color: $border;
    // @include onepx($border-color: $border);

    &:active,
    &.active {
      opacity: .6;
    }

    &.disabled,
    &:disabled {
      opacity: $disabled-opacity;
      // color: rgba($color, $disabled-opacity);
      cursor: not-allowed;

      &:active,
      &.active,
      &:focus,
      &.focus,
      &:visited,
      &.visited {
        background-color: transparent;
        border-color: $border;
      }
    }
  }
}

@mixin button-theme($background, $border, $color, $active-background, $active-border, $active-color) {
  background-color: $background;
  color: $color;
  border-color: $border;
  // @include onepx($border-color: $border);

  &:active,
  &.active {
    background-color: $active-background;
    color: $active-color;
    border-color: $active-border;
    // @include onepx($border-color: $active-border);
  }

  &.disabled,
  &:disabled {
    opacity: $disabled-opacity;
    color: rgba($color, $disabled-opacity);
    cursor: not-allowed;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:visited,
    &.visited {
      background-color: $background;
      border-color: $border;
      // @include onepx($border-color: $border);
    }
  }
}

@mixin button-size($height, $padding, $font-size, $border-radius, $icon-size, $spacing) {
  padding: 0 $padding;
  font-size: $font-size;
  height: $height;
  line-height: $height - 2;

  &.shape-radius {
    border-radius: $border-radius;
    // @include onepx($border-radius: $border-radius);

    // &:active,
    // &.active {
    //   border-radius: $border-radius;
    //   @include onepx($border-radius: $border-radius);
    // }
  }

  &.shape-round {
    border-radius: r(1000);
    // @include onepx($border-radius: r(1000));

    // &:active,
    // &.active {
    //   border-radius: r(1000);
    //   @include onepx($border-radius: r(1000));
    // }
  }

  &.shape-circle {
    width: $height;
    padding: 0;
    border-radius: 50%;
    // @include onepx($border-radius: 50%);

    // &:active,
    // &.active {
    //   border-radius: 50%;
    //   @include onepx($border-radius: 50%);
    // }
  }

  .#{$prefixCls-icon} {
    font-size: $icon-size;
  }

  * + span {
    margin-left: $spacing;
  }
}

@mixin button-base() {
  padding: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  transition: background-color 200ms ease-out, border-color 200ms ease-out;
  cursor: pointer;
  outline: 0 none;
  -webkit-appearance: none;
  user-select: none;

  &,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  /* disabled Button */
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }

  /* block Button */
  &.block {
    width: 100%;
    display: block;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.#{$prefixCls} {
  display: inline-block;
  @include button-base();
  @include button-size($height-md, $padding-md, $fontSize-md, $radius-md, r(22), r(5));
  @include button-theme(
    $button-default-background,
    $button-default-border,
    $button-default-color,
    $button-default-background--active,
    $button-default-border--active,
    $button-default-color--active
  );
  @include button-bordered(
    $button-default-border,
    $button-default-color--bordered
  );

  /* Button sizes */
  &.size-xl {
    @include button-size($height-xl, $padding-xl, $fontSize-xl, $radius-xl, r(26), r(8));
  }

  &.size-lg {
    @include button-size($height-lg, $padding-lg, $fontSize-lg, $radius-lg, r(24), r(6));
  }

  &.size-sm {
    @include button-size($height-sm, $padding-sm, $fontSize-sm, $radius-sm, r(20), r(5));
  }

  &.size-xs {
    @include button-size($height-xs, $padding-xs, $fontSize-xs, $radius-xs, r(18), r(5));
  }

  /* Button themes */
  &.theme-primary {
    @include button-theme(
      $button-primary-background,
      $button-primary-border,
      $button-primary-color,
      $button-primary-background--active,
      $button-primary-border--active,
      $button-primary-color--active
    );
    @include button-bordered(
      $button-primary-border,
      $button-primary-color--bordered
    );
  }

  &.theme-warning {
    @include button-theme(
      $button-warning-background,
      $button-warning-border,
      $button-warning-color,
      $button-warning-background--active,
      $button-warning-border--active,
      $button-warning-color--active
    );
    @include button-bordered(
      $button-warning-border,
      $button-warning-color--bordered
    );
  }
}

