@mixin button-bordered($border, $color) {
  border: 1px solid transparent;

  &.bordered {
    background-color: transparent;
    color: $color;
    border-color: $border;
    // @include onepx($border-color: $border);

    &:active,
    &.active {
      opacity: .6;
    }

    &.disabled,
    &:disabled {
      opacity: $disabled-opacity;
      // color: rgba($color, $disabled-opacity);
      cursor: not-allowed;

      &:active,
      &.active,
      &:focus,
      &.focus,
      &:visited,
      &.visited {
        background-color: transparent;
        border-color: $border;
      }
    }
  }
}

@mixin button-theme($background, $border, $color, $active-background, $active-border, $active-color) {
  background-color: $background;
  color: $color;
  border-color: $border;
  // @include onepx($border-color: $border);

  &:active,
  &.active {
    background-color: $active-background;
    color: $active-color;
    border-color: $active-border;
    // @include onepx($border-color: $active-border);
  }

  &.disabled,
  &:disabled {
    opacity: $disabled-opacity;
    color: rgba($color, $disabled-opacity);
    cursor: not-allowed;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:visited,
    &.visited {
      background-color: $background;
      border-color: $border;
      // @include onepx($border-color: $border);
    }
  }
}

@mixin button-size($height, $padding, $font-size, $border-radius, $icon-size, $spacing) {
  padding: 0 $padding;
  font-size: $font-size;
  height: $height;
  line-height: $height - 2;

  &.shape-radius {
    border-radius: $border-radius;
    // @include onepx($border-radius: $border-radius);

    // &:active,
    // &.active {
    //   border-radius: $border-radius;
    //   @include onepx($border-radius: $border-radius);
    // }
  }

  &.shape-round {
    border-radius: r(1000);
    // @include onepx($border-radius: r(1000));

    // &:active,
    // &.active {
    //   border-radius: r(1000);
    //   @include onepx($border-radius: r(1000));
    // }
  }

  &.shape-circle {
    width: $height;
    padding: 0;
    border-radius: 50%;
    // @include onepx($border-radius: 50%);

    // &:active,
    // &.active {
    //   border-radius: 50%;
    //   @include onepx($border-radius: 50%);
    // }
  }

  .#{$prefixCls-icon} {
    font-size: $icon-size;
  }

  * + span {
    margin-left: $spacing;
  }
}

@mixin button-base() {
  padding: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  transition: background-color 200ms ease-out, border-color 200ms ease-out;
  cursor: pointer;
  outline: 0 none;
  -webkit-appearance: none;
  user-select: none;

  &,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  /* disabled Button */
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }

  /* block Button */
  &.block {
    width: 100%;
    display: block;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}