// 主题
@mixin button-theme($background, $color) {
  background-color: $background;
  border-color: $background;
  color: $color;

  $active-background: darken($background, 8%);
  $active-color: rgba($color, .3);

  &:active,
  &.active {
    background-color: $active-background;
    border-color: $active-background;
    color: $active-color;
  }

  &.disabled,
  &:disabled {
    opacity: $opacity-disabled;
    color: rgba($color, $opacity-disabled);
    cursor: not-allowed;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:visited,
    &.visited {
      background-color: $background;
      border-color: $background;
    }
  }
}

// 大小
@mixin button-size($height, $padding, $font-size, $icon-size) {
  padding: 0 $padding;
  font-size: $font-size;
  height: $height;
  line-height: $height;

  &.shape-circle {
    width: $height;
    padding: 0;
  }

  .#{$prefixCls-icon} {
    font-size: $icon-size;
  }

  * + span {
    margin-left: $padding / 2;
  }
}

// 幽灵按钮
@mixin button-ghost($border, $color) {
  @include button-shape($border);

  &.shape-radius {
    @include button-shape($border, $radius-md);
  }

  &.shape-round {
    @include button-shape($border, $radius-round);
  }

  &.shape-circle {
    @include button-shape($border, $radius-circle);
  }

  &.ghost {
    background-color: transparent;
    color: $color;

    &:active,
    &.active {
      opacity: 1;
    }

    &.disabled,
    &:disabled {
      opacity: $opacity-disabled;
      cursor: not-allowed;

      &:active,
      &.active,
      &:focus,
      &.focus,
      &:visited,
      &.visited {
        background-color: transparent;
        border-color: $border;
      }
    }
  }
}

// 基础
@mixin button-base() {
  position: relative;
  padding: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  color: $color-text;
  transition: background-color 200ms ease-out, border-color 200ms ease-out;
  cursor: pointer;
  outline: 0 none;
  -webkit-appearance: none;
  user-select: none;

  &,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  /* disabled Button */
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-disabled;
  }

  /* block Button */
  &.block {
    width: 100%;
    display: block;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

// 形状
@mixin button-shape($border-color, $border-radius: 0) {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;

  &.ghost {
    border-color: $border-color;
    // @include onepx($border-color: $border-color, $border-radius: $border-radius);
  }
}
