@import '../../style/core/index';

@include b(button) {
  @include define(loading-color, #fff);
  position: relative;

  @include m(base) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }

  @include m(default) {
    @include define(loading-color, var(--za-theme-primary));
  }


  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }

  @include e(loading) {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    animation: rotate infinite 1s linear;

    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 2px solid var(--loading-color);
      animation: circle 2s linear infinite ;
    }
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes circle {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
}
