@mixin button-base {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: none;
  text-align: center;
  color: var(--text-color);
  outline: none;
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;

  @include e(content) {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  @include m(disabled) {
    cursor: not-allowed;
    opacity: var(--za-opacity-disabled);
    pointer-events: none;
  }

  @include m(block) {
    display: block;
    width: 100%;
  }
}

@mixin button-theme {
  background-color: var(--background);
  border-color: var(--border-color);
  color: var(--text-color);

  &:active {
    background-color: var(--active-background);
    border-color: var(--active-border-color);
    color: var(--active-text-color);
  }

  @include m(shadow) {
    box-shadow: var(--shadow);
  }

  @include m(loading) {
    @include b(activity-indicator) {
      @include m(circular) {
        circle {
          stroke: var(--loading-color);
        }
      }
    }
  }
}

@mixin button-size {
  padding: 0 var(--padding-horizontal);
  font-size: var(--font-size);
  height: var(--height);
  line-height: 1.4;

  @include m(circle) {
    width: var(--height);
    padding: 0;
  }

  @include b(icon) {
    font-size: var(--icon-size);
  }

  @include m(link) {
    line-height: calc(var(--height) - var(--border-width) * 2);
  }

  @include m(loading) {
    @include b(activity-indicator) {
      width: var(--font-size);
      height: var(--font-size);
    }
  }

  * + span {
    margin-left: calc(var(--padding-horizontal) / 2);
  }
}

@mixin button-shape {
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}
