$prefixCls: $prefixCls-actionsheet;

@mixin actionsheet-theme($color) {
  &,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    color: $color;
  }
}

.#{$prefixCls} {
  margin: 0 r(10) r(10) r(10);

  &.shape-radius {
    .#{$prefixCls} {
      &-actions,
      &-cancel {
        overflow: hidden;
        border-radius: $radius-md;
      }
    }
  }

  &-actions,
  &-cancel {
    background: #fff;
  }

  &-cancel {
    margin-top: r(7);
  }

  &-btn {
    display: block;
    height: r(50);
    line-height: r(50);
    text-align: center;
    font-size: r(17);
    @include actionsheet-theme($theme-default);

    &:active {
      background: #f1f1f1;
    }

    &:not(:first-of-type) {
      position: relative;
      @include onepx(top);
    }

    &.theme-default {
      @include actionsheet-theme($theme-default);
    }

    &.theme-primary {
      @include actionsheet-theme($theme-primary);
    }

    &.theme-info {
      @include actionsheet-theme($theme-info);
    }

    &.theme-success {
      @include actionsheet-theme($theme-success);
    }

    &.theme-warning {
      @include actionsheet-theme($theme-warning);
    }

    &.theme-error {
      @include actionsheet-theme($theme-error);
    }
  }
}

