$prefixCls: $prefixCls-button;

@mixin button-bordered($color, $activebg, $border) {
  $active-background: $activebg;
  $active-border: $border;
  $active-color: $color;

  &.bordered {
    background-color: #fff;
    border-color: $border;
    color: $color;

    &:active,
    &.active {
      background-color: $activebg;
      color: $active-color;
    }

    &.disabled,
    &:disabled {
      &:active,
      &.active,
      &:focus,
      &.focus,
      &:visited,
      &.visited {
        background-color: #fff;
        border-color: $border;
        box-shadow: none;
      }
    }
  }
}

@mixin button-theme($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 10%);

  background-color: $background;
  border-color: $border;
  color: $color;

  &,
  &:hover,
  &:focus,
  &:visited {
    color: $color;
  }

  &:active,
  &.active {
    background-color: $active-background;
    border-color: $active-border;
  }

  &.disabled,
  &:disabled {
    opacity: $disabled-opacity;
    color: rgba(#fff, $disabled-opacity);
    cursor: not-allowed;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:visited,
    &.visited {
      background-color: $background;
      border-color: $border;
      box-shadow: none;
    }
  }
}

@mixin button-size($height, $padding, $font-size, $border-radius, $icon-size, $spacing) {
  padding: 0 $padding;
  font-size: $font-size;
  height: $height;
  line-height: $height;

  &.shape-radius {
    border-radius: $border-radius;
  }

  &.shape-round {
    border-radius: r(1000);
  }

  &.shape-circle {
    width: $height;
    height: $height;
    padding: 0;
    border-radius: 50%;
  }

  .#{$prefixCls-icon} {
    font-size: $icon-size;
  }

  * + span {
    margin-left: $spacing;
  }
}

.#{$prefixCls} {
  display: inline-block;
  padding: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  outline: 0 none;
  -webkit-appearance: none;
  user-select: none;
  transition: background-color 200ms ease-out, border-color 200ms ease-out;
  @include button-size($height-md, $padding-md, $fontSize-md, $radius-md, r(22), r(5));
  @include button-theme($button-default-color, $button-default-bg, $button-default-border);
  @include button-bordered($button-default-color, $button-default-activebg, $button-default-border);

  &,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  /* disabled Button */
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
  }

  /* block Button */
  &.block {
    width: 100%;
    display: block;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  /* Button sizes */
  &.size-xl {
    @include button-size($height-xl, $padding-xl, $fontSize-xl, $radius-xl, r(26), r(8));
  }

  &.size-lg {
    @include button-size($height-lg, $padding-lg, $fontSize-lg, $radius-lg, r(24), r(6));
  }

  &.size-sm {
    @include button-size($height-sm, $padding-sm, $fontSize-sm, $radius-sm, r(20), r(5));
  }

  &.size-xs {
    @include button-size($height-xs, $padding-xs, $fontSize-xs, $radius-xs, r(18), r(5));
  }

  /* Button themes */
  &.theme-primary {
    @include button-theme($button-primary-color, $button-primary-bg, $button-primary-border);
    @include button-bordered($button-primary-border, $button-primary-activebg, $button-primary-border);
  }

  &.theme-info {
    @include button-theme($button-info-color, $button-info-bg, $button-info-border);
    @include button-bordered($button-info-border, $button-info-activebg, $button-info-border);
  }

  &.theme-success {
    @include button-theme($button-success-color, $button-success-bg, $button-success-border);
    @include button-bordered($button-success-border, $button-success-activebg, $button-success-border);
  }

  &.theme-warning {
    @include button-theme($button-warning-color, $button-warning-bg, $button-warning-border);
    @include button-bordered($button-warning-border, $button-warning-activebg, $button-warning-border);
  }

  &.theme-error {
    @include button-theme($button-error-color, $button-error-bg, $button-error-border);
    @include button-bordered($button-error-border, $button-error-activebg, $button-error-border);
  }
}

