$prefixCls: ui-button;

@mixin button-bordered($color, $background, $active-percent, $border) {
  $active-background: lighten($background, $active-percent);
  $active-border: $border;
  $active-color: $color;

  &.bordered {
    background-color: #fff;
    border-color: $border;
    color: $color;

    &:active,
    &.active {
      background-color: $active-background;
      /*border-color: $active-border;*/
      color: $active-color;
    }

    &.disabled,
    &:disabled {      
      background-color: $disabled-background;
      border-color: $disabled-background;
      color: $disabled-color;
    }
  }
}

@mixin button-theme($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 10%);
  $active-color: lighten($color, 10%);

  background-color: $background;
  border-color: $border;
  color: $color;

  &,
  &:hover,
  &:focus,
  &:visited {
    color: $color;
  }
  
  &:active,
  &.active {
    background-color: $active-background;
    border-color: $active-border;
    color: $active-color;
    background-image: none;
    /*box-shadow: inset 0 r(3) r(5) rgba(0, 0, 0,.125);*/
  }
  
  &.disabled,
  &:disabled {
    background-color: $disabled-background;
    border-color: $disabled-background;
    color: $disabled-color;
    /*cursor: not-allowed;*/
    
    /*&:active,
    &.active,
    &:focus,
    &.focus,
    &:visited,
    &.visited {
      background-color: $background;
      border-color: $border;
      box-shadow: none;
    }*/
  }

}

@mixin button-size($height, $padding, $font-size, $border-radius, $icon-size, $spacing) {
  padding: 0 $padding;
  font-size: $font-size;
  height: $height;
  line-height: $height;

  &.radius {
    border-radius: $border-radius;
  }
  
  &.round {
    border-radius: r(1000);
  }

  &.circle {
    width: $height;
    height: $height;
    padding: 0;
    border-radius: 50%;
  }

  .ui-icon {
    font-size: $icon-size;
  }

  .ui-icon + span,
  span + .ui-icon {
    margin-left: $spacing;
  }
}

.#{$prefixCls} {
  display: inline-block;
  padding: 0;
  font-weight: normal;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: 0 none;
  -webkit-appearance: none;
  user-select: none;
  /*transition: background-color 300ms ease-out, border-color 300ms ease-out;*/
  @include button-size($height-md, $padding-md, $fontSize-md, $radius-md, r(22), r(5));
  @include button-theme($btn-default-color, $btn-default-bg, $btn-default-border);
  @include button-bordered($btn-default-color, $btn-default-bg, 10%, $btn-default-border);
  
  &,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  /* disabled Button */
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
  }

  /* block Button */
  &.block {
    width: 100%;
    display: block;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  /* Button sizes */
  &.size-xl {
    @include button-size($height-xl, $padding-xl, $fontSize-xl, $radius-xl, r(26), r(8));
  }
  &.size-lg {
    @include button-size($height-lg, $padding-lg, $fontSize-lg, $radius-lg, r(24), r(6));
  }
  &.size-sm {
    @include button-size($height-sm, $padding-sm, $fontSize-sm, $radius-sm, r(20), r(5));
  }
  &.size-xs {
    @include button-size($height-xs, $padding-xs, $fontSize-xs, $radius-xs, r(18), r(5));
  }

  /* Button themes */
  &.theme-info {
    @include button-theme($btn-info-color, $btn-info-bg, $btn-info-border);
    @include button-bordered($btn-info-border, $btn-info-bg, 35%, $btn-info-border);
  }
  &.theme-success {
    @include button-theme($btn-success-color, $btn-success-bg, $btn-success-border);
    @include button-bordered($btn-success-border, $btn-success-bg, 35%, $btn-success-border);
  }
  &.theme-warning {
    @include button-theme($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    @include button-bordered($btn-warning-border, $btn-warning-bg, 35%, $btn-warning-border);
  }
  &.theme-error {
    @include button-theme($btn-error-color, $btn-error-bg, $btn-error-border);
    @include button-bordered($btn-error-border, $btn-error-bg, 35%, $btn-error-border);
  }

}

