$prefixCls: $prefixCls-cell;

@mixin cell-theme($color) {
  .#{$prefixCls}-footer {
    color: $color;
  }
}

.#{$prefixCls} {
  position: relative;
  overflow: hidden;
  background: #fff;
  @include cell-theme(#999);
  @include onepx(top);

  &:after {
    left: r(15);
  }

  &.theme-primary {
    @include cell-theme($theme-primary);
  }

  &.theme-info {
    @include cell-theme($theme-info);
  }

  &.theme-success {
    @include cell-theme($theme-success);
  }

  &.theme-warning {
    @include cell-theme($theme-warning);
  }

  &.theme-error {
    @include cell-theme($theme-error);
  }

  &.has-icon {
    &:after {
      left: r(59);
    }
  }

  &.is-link {
    cursor: pointer;
    user-select: none;

    .#{$prefixCls}-inner {
      &:active {
        background-color: #ddd;
      }
    }

    .#{$prefixCls}-title {
      flex: 1;
    }
  }

  &.disabled {
    .#{$prefixCls}-body,
    .#{$prefixCls}-footer {
      color: $disabled-color;
    }
  }

  &-inner {
    display: flex;
    align-items: center;
    padding: 0 r(15);
    font-size: r(15);
    min-height: r(45);

    a,
    a:hover {
      text-decoration: none;
    }
  }

  &-body {
    flex: 1;
    display: flex;
  }

  &-footer {
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: r(14);
  }

  &-arrow {
    margin-left: r(5);

    &:after {
      display: inline-block;
      content: '';
      border-right: r(2) solid #c7c7cc;
      border-top: r(2) solid #c7c7cc;
      width: r(10);
      height: r(10);
      transform: rotate(45deg);
    }
  }

  &-icon {
    width: r(28);
    height: r(28);
    text-align: center;
    margin-right: r(15);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-title {
    width: r(100);
    padding: r(12) 0;
    overflow: hidden;
    color: #333;
  }

  &-content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-help {
    padding: 0 r(15) r(10) r(15);
  }
}
