
.ui-cell {
  display: flex;
  align-items: center;
  position: relative;
  background: #fff;
  padding: r(8) r(15);
  font-size: r(15);
  min-height: r(45);

  & + & {
    &:before {
      content: '';
      position: absolute;
      left: r(15);
      right: 0;
      top: 0;
      height: 1px;
      border-top: 1px solid #ddd;
      transform-origin: 0 0;
      transform: scaleY(0.5);
    }
  }

  a,
  a:hover {
    text-decoration: none;
  }
}

.ui-cell-form {
  .ui-cell-title {
    width: r(100);
  }
}

.ui-cell-link {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  &:active {
    background-color: #d9d9d9;
  }

  .ui-cell-title {
    flex: 1;
  }

  .ui-cell-footer {
    &:after {
      display: inline-block;
      margin-left: r(5);
      content: '';
      border-right: r(2) solid #c7c7cc;
      border-top: r(2) solid #c7c7cc;
      width: r(10);
      height: r(10);
      transform: rotate(45deg);
    }
  }
}

.ui-cell-body {
  display: flex;
  flex: 1;
}

.ui-cell-footer {
  text-align: right;
  color: #ff8100;
}

.ui-cell-icon {
  margin-right: r(10);

  img {
    max-height: r(29);
  }
}

.ui-cell-title {
  overflow: hidden;
  color: #333;
}

.ui-cell-content {
  flex: 1;
  overflow: hidden;
}