$prefixCls: za-checkbox;

.#{$prefixCls} {
  display: inline-block;
  position: relative;
  margin-left: r(10);

  &:first-child {
    margin-left: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &-text {
    margin-left: r(5);
  }

  &-inner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: r(14);
    height: r(14);
    background-color: #fff;
    transition: border-color .1s cubic-bezier(.71, -0.46, .29, 1.46), background-color .1s cubic-bezier(.71, -0.46, .29, 1.46);
    border: 1px solid $theme-primary;
    border-radius: $radius-md;

    &:before {
      content: ' ';
      position: absolute;
      left: r(4);
      top: r(1);
      width: r(4);
      height: r(8);
      border: 1px solid $theme-primary;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(0);
      transition: all .1s cubic-bezier(.71, -0.46, .88, .6);
    }
  }

  &-group {
    &.block {
      display: flex;

      /* 通栏模式字体增大 */
      .#{$prefixCls} {
        font-size: r(15);
      }
    }

    &.shape-radius {
      .#{$prefixCls} {
        border-radius: $radius-md;
      }
    }

    &.shape-round {
      .#{$prefixCls} {
        border-radius: r(15);
      }
    }

    &.is-compact {
      .#{$prefixCls} {
        margin-left: -1px;
      }

      &.shape-radius {
        .#{$prefixCls} {
          border-radius: 0;

          &:first-child {
            border-radius: $radius-md 0 0 $radius-md;
          }

          &:last-child {
            border-radius: 0 $radius-md $radius-md 0;
          }
        }
      }

      &.shape-round {
        .#{$prefixCls} {
          border-radius: 0;

          &:first-child {
            border-radius: r(15) 0 0 r(15);
          }

          &:last-child {
            border-radius: 0 r(15) r(15) 0;
          }
        }
      }
    }
  }

  /* 选中状态 */
  &.checked {
    .#{$prefixCls}-inner {
      &:before {
        transform: rotate(45deg) scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }

  /* 禁用状态 */
  &.disabled {
    .#{$prefixCls}-inner {
      border-color: #d9d9d9;
      background-color: #f3f3f3;
      cursor: not-allowed;

      &:before {
        border-color: #ccc;
      }
    }
  }
}
