
.ui-form-item {
  display: flex;
  flex-direction: column;
  min-height: r(45);
  font-size: r(15);

  .ui-form-item-inner {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-left: r(15);
  }

  .ui-form-item-label {
    display: block;
    width: r(115);
    color: #8b8b8b;
  }

  .ui-form-item-control {
    flex: 1;
    color: #333;
    height: r(45);
    padding: r(12) 0;
    padding-right: r(15);

    input,
    textarea {
      display: inline-block;
      border-width: 0;
      margin: 0;
      width: 100%;
      background: transparent;
      outline: 0;
      appearance: none;
    }

    input[type="date"] {
      height: r(21);
    }

    input[disabled] {
      color: #000;
    }
  }

  &.select {

    select {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      outline: none;
      border: none;
      background: none;
      appearance: none;
    }

    .ui-form-item-control {
      position: relative;
      padding-right: r(25);

      &:after {
        position: absolute;
        right: r(15);
        top: r(18);
        content: '';
        display: inline-block;
        border-right: r(2) solid #c7c7cc;
        border-top: r(2) solid #c7c7cc;
        width: r(10);
        height: r(10);
        transform: rotate(45deg);
        vertical-align: middle;
      }
    }
  }

  &.radio {
    .ui-form-item-control {
      padding-top: r(8);
      padding-bottom: r(8);
      text-align: right;
    }
  }

  .ui-form-explain {
    position: relative;
    display: block;
    height: r(30);
    line-height: r(30);
    text-align: center;
    font-size: r(14);
    color: #ff0c1c;
    background-color: #ffdad9;

    &:after {
      position: absolute;
      top: r(-6);
      left: r(40);
      display: inline-block;
      content: '';
      background-color: #ffdad9;
      width: r(12);
      height: r(12);
      transform: rotate(45deg);
    }

    &:before {
      display: inline-block;
      content: 'i';
      width: r(13);
      height: r(13);
      line-height: r(14);
      margin-right: r(6);
      margin-top: r(9);
      vertical-align: top;
      border-radius: r(3);
      background-color: #ff0c1c;
      color: #fff;
      font-size: r(10);
      font-weight: bold;
    }
  }
}

