@mixin icon-theme($color) {
  color: $color;
}

@font-face {
  font-family: "dragonicon";
  src: url('#{$base-icon-url}.eot');
  src: url('#{$base-icon-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$base-icon-url}.woff') format('woff'),
    url('#{$base-icon-url}.ttf') format('truetype'),
    url('#{$base-icon-url}.svg#dragonicon') format('svg');
}

.ui-icon {
  font-family: "dragonicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;

  /*&.theme-default {
    @include icon-theme($base-theme-default);
  }*/
  &.theme-info {
    @include icon-theme($base-theme-info);
  }
  &.theme-success {
    @include icon-theme($base-theme-success);
  }
  &.theme-warning {
    @include icon-theme($base-theme-warning);
  }
  &.theme-error {
    @include icon-theme($base-theme-error);
  }
}

.ui-icon-check:before { content: "\e602"; }
.ui-icon-check-round:before { content: "\e60a"; }
.ui-icon-check-round-fill:before { content: "\e609"; }
.ui-icon-close:before { content: "\e605"; }
.ui-icon-close-round:before { content: "\e60e"; }
.ui-icon-close-round-fill:before { content: "\e60b"; }
.ui-icon-info-round:before { content: "\e625"; }
.ui-icon-info-round-fill:before { content: "\e624"; }
.ui-icon-warning-round:before { content: "\e611"; }
.ui-icon-warning-round-fill:before { content: "\e610"; }
.ui-icon-question-round-fill:before { content: "\e618"; }
.ui-icon-question-round:before { content: "\e619"; }
.ui-icon-arrow-top:before { content: "\e600"; }
.ui-icon-arrow-bottom:before { content: "\e601"; }
.ui-icon-arrow-left:before { content: "\e603"; }
.ui-icon-arrow-right:before { content: "\e604"; }
.ui-icon-add:before { content: "\e606"; }
.ui-icon-minus:before { content: "\e607"; }
.ui-icon-date:before { content: "\e63d"; }
.ui-icon-loading:before { content: "\e608"; }
.ui-icon-required:before { content: "\e60d"; }

