$prefixCls: $prefixCls-icon;

@mixin icon-theme($color) {
  color: $color;
}

@font-face {
  font-family: "zarmicon";
  src: url('#{$icon-url}.eot');
  src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'), url('#{$icon-url}.woff') format('woff'), url('#{$icon-url}.ttf') format('truetype'), url('#{$icon-url}.svg#dragonicon') format('svg');
}

.#{$prefixCls} {
  display: inline-block;
  font-family: "zarmicon" !important;
  font-size: r(16);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.theme-default {
    @include icon-theme($theme-default);
  }

  &.theme-primary {
    @include icon-theme($theme-primary);
  }

  &.theme-info {
    @include icon-theme($theme-info);
  }

  &.theme-success {
    @include icon-theme($theme-success);
  }

  &.theme-warning {
    @include icon-theme($theme-warning);
  }

  &.theme-error {
    @include icon-theme($theme-error);
  }

  &-arrow-top:before { content: "\e60e"; }
  &-arrow-bottom:before { content: "\e60f"; }
  &-arrow-left:before { content: "\e610"; }
  &-arrow-right:before { content: "\e611"; }
  &-warning-round-fill:before { content: "\e616"; }
  &-warning-round:before { content: "\e617"; }
  &-right-square-fill:before { content: "\e600"; }
  &-right-square:before { content: "\e601"; }
  &-wrong:before { content: "\e602"; }
  &-wrong-round-fill:before { content: "\e603"; }
  &-wrong-round:before { content: "\e604"; }
  &-add-round:before { content: "\e605"; }
  &-add:before { content: "\e606"; }
  &-add-round-fill:before { content: "\e607"; }
  &-minus:before { content: "\e608"; }
  &-info-round-fill:before { content: "\e609"; }
  &-info-round:before { content: "\e60a"; }
  &-question-round-fill:before { content: "\e60b"; }
  &-question-round:before { content: "\e60c"; }
  &-right:before { content: "\e60d"; }
  &-right-round-fill:before { content: "\e612"; }
  &-right-round:before { content: "\e613"; }
  &-minus-round-fill:before { content: "\e614"; }
  &-required:before { content: "\e619"; }
  &-minus-round:before { content: "\e615"; }
  &-broadcast:before { content: "\e618"; }
}

