$loadingAfterBg: rgba(0,0,0, .15);

.ui-loading-img{
  position: relative;
  overflow: hidden;

  &:not(.loaded) {
    background-image: none !important;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(white, .8);
    transition: .8s;
  }

  &:after{
    content: '';
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2.5px solid rgba(255, 0, 0, 0);
    border-left-color: $loadingAfterBg;
    border-right-color: $loadingAfterBg;

    animation: loadingAfterRotate 1.5s infinite;
    animation-timing-function: linear;
  }

  &.loaded{
    &:before{
      background-color: transparent;
    }

    &:after{
      animation: none;
      opacity: 0;
    }
  }

  .ui-img-ele{
    &:not(.show){
      display: none;
    }
  }
}

@keyframes loadingAfterRotate{
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
} 