$prefixCls: $prefixCls-input;

.#{$prefixCls} {
  position: relative;
  width: 100%;
  padding: r(12) 0;

  input,
  textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    background-color: #fff;
    background-image: none;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;

    &[type="date"],
    &[type="text"] {
      height: r(21);
    }

    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }

    &:focus {
      border-color: #57c5f7;
      outline: 0;
    }

    &:hover {
      border-color: #57c5f7;
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      opacity: $disabled-opacity;
      /* background-color: #f3f5f7; */

      &:focus,
      &.focus,
      &:hover {
        border-color: #ccc;
      }
    }
  }

  textarea {
    line-height: 1.42857143;
    overflow: auto;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
  }

  &-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    color: #c1c1c1;
  }

  &-length {
    text-align: right;
    color: #c1c1c1;
    font-size: r(12);
  }

  &-number-picker {
    background-color: #fff;
  }
}
