$PrefixCls: ui-input-number;

@mixin input-number-theme($color) {
  .ui-input-number-body {
    color: $color
  }
}

.#{$PrefixCls} {
  display: flex;
  user-select: none;
  @include input-number-theme($theme-default);

  &.disabled {
    .#{$PrefixCls}-body {
      opacity: $disabled-opacity;
      cursor: not-allowed;
    }
  }

  &.radius {
    .#{$PrefixCls}-sub,
    .#{$PrefixCls}-plus {
      border-radius: $radius-md;
    }
  }

  &.round {
    .#{$PrefixCls}-sub,
    .#{$PrefixCls}-plus {
      border-radius: 50%;
    }
  }

  &.theme-info {
    @include input-number-theme($theme-info);
  }
  &.theme-success {
    @include input-number-theme($theme-success);
  }
  &.theme-warning {
    @include input-number-theme($theme-warning);
  }
  &.theme-error {
    @include input-number-theme($theme-error);
  }

  &-sub,
  &-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: r(30);
    height: r(30);
    font-size: r(16);
    font-weight: bold;
    cursor: pointer;
    color: #a6a6a6;
    border: 1px solid #ddd;

    &.disabled {
      opacity: $disabled-opacity;
      cursor: not-allowed;
      &:active {
        background: #fff;
      }
    }

    &:active {
      background: #f1f1f1;
    }
  }

  &-body {
    position: relative;
    width: r(60);
    padding: 0 r(10);
    height: r(30);
    /*border: 1px solid #ddd;*/
    border: 0;
    border-radius: 0;
    text-align: center;
    outline: 0;
    -webkit-appearance: none;
  }
}