$prefixCls: $prefixCls-keyboard;

.#{$prefixCls} {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  // border-top: 1px solid #ddd; 
  font-size: r(28);
  color: $theme-default;
  user-select: none;

  &-key {
    display: flex;
    flex-wrap: wrap;
    width: 75%;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      width: 33.333333%;
      height: r(50);
      @include onepx(top left);

      &:first-of-type {
        @include onepx(top);
      }

      &:active {
        background-color: $button-default-activebg;
      }

      &-disabled {
        background-color: $button-default-activebg;
      }
    }
  }

  &-handle {
    display: flex;
    flex-direction: column;
    width: 25%;

    &-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: $theme-default;

      &:first-of-type {
        @include onepx(top left);
      }

      &:active {
        background-color: $button-default-activebg;
      }

      &-ok {
        font-size: r(21);
        @include button-theme($button-primary-color, $button-primary-bg, $button-primary-border);
        @include button-bordered($button-primary-border, $button-primary-bg, $button-primary-border);
      }
    }
  }

  .#{$prefixCls-icon} {
    font-size: r(21);
  }
}
