
.ui-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;

  >.ui-loading-body {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    user-select: auto;
    z-index: 1201;

    &:before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAABO1BMVEX///9aXFlbW1tdXV1fX19iZGFjY2NkYmVlZWWytLFra2ttbW1zc3N0dHRzdXJ0dnN6fHl7e3t8en18fnt9fX2CgoKChIGDg4OEhISEgoWEhoOFhYWLi4uMjouNjY309vOTk5OUlpOVlZWVl5SWlJezs7OanJmbm5udnZ2jo6OlpaWmpqarq6usqq2tra3z8/OytLGzs7O1tbW2tra6vLm8vLy8vru9vb2+vr6+vL/Dw8PEwsXExsPLy8vMzsvNzc3T09PU1tPV1dXb29vY3dfa3Nnc2t3c3Nzd3d3j4+Pi5OHk5OTl5eXr6+vq7Ons6u3t7e3z8/P19fX09vP29vb7+/v6/Pn7/fr8/Pz9/f36//n7//r8/vv9//z+/P/+/v76//n7/fr7//r8/Pz8/vv9/f39//z+/P/+/v4BUWsqAAAAYHRSTlMABQUHCQ4OEBAUFxohISMjKiosLCwxMzMzNjY2PT8/REZJSUtLS1BQUllbW2JlZWVsbG5udXV3d3d6foGBiIqKkZOTmJqampqaoaSkpKutra20trm5vcDAwMDCwsLCwsKegJjAAAABjElEQVQYGe3B6VbTUBgF0CNIxJTZIUoRAWW0IIOKAhUZChShFGurn34pRc5F3v8JLGth4w+arpvIL7I3wo2/fn4fMeyKob+DyPqUddUBRDXKc/L890vYWPtWeIErfcq66gAsHCqp07iSU1J3YGFYWFfBXwtfS/MIbH3pQripM5KniiZEMgjXLaS5+IwmhpfQyrJSvruI4WFmGrdTKt2OONbFyAyim1CS6sJC96cpBD7y0iQsHBhpQ8MbkqeahoW3UkSgo0JqAVZc/Kszu7eIRCIOZ1P2exBDgWQFUawczwF4oCR1DPaeyJmkgP4TkjoCe0+r9F0ABz5ZQhSzG6O4tHqUdZBI/A9jcx7iyCklAxszhTUEepU0ZVjoF+osGh5rrfbrJywMCfkBgVKt9mMbNvJ+5R4CnVvF97DjIHFz3mnRQzOvllNoIaM0ZTSRPTHluwi3SxrxcD0lOYJwiz6NOLheTqkuWsipTKLh0V7eQ2BlPY2W7iDgiDHiILoh1j1DdI6S2oEYBvfzHm7WH90WVaa3GYffAAAAAElFTkSuQmCC) no-repeat;
      background-size: 100%;
      border-radius: 50%;
      animation: rotate360 1.5s linear infinite;
    }
  }
}
