$transform-time: 4s !default;

@mixin rotate-transition {
  transition: transform $transform-time ease;
}

@mixin rotate-transform ($angle) {
  transform: rotate($angle);
}

.ui-lottery {
  position: relative;

  .rotate-area {
    position: relative;
    width: r(325);
    height: r(325);
    margin: r(20) auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .award-item {
    width: r(112.5);
    height: r(148);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: r(15);
    margin-left: r(-56);
    transform-origin: bottom center;
  }

  &-btn {
    position: absolute;
    width: r(92);
    height: r(106);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    margin-left: r(-46);
    top: 50%;
    margin-top: r(-58);
  }
}
