// $itemNum: 6;
$transform-time: 4s !default;

@mixin rotate-transition {
  transition: transform $transform-time ease;
}

@mixin rotate-transform ($angle) {
  transform: rotate($angle);
}

.lottery-area{
  position: relative;
  
  .rotate-area{
    position: relative;
    width: r(325);
    height: r(325);
    margin: r(20) auto;
    background-position: center center;
    background-repeat: no-repeat;
    // background: url(../../images/lottery/lottery-bg.png) center center no-repeat;
    background-size: cover;
  }
  .award-item{
    width: r(112.5); 
    height: r(148);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: r(15);
    margin-left: r(-56);
    transform-origin: bottom center;
    // @for $i from 1 through $itemNum {   
    //   &.award-item#{$i} { 
    //     // background-image: url(../../images/lottery/item#{$i}.png);
    //     transform: rotate(#{360/$itemNum*($i - 0.5)}deg);
    //   }  
    // }
  }
  .lottery-btn{
    position: absolute;
    width: r(92);
    height: r(106);
    background-position: center center;
    background-repeat: no-repeat;
    // background: url(../../images/lottery/pointer.png) center center no-repeat;
    background-size: cover;
    left: 50%;
    margin-left: r(-46);
    top: 50%;
    margin-top: r(-58);
  }

}