
.ui-mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  animation: fade-enter .3s ease-out;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;

  &.light {
    background-color: rgba(255, 255, 255, .3);
  }

  &.transparent {
    background-color: transparent;
  }
}