$prefixCls: $prefixCls-message;

@mixin message-theme($color, $background, $border) {
  color: $color;
  background-color: $background;
}

.#{$prefixCls} {
  display: flex;
  position: relative;
  padding: r(6) r(8);
  min-height: r(30);
  font-size: r(12);
  @include message-theme($button-default-border, $button-default-activebg, $button-default-border);

  &-icon {
    margin-right: r(5);
    margin-top: r(1);
  }

  &-header,
  &-footer {
    line-height: 1;
  }

  &-body {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: r(10);
  }

  &.theme-primary {
    @include message-theme($button-primary-border, $button-primary-activebg, $button-primary-border);
  }

  &.theme-info {
    @include message-theme($button-info-border, $button-info-activebg, $button-info-border);
  }

  &.theme-success {
    @include message-theme($button-success-border, $button-success-activebg, $button-success-border);
  }

  &.theme-warning {
    @include message-theme($button-warning-border, $button-warning-activebg, $button-warning-border);
  }

  &.theme-error {
    @include message-theme($button-error-border, $button-error-activebg, $button-error-border);
  }

  &.size-lg {
    min-height: r(42);
    padding: r(9) r(15);

    .#{$prefixCls}-icon {
      margin-right: r(10);
      margin-top: r(4);
    }

    .#{$prefixCls}-body {
      font-size: r(15);
    }
  }
}
