$prefixCls: za-modal;

.#{$prefixCls} {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  overflow: auto;
  z-index: $zIndex-modal;

  &.radius {
    .#{$prefixCls}-dialog {
      border-radius: $radius-md;
    }
  }

  &-wrapper {
    width: 100%;
    margin: auto 0;
  }

  &-dialog {
    position: relative;
    margin: r(60) auto;
    background: #fff;
    box-shadow: 0 r(7) r(21) rgba(0, 0, 0, .2);
    overflow: hidden;
    z-index: $zIndex-modal + 1;
  }

  &-header {
    position: relative;
    /* height: r(50); */
    /* border-bottom: 1px solid #e9e9e9; */
    padding: r(20) r(15) 0 r(15);
    text-align: center;

    &-title {
      font-size: r(17);
      line-height: 1;
      color: #333;
    }

    &-close {
      position: absolute;
      top: 0;
      right: r(15);
      font-size: r(20);
      line-height: r(50);
      color: #999;
      cursor: pointer;

      &:hover {
        color: #666;
      }
    }
  }

  &-body {
    font-size: r(15);
    color: #999;
    padding: r(15);
    overflow: auto;
    user-select: auto;
  }

  &-footer {
    display: flex;
    width: 100%;

    &.block {
      display: block;
    }

    .za-button {
      flex: 1;
      height: r(50);
      line-height: r(50);
      font-size: r(17);
      border-width: 0;

      /* 1px line */
      position: relative;
      @include onepx(top);

      &:active {
        background: #f1f1f1 !important;
      }

      &:not(:first-of-type) {
        @include onepx(left top);
      }
    }
  }
}
