.ui-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  overflow: auto;
  z-index: $base-zindex-modal;

  &.radius {
    .ui-modal-dialog {
      border-radius: $base-modal-radius;
    }
  }

  &.round {
    .ui-modal-dialog {
      border-radius: $base-modal-round;
    }
  }

  > .ui-modal-wrapper {
    width: 100%;
    margin: auto 0;
  
    > .ui-modal-dialog {
      position: relative;
      margin: r(60) auto;
      background: #fff;
      box-shadow: 0 r(7) r(21) rgba(0,0,0,.2);
      overflow: hidden;
      z-index: $base-zindex-modal + 1;
    }
  }
}

.ui-modal-header {
  position: relative;
  height: r(50);
  border-bottom: 1px solid #e9e9e9;
  padding: 0 r(20);
  text-align: center;

  .ui-modal-title {
    font-size: r(16);
    line-height: r(50);
  }

  .ui-modal-close {
    position: absolute;
    top: 0;
    right: r(15);
    font-size: r(20);
    line-height: r(50);
    color: #999;
    cursor: pointer;
    // transition: transform .2s ease;

    &:hover {
      color: #666;
      // transform: rotate(360deg);
    }
  }
}

.ui-modal-body {
  font-size: r(16);
  line-height: 1.5;
  padding: r(20);
  overflow: auto;
  user-select: auto;
}

.ui-modal-footer {
  display: flex;
  /*border-top: 1px solid #e9e9e9;*/
  padding: 0 r(15) r(15);

  button {
    flex: 1;
  }

  button + button {
    margin-left: r(10);
  }
}

