.ui-panel {
  /*margin-bottom: r(20);*/
}

.ui-panel-header,
.ui-panel-footer {
  position: relative;
  height: r(40);
  line-height: r(40);
  padding: 0 r(15);
}

.ui-panel-body {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.ui-panel-title {
  font-size: r(15);
  color: #636363;
}

.ui-panel-more {
  position: absolute;
  top: 0;
  right: r(15);
}