$prefixCls: $prefixCls-panel;

.#{$prefixCls} {
  &-header {
    display: flex;
    padding: r(25) r(15) r(7) r(15);
    font-size: r(14);
    color: #999;
  }

  &-footer {
    display: flex;
    padding: r(7) r(15);
    margin-bottom: r(10);
    font-size: r(12);
    color: #999;
  }

  &-body {
    position: relative;
    background: #fff;
    @include onepx(top bottom);
  }

  &-title {
    flex: 1;
  }
}
