$prefixCls: za-picker;
$picker-item-height: 30px;

.#{$prefixCls} {
  background: #fff;

  &-placeholder {
    color: $placeholder-color;
  }

  &-disabled {
    color: $disabled-color;
  }

  &-wrapper {
    background: #fff;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: r(45);
    line-height: r(45);
    @include onepx(bottom);
  }

  &-cancel,
  &-submit {
    flex: 1;
    padding: 0 r(20);
    cursor: pointer;
  }

  &-cancel {
    color: #999;
  }

  &-submit {
    text-align: right;
    color: $theme-primary;
  }

  &-mask-top {
    -webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(rgba(222, 187, 71, 1)), to(rgba(36, 142, 36, 0)));
  }

  &-mask-bottom {
    -webkit-mask: -webkit-gradient(linear, 0% 60%, 0% 100%, from(rgba(222, 187, 71, 1)), to(rgba(36, 142, 36, 0)));
  }

  &-column-group {
    display: flex;
    align-items: center;

    &-item {
      flex: 1;
      text-align: center;
    }
  }

  &-cascader {
    display: block;
    position: relative;
    overflow: hidden;
    height: 7 * $picker-item-height;
    width: 100%;

    &-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 3 * $picker-item-height 0;
    }

    &-item {
      text-align: center;
      font-size: r(16);
      line-height: $picker-item-height;
      height: $picker-item-height;
      color: #000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &-selected {
        // font-size: r(18);
        // transition: all 0.3s;
      }
    }

    &-indicator {
      right: 0;
      position: absolute;
      left: 0;
      top: 3 * $picker-item-height;
      height: $picker-item-height;
      background-image: linear-gradient(to bottom, #d0d0d0, #d0d0d0, transparent, transparent), linear-gradient(to top, #d0d0d0, #d0d0d0, transparent, transparent);
      background-position: top, bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      /* z-index: 3; */
    }
  }
}
