$prefixCls: $prefixCls-picker;
$picker-item-height: r(30);
$picker-stackitem-height: r(35);

@mixin pickerStackColumn($count) {
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      z-index: $i * 2;

      @if ($i > 2) {
        left: r(60 * ($i - 2));
      }

      .#{$prefixCls}-stack-column-wrapper {
        z-index: $i * 2 + 1;

        @if ($i > 1) {
          left: r(60);
        }
      }

      .#{$prefixCls}-stack-item {
        @if ($i > 2) {
          padding-left: r(10);
        }
      }
    }
  }
}

.#{$prefixCls} {
  width: 100%;
  height: 100%;
  background: #fff;

  &-input {
    width: 100%;
    padding: r(12) 0;
  }

  &-placeholder {
    color: $placeholder-color;
  }

  &-disabled {
    color: $disabled-color;
  }

  &-wrapper {
    background: #fff;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: r(45);
    line-height: r(45);
    @include onepx(bottom);
  }

  &-cancel,
  &-submit {
    flex: 1;
    padding: 0 r(20);
    cursor: pointer;
  }

  &-cancel {
    color: #999;
  }

  &-submit {
    text-align: right;
    color: $theme-primary;
  }

  &-mask-top {
    -webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(rgba(222, 187, 71, 1)), to(rgba(36, 142, 36, 0)));
  }

  &-mask-bottom {
    -webkit-mask: -webkit-gradient(linear, 0% 60%, 0% 100%, from(rgba(222, 187, 71, 1)), to(rgba(36, 142, 36, 0)));
  }

  &-column-group {
    display: flex;
    align-items: center;

    &-item {
      flex: 1;
      text-align: center;
    }
  }

  &-cascader {
    display: block;
    position: relative;
    overflow: hidden;
    height: 7 * $picker-item-height;
    width: 100%;

    &-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 3 * $picker-item-height 0;
    }

    &-item {
      text-align: center;
      font-size: r(16);
      line-height: $picker-item-height;
      height: $picker-item-height;
      color: #000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &-selected {
        // font-size: r(18);
        // transition: all 0.3s;
      }
    }

    &-indicator {
      right: 0;
      position: absolute;
      left: 0;
      top: 3 * $picker-item-height;
      height: $picker-item-height;
      @include onepx(top bottom);
    }
  }

  &-crumbs {
    position: relative;
    padding: r(10) r(20);
    line-height: r(24);
    font-size: r(14);
    color: #999;
    @include onepx(bottom);

    p {
      margin: 0;
    }

    &-error {
      color: $theme-error;
    }
  }

  &-stack {
    &-group {
      position: relative;
      height: 8 * $picker-stackitem-height;
      overflow: hidden;
    }

    &-column {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(0, 0);
      transition: transform .3s;

      &.lower-hidden {
        ~ .#{$prefixCls}-stack-column {
          transform: translate(100%, 0);
        }

        .#{$prefixCls}-stack-item {
          padding-left: r(20);
        }
      }

      @include pickerStackColumn(5);

      &:not(:last-child) {
        .#{$prefixCls}-stack-item {
          padding-right: r(40);

          &:before {
            position: absolute;
            right: r(15);
            top: 50%;
            content: '';
            width: r(9);
            height: r(9);
            margin-top: r(-4);
            border-right: r(2) solid #c7c7cc;
            border-top: r(2) solid #c7c7cc;
            transform: rotate(45deg);
          }
        }
      }

      &:first-child:last-child,
      &:nth-child(2):last-child {
        .#{$prefixCls}-stack-item {
          padding-left: r(20);
        }
      }
    }

    &-column-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: r(-20);
      bottom: 0;
      padding-right: r(20);
      overflow-y: scroll;
      background: #fff;
      box-shadow: 0 0 r(10) rgba(0, 0, 0, .3);
    }

    &-item {
      position: relative;
      padding: 0 r(10);
      line-height: $picker-stackitem-height;
      font-size: r(16);
      color: #333;
      transition: padding-left .4s;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include onepx(bottom);

      &.active {
        color: $theme-primary;
      }
    }
  }
}
