$prefixCls: ui-popup;

.#{$prefixCls} {
  position: relative;

  &-wrapper {
    position: fixed;
    transform: translate(0, 0);
    transition: transform .2s;
    z-index: $zIndex-popup;
    background: #fff;

    &.position-bottom {
      left: 0;
      bottom: 0;
      width: 100%;
    }

    &.position-top {
      left: 0;
      top: 0;
      width: 100%;
    }

    &.position-left {
      left: 0;
      top: 0;
      height: 100%;
    }

    &.position-right {
      right: 0;
      top: 0;
      height: 100%;
    }
  }

  &-hidden {
    &.position-bottom {
      transform: translate(0, 100%);
    }

    &.position-top {
      transform: translate(0, -100%);
    }

    &.position-left {
      transform: translate(-100%, 0);
    }

    &.position-right {
      transform: translate(100%, 0);
    }
  }
}
