$prefixCls: ui-progress;

.#{$prefixCls} {
  display: inline-block;
  position: relative;
  width: r(150);
  height: r(150);
  transform: translate3d(0, 0, 0);

  svg {
    width: 100%;
    height: 100%;
  }

  &-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1;
    transform: translateY(-50%);
    font-size: r(30);
  }
}
