$prefixCls: $prefixCls-pull;

.#{$prefixCls} {
  &-refresh,
  &-load {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 0;

    &-show {
      height: r(50);
    }
  }

  &-control {
    display: flex;
    align-items: center;
    padding: r(10) 0;
    height: r(50);
    color: #999;
    font-size: r(13);

    .#{$prefixCls-icon} {
      font-size: r(22);
    }

    * + span {
      margin-left: r(8);
    }
  }
}
