$prefixCls: $prefixCls-radio;

.#{$prefixCls} {
  display: inline-block;
  position: relative;
  margin-left: r(10);

  &:first-child {
    margin-left: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &-text {
    color: #333;
  }

  &-inner + &-text {
    margin-left: r(10);
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: r(20);
    height: r(20);
    border: 1px solid #999;
    border-radius: r(20);

    &:before {
      content: ' ';
      width: r(8);
      height: r(8);
      border-radius: r(8);
      background-color: $theme-primary;
      transform: scale(0);
      transition: all .2s cubic-bezier(.71, -0.46, .88, .6);
    }
  }

  /* 组合 */
  &-group {
    &.block {
      display: flex;
    }

    &.is-compact {
      .#{$prefixCls} {
        margin-left: -1px;
      }

      &.shape-radius {
        .#{$prefixCls} {
          border-radius: 0;

          &:first-child {
            border-radius: $radius-md 0 0 $radius-md;
          }

          &:last-child {
            border-radius: 0 $radius-md $radius-md 0;
          }
        }
      }

      &.shape-round {
        .#{$prefixCls} {
          border-radius: 0;

          &:first-child {
            border-radius: r(15) 0 0 r(15);
          }

          &:last-child {
            border-radius: 0 r(15) r(15) 0;
          }
        }
      }
    }
  }

  /* 选中状态 */
  &.checked {
    .#{$prefixCls}-inner {
      border-color: $theme-primary;

      &:before {
        transform: scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }

  /* 禁用状态 */
  &.disabled {
    .#{$prefixCls} {
      &-inner {
        border-color: $disabled-background;
        cursor: not-allowed;

        &:before {
          background-color: $disabled-background;
        }
      }

      &-text {
        color: $disabled-color;
      }
    }
  }

  /* 形状 */
  &.shape-radius {
    .#{$prefixCls} {
      &-inner {
        border-radius: $radius-md;
      }
    }
  }

  &.shape-round {
    .#{$prefixCls} {
      &-inner {
        border-radius: r(20);
      }
    }
  }

  &.shape-circle {
    .#{$prefixCls} {
      &-inner {
        border-radius: r(1000);
      }
    }
  }
}
