$prefixCls: $prefixCls-stepper;

@mixin stepper-theme($color, $activebg) {
  .#{$prefixCls} {
    &-sub,
    &-plus {
      color: $color;
      border: 1px solid $color;

      &:active {
        background: $activebg;
      }

      &.disabled {
        color: $disabled-color;
        border-color: $disabled-background;
        cursor: not-allowed;

        &:active {
          background: #fff;
        }
      }
    }
  }
}

.#{$prefixCls} {
  display: flex;
  user-select: none;
  @include stepper-theme($theme-info, $theme-info-light);

  &.disabled {
    .#{$prefixCls}-body {
      opacity: $disabled-opacity;
      cursor: not-allowed;
    }
  }

  &.shape-radius {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      border-radius: $radius-md;
    }
  }

  &.shape-circle {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      border-radius: 50%;
    }
  }

  &.theme-primary {
    @include stepper-theme($theme-primary, $theme-primary-light);
  }

  &.theme-info {
    @include stepper-theme($theme-info, $theme-info-light);
  }

  &.theme-success {
    @include stepper-theme($theme-success, $theme-success-light);
  }

  &.theme-warning {
    @include stepper-theme($theme-warning, $theme-warning-light);
  }

  &.theme-error {
    @include stepper-theme($theme-error, $theme-error-light);
  }

  &-sub,
  &-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: r(27);
    height: r(27);
    /*
      line-height: r(27);
      text-align: center;
    */
    font-size: r(18);
    font-weight: bold;
    cursor: pointer;
  }

  &-body {
    position: relative;
    width: r(40);
    margin: 0 r(10);
    padding: 0;
    height: r(27);
    border: 0;
    border-radius: 0;
    color: $theme-default;
    text-align: center;
    outline: 0;
    -webkit-appearance: none;
  }
}
