
.ui-swipe {
  position: relative;
  overflow: hidden;

  .ui-swipe-items {

    .ui-swipe-item {
      position: relative;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      
      &:after {
        clear: both;
      }

      .ui-swipe-pic {
        img {
          width: 100%;
          height: auto;
        }
      }

      .ui-swipe-info {
        position: absolute;
        left: 20px;
        bottom: 30px;

        .ui-swipe-title {
          color: #fff;
        }
      } 

    }
  }

  .ui-swipe-pagination {
    position: absolute;
    right: 10px;
    bottom: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        margin: 1px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        
        &.active {
          margin: 0;
          width: 10px;
          height: 10px;
          background: #fff;
        }
      }
    }
  }
}