
.ui-switch {
  position: relative;
  width: r(52);
  height: r(32);
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: r(16);
  background: #DFDFDF;
  appearance: none;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: r(50);
    height: r(30);
    border-radius: r(15);
    background-color: #FDFDFD;
    transition: transform .3s;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: r(30);
    height: r(30);
    border-radius: r(15);
    background-color: #FFFFFF;
    box-shadow: 0 r(1) r(3) rgba(0, 0, 0, 0.4);
    transition: transform .3s;
  }

  &.active {
    border-color: #04BE02;
    background-color: #04BE02;

    &:before {
      transform: scale(0);
    }

    &:after {
      transform: translateX(r(20));
    }
  }
}