$prefixCls: $prefixCls-toast;

.#{$prefixCls} {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  z-index: $zIndex-toast;

  &-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    position: relative;
    max-width: 70%;
    min-width: r(100);
    padding: r(12) r(20);
    border-radius: r(6);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-size: r(13);
  }
}
