
.ui-toast {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  z-index: 1300;

  &-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    position: relative;
    max-width: 70%;
    min-width: r(120);
    padding: r(20);
    border-radius: r(6);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: r(15);

    .ui-icon {
      font-size: r(40);
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1.5;
      overflow: hidden;
    }
  }
}
