
.ui-toast {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  overflow: auto;
  user-select: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1300;

  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  animation: slide-down 0.3s ease-out;
}
