$prefixCls: $prefixCls-tooltip;

.#{$prefixCls} {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateY(-100%);
  padding-bottom: r(5);

  &-inner {
    position: relative;
    background-color: rgba(0, 0, 0, .7);
    padding: r(6);
    border-radius: $radius-md;
    font-size: r(12);
    color: #fff;
    margin-bottom: r(5);

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: r(-5);
      width: 0;
      height: 0;
      transform: translateX(-50%);
      border-width: r(5) r(5) 0;
      border-color: transparent;
      border-top-color: rgba(0, 0, 0, .7);
      border-style: solid;
    }
  }

  &-hidden {
    display: none;
  }
}
