$prefixCls: $prefixCls-uploader;

.#{$prefixCls} {
  position: relative;
  display: inline-block;

  &.disabled {
    opacity: $disabled-opacity;
  }

  &-trigger {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }

  &-input {
    display: none;
  }
}
