@use 'sass:meta';
@use 'sass:string';

// 选择器转字符串
@function str-selector($selector) {
  $selector: meta.inspect($selector);
  $selector: string.slice($selector, 2, -2);
  @return $selector;
}

// 反向字符串
@function str-reverse($string) {
  $result: '';
  @for $i from string.length($string) through 1 {
    $result: $result + string.slice($string, $i, $i);
  }
  @return $result;
}

// 反向查找字符串
@function str-index-reverse($string, $substring) {
  $re-string: str-reverse($string);
  $re-substring: str-reverse($substring);
  $re-index: string.length($re-string) - string.length($re-substring) -
    string.index($re-string, $re-substring) + 2;
  @return $re-index;
}

// 是否包含字符串
@function str-contains($string, $substring) {
  @if string.index($string, $substring) {
    @return true;
  }
  @return false;
}

// 查找替换
// replace substring with another string
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}
