.docs-page {
  main {
    margin: 80px auto 15px;
    padding-top: 40px;
    background-color: #fff;
    overflow: hidden;

    .side-bar {
      position: fixed;
      top: 105px;
      bottom: 0;
      width: 280px;
      border-right: 1px solid #ebedf0;
      margin-right: -1px;
      padding-bottom: 50px;
      overflow-y: scroll;
      z-index: 1;

      .menu-item-content {
        .chinese {
          font-size: 12px;
          margin-left: 6px;
          opacity: .6;
        }
      }
    }
  
    .main-container {
      padding: 0 660px 140px 340px;
      background: #fff;
      min-height: 500px;
      overflow: hidden;
      border-left: 1px solid #ebedf0;
      position: relative;
      margin-left: -1px;

      h2 {
        font-size: 28px;
        color: #1f2d3d;
        margin: 0;
      }
    }

    .simulator {
      position: fixed;
      top: 105px;
      bottom: 0;
      right: 0;
      width: 600px;
      
      iframe {
        border: 1px solid #eaeefb;
      }
    }
  }
}

.demo {
  border: solid 1px #eaeefb;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;

  &-code {
    position: relative;
    overflow: hidden;
    background-color: #f9fafc;
  }

  &-control {
    border-top: solid 1px #eaeefb;
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: -1px;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative;

    span {
      display: inline-block;
      transform: translateX(-40px);
      font-size: 14px;
      line-height: 36px;
      transition: .3s;
      opacity: 0;
    }

    &:hover {
      color: #24292e;
      background-color: #f9fafc;

      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}