.docs-page {
  main {
    min-width: 1200px;
    margin: 80px auto 15px;
    padding-top: 40px;
    background-color: #fff;
    overflow: hidden;

    .side-bar {
      position: fixed;
      top: 65px;
      bottom: 0;
      width: 280px;
      border-right: 1px solid #ebedf0;
      margin-right: -1px;
      padding: 30px 0 50px 0;
      overflow-y: scroll;
      z-index: 1;

      .menu-item-content {
        .chinese {
          font-size: 12px;
          margin-left: 6px;
          opacity: .6;
        }
      }
    }
  
    .main-container {
      position: relative;
      min-height: 500px;
      margin-left: -1px;
      padding: 0 560px 140px 340px;
      background: #fff;
      overflow: hidden;
      border-left: 1px solid #ebedf0;

      pre {
        padding: 15px;
        border: 1px solid #eaeefb;
        border-radius: 4px;
        background: #f9fafc;
      }

      h2 {
        font-size: 28px;
        font-weight: normal;
        color: #1f2d3d;
        margin: 0;
      }

      h3 {
        font-size: 20px;
        font-weight: normal;
        color: #1f2d3d;
        margin-top: 50px;
      }

      h4 {
        font-size: 16px;
        font-weight: normal;
        color: #1f2d3d;
      }

      p {
        color: #666;
      }

      blockquote {
        margin: 0;
        padding: 0 20px;
        color: #6a737d;
        font-size: 16px;
        border-left: 4px solid #dfe2e5;
      }

      table.grid {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 45px;
    
        strong {
          font-weight: normal;
        }
    
        th {
          text-align: left;
          border-top: 1px solid #eaeefb;
          background-color: #f9fafc;
          white-space: nowrap;
          font-weight: normal;
          color: #999;
        }
    
        td,
        th {
          border-bottom: 1px solid #eaeefb;
          padding: 10px;
          max-width: 250px;
        }
    
        th:first-child,
        td:first-child {
          padding-left: 15px;
        }

        td > code {
          background-color: #f1f1f1;
          padding: 2px 6px;
          margin: 0 1px;
          border-radius: 3px;
        }
      }
    }

    .simulator {
      position: fixed;
      top: 105px;
      right: 0;
      width: 500px;
      
      iframe {
        border: 1px solid #eaeefb;
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
  font-size: 20px;
  border-radius: 30px;
  opacity: .8;
  box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #12C287;
    color: #fff;
    box-shadow:0px 2px 10px 0px rgba(18, 194, 135, 0.3);
  }
}