@import 'mixins';

@include b(tooltip) {
  padding: var(--za-tooltip-padding-vertical) var(--za-tooltip-padding-horizontal);
  background-color: var(--za-tooltip-background);
  border-radius: r(4);
  font-size: var(--za-tooltip-font-size);
  color: var(--za-tooltip-color);
  z-index: var(--zindex-tooltip);

  &[x-placement^=right] {
    margin-left: r(10);

    @include arrow () {
      left: r(-4);
      border-width: var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) 0;
      border-right-color: var(--za-tooltip-background);
    }
  }

  &[x-placement^=top] {
    margin-bottom: r(10);

    @include arrow () {
      bottom: r(-4);
      border-width: var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) 0;
      border-top-color: var(--za-tooltip-background);
    }
  }

  &[x-placement^=bottom] {
    margin-top: r(10);

    @include arrow () {
      top: r(-4);
      border-width: 0 var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size);
      border-bottom-color: var(--za-tooltip-background);
    }
  }

  &[x-placement^=left] {
    margin-right: r(10);

    @include arrow () {
      right: r(-4);
      border-width: var(--za-tooltip-arrow-size) 0 var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size);
      border-left-color: var(--za-tooltip-background);
    }
  }

  @include e(arrow) {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
