@import 'mixins';

@include b(tooltip) {
  padding: var(--za-tooltip-padding-vertical) var(--za-tooltip-padding-horizontal);
  background-color: var(--za-tooltip-background);
  border-radius: 4px;
  font-size: var(--za-tooltip-font-size);
  color: var(--za-tooltip-color);
  z-index: var(--zindex-tooltip);

  &[data-popper-placement^=right] {
    margin-left: 10px;

    @include b(popper) {
      @include e(arrow) {
        left: -4px;
        border-width: var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) 0;
        border-right-color: var(--za-tooltip-background);
      }
    }
  }

  &[data-popper-placement^=top] {
    margin-bottom: 10px;

    @include b(popper) {
      @include e(arrow) {
        bottom: -4px;
        border-width: var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) 0;
        border-top-color: var(--za-tooltip-background);
      }
    }
  }

  &[data-popper-placement^=bottom] {
    margin-top: 10px;

    @include b(popper) {
      @include e(arrow) {
        top: -4px;
        border-width: 0 var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size);
        border-bottom-color: var(--za-tooltip-background);
      }
    }
  }

  &[data-popper-placement^=left] {
    margin-right: 10px;

    @include b(popper) {
      @include e(arrow) {
        right: -4px;
        border-width: var(--za-tooltip-arrow-size) 0 var(--za-tooltip-arrow-size) var(--za-tooltip-arrow-size);
        border-left-color: var(--za-tooltip-background);
      }
    }
  }

  @include b(popper) {
    @include e(arrow) {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }
}
