$prefixCls: $prefixCls-checkbox;

.#{$prefixCls} {
  display: inline-block;
  position: relative;
  margin-left: r(10);

  &:first-child {
    margin-left: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &-text {
    color: $color-text;
  }

  &-inner + &-text {
    margin-left: r(10);
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 1px solid #999;
    border-radius: $checkbox-size;
    background: #fff;

    &:before {
      content: ' ';
      width: $checkbox-size / 3.5;
      height: $checkbox-size / 2;
      border: r(2) solid $theme-primary;
      border-top: 0;
      border-left: 0;
      margin-top: r(-2);
      transform: rotate(45deg) scale(0);
      transition: all .2s cubic-bezier(.71, -0.46, .88, .6);
    }
  }

  /* 组合 */
  &-group {
    &.block {
      display: flex;
    }

    &.is-compact {
      .#{$prefixCls} {
        margin-left: -1px;
      }

      &.shape-radius {
        .#{$prefixCls} {
          border-radius: 0;

          &:first-child {
            border-radius: $radius-md 0 0 $radius-md;
          }

          &:last-child {
            border-radius: 0 $radius-md $radius-md 0;
          }
        }
      }

      &.shape-round {
        .#{$prefixCls} {
          border-radius: 0;

          &:first-child {
            border-radius: $radius-round 0 0 $radius-round;
          }

          &:last-child {
            border-radius: 0 $radius-round $radius-round 0;
          }
        }
      }
    }
  }

  /* 选中状态 */
  &.checked {
    .#{$prefixCls}-inner {
      border-color: $theme-primary;

      &:before {
        transform: rotate(45deg) scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }

  /* 禁用状态 */
  &.disabled {
    .#{$prefixCls} {
      &-inner {
        border-color: $border-disabled;
        cursor: not-allowed;

        &:before {
          border-color: $border-disabled;
        }
      }

      &-text {
        color: $color-text-disabled;
      }
    }
  }
}
