@import "../../style/core/index";

@include b(checkbox) {
  display: inline-block;
  position: relative;
  margin-left: r(10);

  &:first-child {
    margin-left: 0;
  }

  @include e(wrapper) {
    display: flex;
    align-items: center;
  }

  @include e(input) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  @include e(text) {
    color: var(--color-text);
    margin-left: r(10);
  }

  @include e(inner) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 1px solid #999;
    border-radius: var(--checkbox-size);
    background: #fff;

    &:before {
      content: '';
      width: calc(var(--checkbox-size) / 3.5);
      height: calc(var(--checkbox-size) / 2);
      border: r(2) solid #fff;
      border-top: 0;
      border-left: 0;
      margin-top: r(-2);
      transform: rotate(45deg) scale(0);
      transition: all .2s cubic-bezier(.71, -0.46, .88, .6);
    }
  }

  /* 选中状态 */
  @include m(checked) {
    @include e(inner) {
      border-color: var(--theme-primary);
      background-color: var(--theme-primary);

      &:before {
        transform: rotate(45deg) scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }

  /* 禁用状态 */
  @include m(disabled) {
    @include e(inner) {
      border-color: var(--border-disabled);
      cursor: not-allowed;
    }

    @include e(text) {
      color: var(--color-text-disabled);
    }

    @include m(checked) {
      @include e(inner) {
        background-color: var(--background-disabled);
      }
    }
  }
}

@include b(checkbox-group) {
  @include m(block) {
    display: flex;
  }

  @include m(compact) {
    @include m(radius) {
      @include b(button) {
        border-radius: 0;

        &:first-child {
          border-radius: var(--radius-md) 0 0 var(--radius-md);
        }

        &:last-child {
          border-radius: 0 var(--radius-md) var(--radius-md) 0;
        }
      }
    }

    @include m(round) {
      @include b(button) {
        border-radius: 0;

        &:first-child {
          border-radius: var(--radius-round) 0 0 var(--radius-round);
        }

        &:last-child {
          border-radius: 0 var(--radius-round) var(--radius-round) 0;
        }
      }
    }

    @include b(button) {
      margin-left: -1px;
    }
  }
}
