@include b(tabs) {

  @include e(header) {
    position: relative;
    overflow: hidden;
  }

  @include e(panel) {
    position: relative;
    transition: height .3s;
    display: none;

    @include m(active) {
      display: block;
    }
  }

  @include e(tab) {
    flex: 1;
    text-align: center;
    color: var(--color-text);
    font-size: var(--tabs-item-font-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    @include m(disabled) {
      color: var(--color-text-disabled);
      cursor: not-allowed;
    }
  }

  @include e(line) {
    position: absolute;
    transition: transform .3s ease-out;
    background-color: var(--theme-primary);

    &__inner {
      display: block;
      margin: auto;
      height: 100%;
      background-color: var(--theme-primary);
    }
  }

  @include m(horizontal) {

    @include e(header) {
      width: 100%;
      @include onepx(bottom);

      ul {
        position: relative;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        height: var(--tabs-height);
        line-height: var(--tabs-height);

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    @include e(header--scroll) {
      ul {
        overflow-x: scroll;
      }

      @include e(tab) {
        display: inline-block;
        overflow: visible;
        padding: 0 var(--tabs-item-horizontal-padding);
      }
    }

    @include e(line) {
      left: 0;
      bottom: 0;
      height: var(--tabs-line-height);
    }
  }

  @include m(vertical) {
    display: flex;
    flex-direction: row;

    @include e(header) {
      @include onepx(right);

      ul {
        height: 100%;
        padding: 0 var(--tabs-item-horizontal-padding);
        margin: 0;
      }
    }

    @include e(header--scroll) {
      ul {
        overflow-y: auto;
        position: relative;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    @include e(tab) {
      display: flex;
      align-items: center;
      padding: var(--tabs-item-vertical-padding) 0;
    }

    @include e(line) {
      top: 0;
      width: var(--tabs-line-height);
      right: 0;
    }

    @include e(body) {
      flex: 1;
      position: relative;
    }
  }
}
