@include b(tabs) {
  @include e(header) {
    position: relative;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      height: var($--tabs-height);
      line-height: var($--tabs-height);
      @include onepx(bottom);
    }

    &__item {
      flex: 1;
      text-align: center;
      color: $color-text;
      font-size: var($--tabs-item-font-size);
      cursor: pointer;
  
      @include m(disabled) {
        color: $color-text-disabled;
        cursor: not-allowed;
      }
    }
  }

  @include e(line) {
    position: absolute;
    left: 0;
    bottom: 0;
    height: var($--tabs-line-height);
    transition: left .3s ease-out;
    background-color: $theme-primary;

    &__inner {
      display: block;
      margin: auto;
      height: 100%;
      background-color: $theme-primary;
    }
  }

  @include e(panel) {
    position: relative;
    transition: height .3s;

    &__item {
      display: none;

      @include m(active) {
        display: block;
      }
    }
  }

  @include m(hasline) {
    @include e(header__item) {
      &:nth-of-type(n+2) {
        position: relative;

        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: r(14);
          margin-top: r(-7);
          background: #e9e9e9;
        }
      }
    }
  }
}
