@include b(wheel) {
  display: block;
  position: relative;
  width: 100%;
  height: $--wheel-item-rows * $--wheel-item-height;
  overflow: hidden;

  @include e(content) {
    margin-top: $--wheel-item-height * 2;
  }

  @include e(item) {
    text-align: center;
    font-size: $--wheel-item-font-size;
    line-height: $--wheel-item-height;
    height: $--wheel-item-height;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @include m(disabled) {
      color: $--color-text-disabled;
    }
  }
}
