$prefixCls: $prefixCls-wheel;
$itemheight: $wheel-item-height;

.#{$prefixCls} {
  display: block;
  position: relative;
  overflow: hidden;
  height: 7 * $itemheight;
  width: 100%;

  &-content {
    padding: 3 * $itemheight 0;
  }

  &-item {
    text-align: center;
    font-size: r(16);
    line-height: $itemheight;
    height: $itemheight;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // &-selected {
    //   font-size: r(18);
    //   transition: all 0.1s;
    // }
  }

  &-indicator {
    position: absolute;
    right: 0;
    left: 0;
    top: 3 * $itemheight;
    height: $itemheight;
    @include onepx(top bottom);
  }
}
