
// Icon
$--icon-url: '//at.alicdn.com/t/font_126288_z7z21fgtal';

@font-face {
  font-family: 'zarmicon';
  src: url('#{$--icon-url}.eot');
  src: url('#{$--icon-url}.eot?#iefix') format('embedded-opentype'),
  url('#{$--icon-url}.woff2') format('woff2'),
  url('#{$--icon-url}.woff') format('woff'),
  url('#{$--icon-url}.ttf') format('truetype'),
  url('#{$--icon-url}.svg#zarmicon') format('svg');
}

@include b(icon) {
  display: inline-block;
  font-family: 'zarmicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include m(primary) {
    color: var(--theme-primary);
  }
  @include m(success) {
    color: var(--theme-success);
  }
  @include m(warning) {
    color: var(--theme-warning);
  }
  @include m(danger) {
    color: var(--theme-danger);
  }

  @include m(arrow-top) {
    &:before { content: '\e60e'; }
  }
  @include m(arrow-bottom) {
    &:before { content: '\e60f'; }
  }
  @include m(arrow-left) {
    &:before { content: '\e610'; }
  }
  @include m(arrow-right) {
    &:before { content: '\e611'; }
  }
  @include m(warning-round-fill) {
    &:before { content: '\e616'; }
  }
  @include m(warning-round) {
    &:before { content: '\e617'; }
  }
  @include m(right-square-fill) {
    &:before { content: '\e600'; }
  }
  @include m(right-square) {
    &:before { content: '\e601'; }
  }
  @include m(wrong) {
    &:before { content: '\e602'; }
  }
  @include m(wrong-round-fill) {
    &:before { content: '\e603'; }
  }
  @include m(wrong-round) {
    &:before { content: '\e604'; }
  }
  @include m(add-round) {
    &:before { content: '\e605'; }
  }
  @include m(add) {
    &:before { content: '\e606'; }
  }
  @include m(add-round-fill) {
    &:before { content: '\e607'; }
  }
  @include m(minus) {
    &:before { content: '\e608'; }
  }
  @include m(info-round-fill) {
    &:before { content: '\e609'; }
  }
  @include m(info-round) {
    &:before { content: '\e60a'; }
  }
  @include m(question-round-fill) {
    &:before { content: '\e60b'; }
  }
  @include m(question-round) {
    &:before { content: '\e60c'; }
  }
  @include m(right) {
    &:before { content: '\e60d'; }
  }
  @include m(right-round-fill) {
    &:before { content: '\e612'; }
  }
  @include m(right-round) {
    &:before { content: '\e613'; }
  }
  @include m(minus-round-fill) {
    &:before { content: '\e614'; }
  }
  @include m(required) {
    &:before { content: '\e619'; }
  }
  @include m(minus-round) {
    &:before { content: '\e615'; }
  }
  @include m(broadcast) {
    &:before { content: '\e618'; }
  }
  @include m(deletekey) {
    &:before { content: '\e61a'; }
  }
  @include m(keyboard) {
    &:before { content: '\e61b'; }
  }
  @include m(search) {
    &:before { content: '\e61d'; }
  }
}
