@import "../../style/core/index";
@import 'mixins';

$size: 'size-';
$theme: 'theme-';

@include b(icon) {
  width: 1em;
  height: 1em;
  font-size: var(--icon-font-size-md);
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include icon-size(var(--icon-font-size-md));

  /* icon themes */
  @include m($theme + 'default') {
    @include icon-theme(var(--icon-theme-default));
  }
  @include m($theme + 'primary') {
    @include icon-theme(var(--theme-primary));
  }
  @include m($theme + 'success') {
    @include icon-theme(var(--theme-success));
  }
  @include m($theme + 'warning') {
    @include icon-theme(var(--theme-warning));
  }
  @include m($theme + 'danger') {
    @include icon-theme(var(--theme-danger));
  }

  /* icon sizes */
  @include m($size + sm) {
    @include icon-size(var(--icon-font-size-sm));
  }
  @include m($size + md) {
    @include icon-size(var(--icon-font-size-md));
  }
  @include m($size + lg) {
    @include icon-size(var(--icon-font-size-lg));
  }
}
