@import '@zarm-design/bem/sass';
@import './themes/default';
@import '../font/style/icon.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*[contenteditable] {
  user-select: auto !important;
}

*:focus {
  outline: none;
}
