$prefixCls: 'za' !default;

@use '~@zarm-design/bem/sass/za' as sass;
@use 'themes/default';
@use '../icon/style/index.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*[contenteditable] {
  user-select: auto !important;
}

*:focus {
  outline: none;
}
