@import "mixins";

@include b(message) {
  display: flex;
  position: relative;
  padding: $--padding-v-md $--padding-h-md;
  min-height: $--message-min-height;
  font-size: $--message-font-size;
  @include message-theme($--theme-default);

  @include e(icon) {
    margin-right: r(5);
    margin-top: r(1);
    font-size: r(16);
  }

  @include e(header, footer) {
    line-height: 1;
  }

  @include e(body) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: r(10);
  }

  @include m(primary) {
    @include message-theme($--theme-primary);
  }

  @include m(success) {
    @include message-theme($--theme-success);
  }

  @include m(warning) {
    @include message-theme($--theme-warning);
  }

  @include m(danger) {
    @include message-theme($--theme-danger);
  }

  @include m(lg) {
    min-height: $--message-min-height-lg;
    padding: $--padding-v-lg $--padding-h-lg;

    @include b(icon) {
      margin-right: r(10);
      margin-top: r(4);
    }

    @include e(body) {
      font-size: $--message-font-size-lg;
    }
  }
}
