@import "mixins";

@include b(message) {
  display: flex;
  position: relative;
  padding: $--message-padding-v-md $--message-padding-h-md;
  min-height: $--message-min-height-md;
  font-size: $--message-font-size-md;
  @include message-theme($--theme-default);

  @include e(icon) {
    margin-right: r(4);
    font-size: r(16);
  }

  @include e(header) {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  @include e(body) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: r(10);
    
    @include b(icon) {
      font-size: r(14);
    }
  }

  @include m(primary) {
    @include message-theme($--theme-primary);
  }

  @include m(success) {
    @include message-theme($--theme-success);
  }

  @include m(warning) {
    @include message-theme($--theme-warning);
  }

  @include m(danger) {
    @include message-theme($--theme-danger);
  }

  @include m(lg) {
    min-height: $--message-min-height-lg;
    font-size: $--message-font-size-lg;
    padding: $--message-padding-v-lg $--message-padding-h-lg;

    @include e(icon) {
      margin-right: r(6);
    }

    @include e(body) {
      font-size: $--message-font-size-lg;
    }

    @include e(footer) {
      @include b(icon) {
        font-size: r(16);
      }
    }
  }
}
