$prefixCls: 'za' !default;

@import '~@zarm-design/bem/sass';

$keyframesSeparator: '_';

@mixin define($key, $value) {
  $block: str-replace(get-block(&), '.', '');

  --#{$key}: var(--#{$block + $blockSeparator + $key}, #{$value});
}
