$prefixCls: $prefixCls-notice-bar;

.#{$prefixCls} {
  width: 100%;
  height: $notice-bar-height;
  line-height: $notice-bar-height;
  position: relative;
  overflow: hidden;

  &-body {
    position: absolute;
    left: 0;
    top: r(2);
    white-space: nowrap;
  }
}
