@include b(notice-bar) {
  position: relative;
  width: 100%;
  height: $--notice-bar-height;
  line-height: $--notice-bar-height;
  overflow: hidden;

  @include e(body) {
    position: absolute;
    left: 0;
    top: r(2);
    white-space: nowrap;
  }
}
