@use '@/styles/index' as *;

.index-page {
  .brand {
    padding: 45px 45px 15px 45px;

    &-title {
      font-size: 30px;
    }

    &-description {
      font-size: 14px;
    }
  }

  .menu-item-content {
    .chinese {
      margin-left: 6px;
      opacity: 0.5;
    }
  }
}
