// .popup-box {
//   width: 100%;
//   height: 200px;
//   background-color: #fff;
//   padding: 20px;
// }

// .popup-box-top {
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   color: #fff;
//   text-align: center;
//   padding: 10px;
// }

// .popup-box-left,
// .popup-box-right {
//   width: 200px;
//   height: 100%;
//   background: #fff;
//   padding: 20px;
// }
