$prefixCls: $prefixCls-progress;

@mixin progress-theme($color) {
  .#{$prefixCls}-bg {
    background-color: $color;
  }
}

.#{$prefixCls} {
  display: flex;
  align-items: center;
  position: relative;

  &-inner {
    flex: 1;
    background-color: #e6e6e6;
  }

  &-text {
    display: inline-block;
    margin-left: r(5);
    font-size: r(12);
  }

  &-bg {
    height: 100%;
    background-color: $theme-primary;
    transition: width .3s;
  }

  .#{$prefixCls-spinner} {
    &-line {
      transition: stroke-dasharray .3s;
    }
  }

  &.shape-circle {
    display: inline-block;
    width: r(150);
    height: r(150);

    .#{$prefixCls} {
      &-inner {
        background-color: transparent;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &-text {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: center;
        line-height: 1;
        transform: translateY(-50%);
        font-size: r(30);
      }
    }
  }

  &.theme-default {
    @include progress-theme($theme-default);
  }

  &.theme-primary {
    @include progress-theme($theme-primary);
  }

  &.theme-info {
    @include progress-theme($theme-info);
  }

  &.theme-warning {
    @include progress-theme($theme-warning);
  }

  &.theme-error {
    @include progress-theme($theme-error);
  }
}
