@import "mixins";

@include b(progress) {
  display: flex;
  align-items: center;
  position: relative;

  @include e(text) {
    display: inline-block;
    margin-left: r(5);
    font-size: r(12);
  }

  @include m(line) {
    width: 100%;
    height: r(20);
    @include progress-theme('background-color');

    @include e(track) {
      width: 100%;
      height: 100%;
      background: $--progress-background;
      overflow: hidden;
    }

    @include e(thumb) {
      height: 100%;
      transition: width .6s ease, background-color .6s ease;
    }
  }

  @include m(circle) {
    display: inline-block;
    width: $--progress-circle-diameter;
    height: $--progress-circle-diameter;
    @include progress-type();
    @include progress-theme('stroke');

    svg {
      width: 100%;
      height: 100%;
    }

    @include e(text) {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      line-height: 1;
      transform: translateY(-50%);
      font-size: r(30);
    }
  }

  @include m(semi-circle) {
    display: inline-block;
    width: $--progress-circle-diameter;
    height: $--progress-circle-diameter / 2;
    @include progress-type();
    @include progress-theme('stroke');

    svg {
      width: 100%;
      height: 100%;
    }

    @include e(text) {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      line-height: 1;
      font-size: r(30);
    }
  }
}
