$prefixCls: $prefixCls-slider;

.#{$prefixCls} {
  position: relative;
  width: 100%;
  height: r(2);
  margin: r(14) 0;
  padding: 0 r(14);

  &-line {
    flex: 1;
    height: r(2);
    background-color: #d6d6d6;

    &-bg {
      height: 100%;
      background-color: $theme-primary;
    }
  }

  &-handle {
    position: absolute;
    left: 0;
    top: r(-14);
    width: r(28);
    height: r(28);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 r(1) r(3) rgba(0, 0, 0, 0.4);

    &-shadow {
      width: r(28);
      height: r(28);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }
}
