@include b(address-anchor) {
  @include e(container) {
    position: relative;
    height: 100%;
    @include e(each-enum) {
      height: 100%;
      overflow: auto;
      @include e(title) {
        padding: 5px 0 5px 15px;
        color: #999;
        font-size: 13px;
        background-color: #f7f7f7;
      }
    }
    @include e(cus-key) {
      cursor: pointer;
      position: fixed;
      top: 10px;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 27px;
      padding-top: 5px;
      padding-bottom: 66px;
      overflow: auto;
      background: transparent;
      -webkit-overflow-scrolling: touch;
      @include e(alphabet-item) {
        display: block;
        margin: 4px 0;
        color: var(--theme-primary);
        font-weight: 400;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        text-align: center;
      }
    }
  }
}
