@include b(panel) {
  @include define(header-padding, '25px 16px 10px 16px');
  @include define(header-font-size, 13px);
  @include define(header-color, rgba(60, 60, 67, 0.6));
  @include define(body-background, #fff);
  @include define(body-font-size,  var(--za-font-size-md));
  @include define(body-color, var(--za-color-text));
  @include define(body-border-radius, 10px);
  @include define(spacing-padding-horizontal, 16px);

  @include e(header) {
    display: flex;
    padding: var(--header-padding);
    font-size: var(--header-font-size);
    color: var(--header-color);

    &__title {
      flex: 1;
    }
  }

  @include e(body) {
    position: relative;
    background: var(--body-background);
    font-size: var(--body-font-size);
    color: var(--body-color);

  }

  @include m(spacing) {
    padding: 0 var(--spacing-padding-horizontal);

    @include e(body) {
      border-radius: var(--body-border-radius);
      overflow: hidden;
      @include onepx(none);
    }
  }

  &:not(&--spacing) {
    @include m(bordered) {
      @include e(body) {
        @include onepx(top bottom);
      }
    }
  }
}
