@import "mixins";

@include b(badge) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  @include badge-theme($--theme-default);

  @include e(content) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    color: $--badge-text-color;
    font-size: $--badge-font-size;
    height: $--badge-height;
    padding: 0 $--badge-padding-h;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @include m(primary) {
    @include badge-theme($--theme-primary);
  }

  @include m(success) {
    @include badge-theme($--theme-success);
  }

  @include m(warning) {
    @include badge-theme($--theme-warning);
  }

  @include m(danger) {
    @include badge-theme($--theme-danger);
  }

  @include m(dot) {
    @include e(content) {
      width: $--badge-dot-diameter;
      height: $--badge-dot-diameter;
      padding: 0;
      border-radius: $--radius-circle;
    }
  }

  @include m(radius) {
    @include e(content) {
      border-radius: $--badge-border-radius-rect;
    }
  }

  @include m(round) {
    @include e(content) {
      min-width: $--badge-height;
      border-radius: $--badge-border-radius-round;
    }
  }

  @include m(circle) {
    @include e(content) {
      width: $--badge-height;
      border-radius: $--radius-circle;
      padding: 0;
    }
  }

  @include m(leaf) {
    @include e(content) {
      min-width: $--badge-height;
      border-radius: $--badge-border-radius-round $--badge-border-radius-round $--badge-border-radius-round 0;
    }
  }

  @include m(sup) {
    @include e(content) {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateX(- $--badge-height / 2) translateY($--badge-sup-top);
    }

    @include m(dot) {
      @include e(content) {
        transform: translateX(- $--badge-dot-diameter / 2) translateY(-50%);
      }
    }
  }
}
