$prefixCls: $prefixCls-tab;

@mixin tab-theme($color) {
  .#{$prefixCls} {
    &-header-item {
      &.active {
        color: $color;
      }
    }

    &-line {
      background-color: $color;

      &-inner {
        background-color: $color;
      }
    }
  }
}

.#{$prefixCls} {
  @include tab-theme($theme-primary);

  &.theme-default {
    @include tab-theme($theme-default);
  }

  &.theme-primary {
    @include tab-theme($theme-primary);
  }

  &.theme-info {
    @include tab-theme($theme-info);
  }

  &.theme-success {
    @include tab-theme($theme-success);
  }

  &.theme-warning {
    @include tab-theme($theme-warning);
  }

  &.theme-error {
    @include tab-theme($theme-error);
  }

  &-header {
    position: relative;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      height: r(45);
      line-height: r(45);
      @include onepx(bottom);
    }

    &-item {
      flex: 1;
      text-align: center;
      font-size: r(15);
      color: #000;
      cursor: pointer;

      /*
      &.hasline {
        &:nth-of-type(n+2) {
          position: relative;

          &:after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: r(14);
            margin-top: r(-7);
            background: #e9e9e9;
          }
        }
      }
      */

      &.active {
        color: $theme-success;
      }

      &.disabled {
        color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }

  &-line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: r(2);
    transition: left .3s ease-out;

    &-inner {
      display: block;
      margin: auto;
      height: 100%;
    }
  }

  &-panel {
    position: relative;
    transition: height .3s;

    &-item {
      display: none;
      font-size: r(14);

      &.active {
        display: block;
      }
    }
  }
}
