@include b(cascader-view) {
  @include define(background-color, #fff);
  @include define(padding, var(--za-padding-v-sm));
  @include define(tab-text-color, var(--za-color-text-placeholder));
  @include define(tab-active-text-color, var(--za-theme-primary));
  @include define(options-height, auto);
  @include define(option-text-color, var(--za-color-text));
  @include define(option-active-text-color, var(--za-theme-primary));
  @include define(option-font-size, var(--za-font-size-sm));
  @include define(option-height, 44px);

  background: var(--background-color);

  @include e(tab-text) {
    @include m(unselected) {
      color: var(--tab-text-color);
    }
  }

  @include e(content) {
    height: var(--options-height);
    overflow-y: scroll;

    @include b(list-item) {
      @include e(wrapper) {
        min-height: var(--option-height);
      }

      @include e(inner) {
        line-height: calc(var(--option-height) - var(--padding) * 2);
      }
    }

    &-item {
      padding-left: 20px;
      background-color: var(--background-color);
      font-size: var(--option-font-size);
      color: var(--option-color-text);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include m(active) {
        color: var(--option-active-text-color);
      }
    }
  }
}

@include b(cascader-view-tabs) {
  @include b(tabs) {
    @include e(tab) {
      flex: none;
      font-size: var(--option-font-size);

      @include m(active) {
        color: var(--tab-active-text-color);
      }
    }

    @include b(carousel) {
      @include e(items) {
        transition-duration: 0;
      }
    }
  }
}
