@import 'mixins';

@include b(progress) {
  @include define(background, #f2f2f2);
  @include define(width-lg, 100%);
  @include define(width-md, 100%);
  @include define(width-sm, 140px);
  @include define(size-lg, 200px);
  @include define(size-md, 250px);
  @include define(size-sm, 80px);
  @include define(font-size-circle-lg, 30px);
  @include define(font-size-circle-md, 24px);
  @include define(font-size-circle-sm, 18px);

  display: inline-block;
  position: relative;

  @include e(outer) {
    display: flex;
    align-items: center;
  }

  @include e(text) {
    display: inline-block;
    margin-left: r(5);
    font-size: r(14);
  }

  @include m(line) {
    @include progress-theme('background-color');

    @include m(lg) {
      width: var(--width-lg);
    }

    @include m(md) {
      width: var(--width-md);
    }

    @include m(sm) {
      width: var(--width-sm);
    }

    @include e(track) {
      width: 100%;
      height: 100%;
      background: var(--background);
      overflow: hidden;
    }

    @include e(thumb) {
      height: 100%;
      width: 0;
      transition: width .6s ease, background-color .6s ease;
    }
  }

  @include m(circle) {
    display: inline-block;
    @include progress-type();
    @include progress-theme('stroke');

    svg {
      width: 100%;
      height: 100%;
    }

    @include e(text) {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      line-height: 1;
      transform: translateY(-50%);
    }

    @include m(lg) {
      width: var(--size-lg);
      height: var(--size-lg);

      @include e(text) {
        font-size: var(--font-size-circle-lg);
      }
    }

    @include m(md) {
      width: var(--size-md);
      height: var(--size-md);

      @include e(text) {
        font-size: var(--font-size-circle-md);
      }
    }

    @include m(sm) {
      width: var(--size-sm);
      height: var(--size-sm);

      @include e(text) {
        font-size: var(--font-size-circle-sm);
      }
    }
  }

  @include m(semi-circle) {
    display: inline-block;
    @include progress-type();
    @include progress-theme('stroke');

    svg {
      width: 100%;
      height: 100%;
    }

    @include e(text) {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      line-height: 1;
    }

    @include m(lg) {
      width: var(--size-lg);
      height: calc(var(--size-lg) / 2);

      @include e(text) {
        font-size: var(--font-size-circle-lg);
      }
    }

    @include m(md) {
      width: var(--size-md);
      height: calc(var(--size-md) / 2);

      @include e(text) {
        font-size: var(--font-size-circle-md);
      }
    }

    @include m(sm) {
      width: var(--size-sm);
      height: calc(var(--size-sm) / 2);

      @include e(text) {
        font-size: var(--font-size-circle-sm);
      }
    }
  }
}
