$themeMap: (
  primary: var(--za-theme-primary),
  success: var(--za-theme-success),
  warning: var(--za-theme-warning),
  danger: var(--za-theme-danger),
);

@mixin progress-theme($attr) {
  @each $key, $value in $themeMap {
    @include m($key) {
      @include e(thumb) {
        #{$attr}: $value;
      }
    }
  }
}

@mixin progress-type() {
  @include e(track) {
    stroke: var(--background);
    fill-opacity: 0;
  }

  @include e(thumb) {
    fill-opacity: 0;
    transition: stroke-dashoffset 0.6s ease, stroke 0.6s ease;
  }
}
