@keyframes za-menu-slide-up-enter {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes za-menu-slide-up-leave {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}

@keyframes za-menu-slide-down-enter {
  0% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes za-menu-slide-down-leave {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}

.za-menu-slide-up-enter {
  animation: za-menu-slide-up-enter both cubic-bezier(0.23, 1, 0.32, 1);
}

.za-menu-slide-up-leave {
  animation: za-menu-slide-up-leave both cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.za-menu-slide-down-enter {
  animation: za-menu-slide-down-enter both cubic-bezier(0.23, 1, 0.32, 1);
}

.za-menu-slide-down-leave {
  animation: za-menu-slide-down-leave both cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
