@keyframes za-rotate-enter {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
  }

  to {
    transform-origin: center;
    transform: scale3d(1, 1, 1);
  }
}

.za-rotate-enter {
  animation: za-rotate-enter both;
}

@keyframes za-rotate-leave {
  from {
    transform-origin: center;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
  }
}

.za-rotate-leave {
  animation: za-rotate-leave both;
}
