@keyframes spread-enter {
  from {
    width: 0;
  }
<<<<<<< HEAD
  to {
=======
  to{
>>>>>>> 51498af1edca79b1a24d92edc8c10cf1636c64f2
    width: 100%;
  }
}

.spread-enter {
  animation: spread-enter both ease-in .5s;
  overflow:hidden;
}

@keyframes spread-leave {
  from {
    width: 100%;
  }
<<<<<<< HEAD
  to {
    width: 0;
  }
=======
>>>>>>> 51498af1edca79b1a24d92edc8c10cf1636c64f2
}

.spead-leave {
  animation: door-leave both;
}
