.brand {
  padding: 60px 60px 30px 60px;

  &-description {
    font-size: 28px;
  }

  &-title {
    font-size: 60px;
  }
}

.main {
  padding: 0 30px;
}

.page {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

.zh {
  font-size: 26px;
  color: #999;
  padding-left: 10px;
}
