
@keyframes rotate360 {
  from { 
    transform: rotate(0);
  }
  to { 
    transform: rotate(360deg);
  }
}
.rotate360 {
  animation: rotate360 1s infinite linear;
}

/* rotate */
@keyframes rotate-enter {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
  }
  to {
    transform-origin: center;
    transform: scale3d(1, 1, 1);
  }
}
.rotate-enter {
  animation: rotate-enter both;
}

@keyframes rotate-leave {
  from {
    transform-origin: center;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
  }
}
.rotate-leave {
  animation: rotate-leave both;
}