@import "../functions/index";

.badge-page {
  .custom-panel {
    display: flex;
    justify-content: space-between;
    padding: r(25);
    background: #fff;
  }

  .box {
    &-item {
      width: r(30);
      height: r(30);
      background: #ddd;
    }
  }
}
