@import "../core/func";

.button-page {
  .zax-panel-body {
    overflow: hidden;
    padding: r(10) r(10) 0 r(10);
    background: #fff;
  }

  .zax-button {
    margin-bottom: r(10);
    margin-right: r(10);
  }
}
