@import "../functions/index";

.button-page {
  .za-panel-body {
    overflow: hidden;
    padding: r(10) r(10) 0 r(10);
    background: #fff;
  }

  .za-button {
    margin-bottom: r(10);
    margin-right: r(10);
  }
}
