@import "../functions/index";

.calendar-page {
  .za-calendar {
    &__body {
      max-height: 50vh;
    }
  }

  .custom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    &-text {
      position: absolute;
      bottom: r(-12);
      font-size: r(10);
    }
  }
}
