
.example {
   padding: 15px;

  > .title {
    margin: 50px auto;
    text-align: center;

    > h1 {
      margin: 0;
      font-size: 40px;
    }

    > p {
      margin: 0;
      color: gray;
    }
  } 
}
