@import "../core/func";

.icon-page {

  .ui-panel-body {
    padding: r(10) 0 r(10) r(10);
    background: #fff;
  }

  .ui-icon {
    display: inline-block;
    font-size: r(30);
    margin-right: r(10);
  }
}
