@import "../mixins/index";
@import "../functions/index";

.icon-page {
  .icon {
    display: block;
    margin-bottom: r(15);
    font-size: r(45);

    &-name {
      font-size: r(13);
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    &-column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      width: 33.33%;
      height: r(125);
      @include onepx(top right);

      &:nth-of-type(3n) {
        @include onepx(top);
      }
    }
  }
}
