@import "../core/mixins";
@import "../core/func";

.icon-page {
  .icon-name {
    font-size: r(13);
  }

  .za-icon {
    display: block;
    font-size: 45px;
    margin-bottom: r(15);
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    &-column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      width: 33.33%;
      height: r(125);
      @include onepx(top right);

      &:nth-of-type(3n) {
        @include onepx(top);
      }
    }
  }
}
