.img {
  width: 300px;
  height: 200px;
  margin: 20px auto 0;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}