@import "../functions/index";

.index-page {
  .brand {
    padding: r(30) r(30) 0 r(30);

    &-title {
      font-size: r(30);
    }

    &-description {
      font-size: r(14);
    }
  }

  main {
    padding: r(15);
  }

  .za-panel-body {
    border-radius: r(2);

    &:after {
      display: none;
    }
  }

  .za-cell {
    background-color: transparent;

    &:first-of-type {
      &:after {
        display: none;
      }
    }
  }
}
