@import "../core/func";

.lazyload-page {
  
  .ui-img {
    width: r(250);
    height: r(170);
    margin-bottom: r(10);
  }

  .img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}