@import "../core/func";

.message-page {
  .za-panel-body {
    padding: r(15);
  }

  .za-message {
    margin-bottom: r(15);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .icon {
    font-size: r(16);
    margin-right: r(5);
  }
}
