@import "../core/func";

.popup-page {
  .popup-box {
    width: 100%;
    height: 100%;
    padding: r(20) r(20) r(100);
    background: #fff;
  }

  .popup-box-left {
    width: r(280);
    height: 100%;
    padding: r(20) r(20) r(100);
    background: #fff;
  }

  .popup-box-top {
    width: 100%;
    padding: r(10);
    background: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: r(14);
    text-align: center;
  }
}
