@import "../core/func";

.progress-page {
  .progress {
    width: 100%;
    margin: r(30) 0;
    text-align: center;

    &-text {
      font-size: r(30);
    }

    &-percent {
      font-size: r(14);
    }
  }
}
