@import "../mixins/index";
@import "../functions/index";

.searchBar-page {
  .button-wrap {
    // text-align: center;
    padding: r(2) 0 r(10) r(15);
  }

  .searchbar-wrap {
    display: flex;
    align-items: center;
  }
}
