@import "../core/func";

.swipe-page {
  .swipe-pic {
    img {
      width: 100%;
      height: auto;
    }
  }

  .swipe-info {
    position: absolute;
    left: r(20);
    bottom: r(30);
  }

  .swipe-title {
    color: #fff;
  }

  .controls {
    display: flex;
    padding: r(10) r(15);

    .zax-button {
      margin-right: r(10);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
