@import "../core/func";

.swipeAction-page {

  .cell {
    display: flex;
    align-items: center;
    padding: 0 r(15);
    background: #fff;
    min-height: r(80);
    overflow: hidden;
    color: #333;
  }

  .custom-btn {
    background: gold;
  }
}