@import "../core/func";

.swipe-page {

  .controls {
    display: flex;
    padding: r(10) r(15);

    .ui-button {
      margin-right: r(10);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
