@import "../functions/index";

.tooltip-page {
  .tip {
    padding: r(15) 0;
  }

  .za-cell-content {
    justify-content: center;
  }

  .za-tooltip {
    width: r(50);
    padding: 0;
    margin-right: r(10);
    margin-bottom: r(10);
  }

  .za-button {
    padding: 0;
  }
}
