@import "../functions/index";

.uploader-page {
  .za-panel-body {
    padding: r(15) 0 0 r(15);
  }

  .uploader {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &-item,
    &-btn {
      width: r(74);
      height: r(74);
      margin-bottom: r(15);
    }

    &-item {
      display: inline-block;
      border: r(2) solid #ddd;
      margin-right: r(15);

      &-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: r(2) dashed #ddd;
      color: #ddd;

      .za-icon {
        font-size: r(30);
      }
    }
  }
}
