@import "mixins";

@include b(cell) {
  position: relative;
  overflow: hidden;
  background-color: $--cell-background;
  @include cell-theme($--cell-description-color);
  @include onepx(top);

  &:after {
    left: $--cell-line-padding-left;
  }

  @include e(inner) {
    display: flex;
    align-items: center;
    padding: 0 $--cell-padding-h;
    font-size: $--cell-title-font-size;
    min-height: $--cell-height;

    a,
    a:hover {
      text-decoration: none;
    }
  }

  @include e(body) {
    flex: 1;
    display: flex;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: $--cell-description-font-size;
  }

  @include e(arrow) {
    margin-left: r(5);

    &:after {
      display: inline-block;
      content: '';
      border-right: r(2) solid $--cell-arrow-color;
      border-top: r(2) solid $--cell-arrow-color;
      width: $--cell-arrow-length;
      height: $--cell-arrow-length;
      transform: rotate(45deg);
    }
  }

  @include e(icon) {
    text-align: center;
    margin-right: $--padding-h-md;
    padding: $--cell-padding-h 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include e(title) {
    flex: 1;
    padding: $--cell-padding-v 0;
    overflow: hidden;
    color: $--cell-title-color;
    line-height: $--cell-title-line-height;

    @include m(label) {
      flex: none;
      width: $--cell-label-width;
    }
  }

  @include e(content) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  @include e(help) {
    padding: 0 r(15) r(10) r(15);
  }

  @include m(primary) {
    @include cell-theme($--theme-primary);
  }

  @include m(success) {
    @include cell-theme($--theme-success);
  }

  @include m(warning) {
    @include cell-theme($--theme-warning);
  }

  @include m(danger) {
    @include cell-theme($--theme-danger);
  }

  @include m(link) {
    cursor: pointer;
    user-select: none;

    @include e(inner) {
      &:active {
        background-color: $--background-active;
      }
    }
  }

  @include m(disabled) {
    @include e(body, footer) {
      color: $--color-text-disabled;
    }
  }
}
