@include b(list) {
  @include define(item-height, 44px);
  @include define(item-padding-horizontal, 16px);
  @include define(item-padding-vertical, 8px);
  @include define(item-background, #fff);
  @include define(item-active-background, var(--za-background-active));
  @include define(item-separator-color, var(--za-border-color));
  @include define(item-title-font-size, var(--za-font-size-md));
  @include define(item-title-white-space, nowrap);
  @include define(
    item-title-line-height,
    calc(var(--item-height) - var(--item-padding-vertical) * 2)
  );
  @include define(item-suffix-text-color, rgba(0, 0, 0, 0.45));
  @include define(item-space, 5px);
  @include define(item-arrow-width, var(--za-arrow-width));
  @include define(item-arrow-color, var(--za-arrow-color));
  @include define(item-arrow-size, var(--za-arrow-size));
  @include define(item-description-font-size, 12px);
  @include define(item-description-text-color, var(--za-color-text-caption));
  @include define(item-description-line-height, 16px);
  @include define(item-inline-title-width, 100px);

  list-style: none;
  margin: 0;
  padding: 0;

  > *:first-child {
    @include b(list-item) {
      @include e(wrapper) {
        &::after {
          content: none;
        }
      }
    }
  }

  @include m(unbordered) {
    @include b(list-item) {
      @include e(wrapper) {
        &:after {
          content: none;
        }
      }
    }
  }
}

@include b(list-item) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: var(--item-padding-horizontal);
  background-color: var(--item-background);
  font-size: var(--item-title-font-size);

  a,
  a:hover {
    text-decoration: none;
  }

  @include e(prefix) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: var(--item-padding-horizontal);
    padding: var(--item-padding-vertical) 0;
    min-height: var(--item-height);
  }

  @include e(wrapper) {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: var(--item-height);
    padding: var(--item-padding-vertical) 0;
    padding-right: var(--item-padding-horizontal);
    @include onepx(top, var(--item-separator-color));
  }

  @include e(inner) {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 0;
    line-height: var(--item-title-line-height);
  }

  @include e(title) {
    white-space: var(--item-title-white-space);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include e(content) {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: var(--item-title-line-height);
  }

  @include e(suffix) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    min-height: var(--item-title-line-height);
    margin-left: auto;
    padding-left: var(--item-space);
    color: var(--item-suffix-text-color);
  }

  @include e(arrow) {
    margin-left: var(--item-space);
    margin-right: var(--item-arrow-width);

    &:after {
      content: '';
      display: inline-block;
      border-right: var(--item-arrow-width) solid var(--item-arrow-color);
      border-top: var(--item-arrow-width) solid var(--item-arrow-color);
      width: var(--item-arrow-size);
      height: var(--item-arrow-size);
      transform: rotate(45deg);
    }
  }

  @include e(description) {
    font-size: var(--item-description-font-size);
    color: var(--item-description-text-color);
    line-height: var(--item-description-line-height);
  }

  @include m(inline) {
    @include e(inner) {
      align-items: flex-start;
    }

    @include e(title) {
      width: var(--item-inline-title-width);
      line-height: var(--item-title-line-height);
    }
  }

  @include m(link) {
    cursor: pointer;
    user-select: none;
    transition-duration: 0.1s;
    transition-property: background-color, color;

    &:active {
      background-color: var(--item-active-background);
    }
  }
}
