:root {
  --za-theme-default: hsl(0, 0%, 90%);
  --za-theme-primary: hsl(156, 100%, 36.9%);
  --za-theme-success: hsl(156, 100%, 36.9%);
  --za-theme-warning: hsl(31, 83.1%, 55.9%);
  --za-theme-danger: hsl(0, 100%, 65.7%);
}
