@mixin activity-indicator-size($diameter) {
  width: $diameter;
  height: $diameter;
}

@mixin keyframes($name) {
  $selector: selector-append(get-block(&), $--keyframes-separator + $name);
  $selector: str-selector($selector);
  $selector: str-slice($selector, 2, str-length($selector) - 1);

  @at-root {
    @keyframes #{$selector} {
      @content;
    }
  }
}

@mixin animation($name, $value) {
  $selector: selector-append(get-block(&), $--keyframes-separator + $name);
  $selector: str-selector($selector);
  $selector: str-slice($selector, 2, str-length($selector) - 1);

  animation: $selector $value;
}
