.components-page {
  header {
    box-shadow: 0 2px 8px #f0f1f2;
  }
  
  main {
    min-width: 1200px;
    margin: 80px auto 15px;
    padding-top: 40px;
    background-color: #fff;
    overflow: hidden;
  
    .main-container {
      position: relative;
      min-height: 500px;
      margin-left: -1px;
      padding: 0 560px 140px 340px;
      overflow: hidden;
      border-left: 1px solid #ebedf0;
      font-size: 16px;
    }

    .simulator {
      position: fixed;
      top: 105px;
      right: 0;
      width: 500px;
      z-index: 10;

      iframe {
        box-sizing: content-box;
        border: 1px solid #eaeefb;
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
  font-size: 20px;
  border-radius: 30px;
  opacity: .8;
  box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 11;

  &:hover {
    background-color: #12C287;
    color: #fff;
    box-shadow:0px 2px 10px 0px rgba(18, 194, 135, 0.3);
  }
}

@media only screen and (max-width: 767.99px) {
  .side-bar {
    display: none;
  }

  .components-page {
    main {
      min-width: 100%;

      .main-container {
        padding: 0 20px;
      }

      .simulator {
        position: static;
        width: auto;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}