@mixin switch-theme($color) {
  .#{$prefixCls-switch}-input {
    &:checked {
      border-color: $color;
      background-color: $color;
    }
  }
}

@mixin switch-size($width, $height, $radius) {
  .#{$prefixCls-switch}-input {
    position: relative;
    width: $width;
    height: $height;
    border-radius: $radius-round;

    &:before,
    &:after {
      height: $height - 2;
      border-radius: $radius;
    }

    &:before {
      width: $width - 2;
    }

    &:after {
      width: $height - 2;
    }

    &:checked {
      &:after {
        transform: translateX($width - $height);
      }
    }
  }
}
