@include b(pull) {
  overflow: hidden;
  min-height: $--pull-control-height;
  // overflow-x: hidden;
  // overflow-y: scroll;
  // height: r(300);

  @include e(content) {
    transform: translate3d(0, $--pull-control-height, 0);
  }

  @include e(refresh, load) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  @include e(refresh) {
    margin-top: - $--pull-control-height;
    height: $--pull-control-height;
  }

  @include e(load) {
    height: 0;

    @include m(show) {
      height: $--pull-control-height;
    }
  }

  @include e(control) {
    display: flex;
    align-items: center;
    padding: r(10) 0;
    height: $--pull-control-height;
    color: $--color-text-caption;
    font-size: $--pull-control-font-size;

    @include b(icon) {
      font-size: r(22);
    }

    * + span {
      margin-left: r(8);
    }
  }
}
