@import "../../style/core/index";
@import "../../style/variables";

$prefixCls: $prefixCls-pull;

.#{$prefixCls} {
  overflow: hidden;
  min-height: r(50);
  // overflow-x: hidden;
  // overflow-y: scroll;
  // height: r(300);

  &-content {
    transform: translate3d(0, r(50), 0);
  }

  &-refresh,
  &-load {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  &-refresh {
    margin-top: r(-50);
    height: r(50);
  }

  &-load {
    height: 0;

    &-show {
      height: r(50);
    }
  }

  &-control {
    display: flex;
    align-items: center;
    padding: r(10) 0;
    height: r(50);
    color: #999;
    font-size: r(13);

    .#{$prefixCls-icon} {
      font-size: r(22);
    }

    * + span {
      margin-left: r(8);
    }
  }
}
