header {
  position: fixed;
  top: 0;
  min-width: 1200px;
  width: 100%;
  height: 65px;
  line-height: 65px;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1000;
}

.logo {
  float: left;
  width: 340px;
  font-size: 20px;

  a {
    display: block;
    margin-right: 80px;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
}

.search {
  float: left;
}

.lang {
  float: right;
  margin: 0 125px;
}

nav {
  float: right;

  .ui-menu-item {
    height: 65px !important;
    line-height: 63px !important;
  }
}