@include b(mask) {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, $--opacity-mask);
  z-index: $--zindex-mask;

  @include m(transparent) {
    background-color: transparent;
  }
}
