$prefixCls: $prefixCls-mask;

.#{$prefixCls} {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: $zIndex-mask;

  &.light {
    background-color: rgba(255, 255, 255, .3);
  }

  &.dark {
    background-color: rgba(0, 0, 0, .7);
  }

  &.transparent {
    background-color: transparent;
  }
}
