$prefixCls: $prefixCls-mask;

.#{$prefixCls} {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, $opacity-mask);
  z-index: $zindex-mask;

  &.type-transparent {
    background-color: transparent;
  }
}
