@use 'sass:selector';

@forward 'variables';
@use 'variables';
@use 'functions';
@forward 'functions';

@mixin b($blocks...) {
  $selector: functions.get-selector('.' + variables.$prefixCls, variables.$blockSeparator, $blocks...);
  #{$selector} {
    @content;
  }
}

@mixin e($elements...) {
  $selector: '';
  $prefix: functions.get-block(&);

  @if functions.contains-modifier(&) {
    @each $element in $elements {
      $newElement: selector.nest(&, selector.append($prefix, variables.$elementSeparator + $element));

      @if functions.contains-element(&) {
        $newElement: '&' + variables.$elementSeparator + $element;
      }

      $selector: $selector + $newElement + ',';
    }
  }
  @else {
    @if functions.contains-element(&) {
      @each $element in $elements {
        $newElement: selector.nest(&, selector.append($prefix, variables.$elementSeparator + $element)) + ',';
        $selector: $selector + $newElement + ',';
      }
    }
    @else {
      $selector: functions.get-selector('&', variables.$elementSeparator, $elements...);
    }
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}

@mixin m($modifiers...) {
  $selector: '';
  $prefix: functions.get-block(&);

  @if functions.contains-modifier(&) {
    @each $modifier in $modifiers {
      $selector: $selector + '&' + $prefix + variables.$modifierSeparator + $modifier + ',';
    }
  }
  @else {
    $selector: functions.get-selector('&', variables.$modifierSeparator, $modifiers...);
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}
