
@keyframes zoom-enter {
  from {
    transform: scale3d(.3, .3, .3);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.zoom-enter {
  animation: zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes zoom-leave {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(.3, .3, .3);
  }
}
.zoom-leave {
  animation: zoom-leave both;
}