@include b(swipe-action) {
  @include define(background, #fff);

  position: relative;
  overflow: hidden;
  touch-action: none;

  @include e(content) {
    position: relative;
    background-color: var(--background);
  }

  @include e(actions) {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;

    @include m(left) {
      left: 0;
    }

    @include m(right) {
      right: 0;
    }
  }

  @include b(button) {
    font-size: r(14);
  }
}

@include b(swipe-action-item) {
  @include e(item) {
    height: 100%;
  }
}
