@include b(swipe-action) {
  position: relative;
  overflow: hidden;

  @include e(content) {
    position: relative;
  }

  @include e(actions) {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;

    @include m(left) {
      left: 0;
    }

    @include m(right) {
      right: 0;
    }
  }

  @include b(button) {
    font-size: r(14);
  }
}
