.za-searchbar {
  background: #fff;

  &-form {
    height: r(45);
    margin: 0 r(15);
    display: flex;
    align-items: center;
    background: #fff;
    overflow: hidden;

    &-focus {
      .za-searchbar-input {
        opacity: 1;
        padding: 0 r(28) 0 r(30);
      }
    }
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }

  input[type='search'] {
    -webkit-appearance: none;
  }

  &-content {
    position: relative;
    flex: 1;
    width: 100%;
    height: r(30);
    background: #eee;
    overflow: hidden;

    &.shape-radius {
      border-radius: $radius-md;
    }

    &.shape-round {
      border-radius: $radius-round;
    }

    &.shape-circle {
      border-radius: $radius-circle;
    }
  }

  &-mock {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: r(30);
    line-height: r(30);
    font-size: r(13);
    color: #7e7e7e;
    // text-align: center;
    &-container {
      position: absolute;
      transform: translate3d(r(10), 0, 0);
    }

    i {
      display: inline-block;
      width: r(14);
      height: r(14);
      background: url(./images/search-icon.png) 0 0 no-repeat;
      background-size: cover;
      margin-right: r(6);
      vertical-align: -2.5px;
    }
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    // z-index: 2;
    opacity: 0;
    width: 100%;
    text-align: left;
    color: #000;
    height: 28px;
    font-size: 15px;
    background-color: transparent;
    border: 0;

    &::placeholder {
      color: transparent;
    }
  }

  &-clear {
    position: absolute;
    visibility: hidden;
    // z-index: 3;
    width: r(30);
    height: r(30);
    padding: r(8);
    border-radius: 50%;
    top: 0;
    right: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: r(14) r(14);
    background-image: url(./images/clear.png);

    &-show {
      visibility: visible;
    }
  }

  &-cancel {
    font-size: r(14);
    color: #333;
    margin-left: r(15);
    margin-right: r(-43);
    transition: all .1s;

    &-show {
      transition: all .2s;
      margin-right: 0;
    }
  }
}
