.za-searchbar {
  background: #fff;

  &-form {
    height: r(45);
    margin: 0 r(15);
    display: flex;
    align-items: center;
    background: #fff;
    overflow: hidden;

    &-focus {
      .za-searchbar-input {
        opacity: 1;
        padding: 0 r(28) 0 r(30);
      }
    }
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }

  input[type='search'] {
    -webkit-appearance: none;
  }

  &-content {
    position: relative;
    flex: 1;
    width: 100%;
    height: r(30);
    padding: r(4);
    background: #eee;
    overflow: hidden;

    &.shape-radius {
      border-radius: $radius-md;
    }

    &.shape-round {
      border-radius: $radius-round;
    }

    &.shape-circle {
      border-radius: $radius-circle;
    }
  }

  &-mock {
    position: absolute;
    left: 0;
    top: r(4);
    width: 100%;
    height: r(22);
    line-height: r(22);
    font-size: r(15);
    color: #7e7e7e;

    &-container {
      display: inline-block;
      height: 100%;
      transform: translate3d(r(10), 0, 0);
    }

    &-placeholder {
      vertical-align: middle;
    }

    .za-icon-search {
      font-size: r(17);
      vertical-align: middle;
      margin-right: r(3);
    }
  }

  &-input {
    position: absolute;
    left: 0;
    top: r(4);
    // z-index: 2;
    opacity: 0;
    width: 100%;
    text-align: left;
    color: #000;
    height: r(22);
    font-size: r(15);
    line-height: r(22);
    background-color: transparent;
    border: 0;

    &::placeholder {
      color: transparent;
    }
  }

  &-clear {
    position: absolute;
    visibility: hidden;
    color: #d5d5d5;
    width: r(30);
    height: r(30);
    line-height: r(30);
    text-align: center;
    top: 0;
    right: 0;
    font-size: r(18);

    &-show {
      visibility: visible;
    }
  }

  &-cancel {
    font-size: r(14);
    color: #333;
    margin-left: r(15);

    &-show {
      transition: all .2s;
      margin-right: 0;
    }
  }
}
