@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(tabs) {
  @include mixins.define(font-size, var(--za-font-size-md));
  @include mixins.define(color, var(--za-color-text));
  @include mixins.define(color-disabled, var(--za-color-text-disabled));
  @include mixins.define(height, 45px);
  @include mixins.define(active-color, var(--za-theme-primary));
  @include mixins.define(active-text-color, var(--za-color-text));
  @include mixins.define(active-line-height, 2px);
  @include mixins.define(padding-horizontal, var(--za-padding-h-lg));
  @include mixins.define(padding-vertical, var(--za-padding-v-md));

  @include sass.e(header) {
    position: relative;
    overflow: hidden;
  }

  @include sass.e(tablist) {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  @include sass.e(panel) {
    display: none;
    position: relative;
    transition: height 0.3s;
    height: 100%;

    @include sass.m(active) {
      display: block;
    }
  }

  @include sass.e(tab) {
    flex: 1;
    text-align: center;
    color: var(--color);
    font-size: var(--font-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    @include sass.m(disabled) {
      color: var(--color-disabled);
      cursor: not-allowed;
    }

    @include sass.m(active) {
      color: var(--active-text-color);
    }
  }

  @include sass.e(line) {
    position: absolute;
    transition: transform 0.3s ease-out;
    background-color: var(--active-color);

    &__inner {
      display: block;
      margin: auto;
      height: 100%;
      background-color: var(--active-color);
    }
  }

  @include sass.m(scroll) {
    @include sass.e(tablist) {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // TODO: direction='horizontal' 暂作兼容
  @include sass.m(top, bottom, horizontal) {
    display: flex;
    flex-direction: column;

    @include sass.e(header) {
      width: 100%;
    }

    @include sass.e(tablist) {
      display: flex;
      height: var(--height);
      line-height: var(--height);
    }

    @include sass.e(line) {
      height: var(--active-line-height);
      left: 0;
    }

    @include sass.m(scroll) {
      @include sass.e(tablist) {
        overflow-x: auto;
      }

      @include sass.e(tab) {
        overflow: visible;
        padding: 0 var(--padding-horizontal);
      }
    }
  }

  // TODO: direction='vertical' 暂作兼容
  @include sass.m(left, right, vertical) {
    display: flex;
    flex-direction: row;

    @include sass.e(tablist) {
      height: 100%;
    }

    @include sass.e(tab) {
      text-align: center;
      padding: var(--padding-vertical) var(--padding-horizontal);
    }

    @include sass.e(line) {
      width: var(--active-line-height);
      top: 0;
    }

    @include sass.e(body) {
      flex: 1;
      position: relative;
    }

    @include sass.m(scroll) {
      @include sass.e(tablist) {
        overflow-y: auto;
      }
    }
  }

  @include sass.m(right, bottom) {
    @include sass.e(header) {
      order: 1;
    }
  }

  // TODO: direction='vertical' 暂作兼容
  @include sass.m(left, vertical) {
    @include sass.e(header) {
      @include mixins.onepx(right);
    }

    @include sass.e(line) {
      right: 0;
    }
  }

  @include sass.m(right) {
    @include sass.e(header) {
      @include mixins.onepx(left);
    }

    @include sass.e(line) {
      left: 0;
    }
  }

  // TODO: direction='horizontal' 暂作兼容
  @include sass.m(top, horizontal) {
    @include sass.e(header) {
      @include mixins.onepx(bottom);
    }

    @include sass.e(line) {
      bottom: 0;
    }
  }

  @include sass.m(bottom) {
    @include sass.e(header) {
      @include mixins.onepx(top);
    }

    @include sass.e(line) {
      top: 0;
    }
  }
}
