@import 'mixins';

$prefixCls: $prefixCls-stepper;

.#{$prefixCls} {
  display: flex;
  user-select: none;

  &-sub,
  &-plus {
    &.disabled {
      color: $stepper-button-disabled;
      border-color: $stepper-button-disabled;
      cursor: not-allowed;

      &:active {
        background: #fff;
      }
    }
  }

  &.disabled {
    .#{$prefixCls}-body {
      opacity: $opacity-disabled;
      cursor: not-allowed;
    }
  }

  &.shape-radius {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      width: $stepper-height;
      height: $stepper-height;
      border-radius: $radius-md;
    }

    .#{$prefixCls}-input {
      border-radius: r(4);
    }
  }

  &.shape-circle {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      width: $stepper-height;
      height: $stepper-height;
      border-radius: $stepper-height;
    }

    .#{$prefixCls}-input {
      border-radius: $stepper-height;
    }
  }

  &-sub,
  &-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $stepper-height;
    height: $stepper-height;
    font-size: $stepper-button-font-size;
    font-weight: bold;
    cursor: pointer;
    border: r(1) solid $border-color;
    padding: 0;
  }

  &-input {
    position: relative;
    width: $stepper-input-width;
    height: $stepper-height;
    margin: 0 r(4);
    padding: 0;
    font-size: $stepper-input-font-size;
    color: $color-text;
    text-align: center;
    border: r(1) solid $border-color;
    outline: 0;
    -webkit-appearance: none;

    &.disabled {
      color: $stepper-input-disabled;
      opacity: 0.6;
    }
  }
}
