@import 'mixins';

$prefixCls: $prefixCls-stepper;

.#{$prefixCls} {
  display: flex;

  &-sub,
  &-plus {
    &.#{$prefixCls-button} {
      width: $stepper-height-md;
      padding: 0;

      .#{$prefixCls-icon} {
        font-size: $stepper-icon-font-size-md;
      }
    }
  }

  &-input {
    position: relative;
    width: $stepper-input-width-md;
    height: $stepper-height-md;
    margin: 0 $stepper-input-margin-h-md;
    padding: 0 $stepper-input-padding-h-md;
    font-size: $stepper-input-font-size;
    color: $color-text;
    text-align: center;
    border: r(1) solid $border-color;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;

    &.disabled {
      color: $stepper-input-disabled;
      opacity: $opacity-disabled;
    }
  }

  &.shape-radius {
    .#{$prefixCls}-input {
      border-radius: $radius-md;
    }
  }

  &.shape-circle {
    .#{$prefixCls}-input {
      border-radius: $stepper-height-md;
    }
  }

  &.size-sm {
    .#{$prefixCls} {
      &-input {
        width: $stepper-input-width-sm;
        height: $stepper-height-sm;
        margin: 0 $stepper-input-margin-h-sm;
        padding: 0 $stepper-input-padding-h-sm;
      }

      &-sub,
      &-plus {
        &.#{$prefixCls-button} {
          width: $stepper-height-sm;
          padding: 0;

          .#{$prefixCls-icon} {
            font-size: $stepper-icon-font-size-sm;
          }
        }
      }
    }
  }
}
