// 主题色
$theme-default: #ddd;                    // 默认
$theme-primary: #12c287;                 // 品牌
$theme-success: #69c964;                 // 成功
$theme-warning: #eca632;                 // 警告
$theme-error: #e55546;                   // 错误

// 文字色
$color-text: #333;                       // 基本
$color-text-inverse: #fff;               // 反色
$color-text-placeholder: #bbb;           // 文本框提示
$color-text-disabled: #bbb;              // 失效
$color-text-caption: #888;               // 辅助描述
$color-link: $theme-primary;               // 链接

// 背景色
$background-active: #ddd;

// 边框色
$border-color: #ddd;

// 圆角
$radius-sm: r(2);
$radius-md: r(4);
$radius-lg: r(6);
$radius-round: r(1000);
$radius-circle: 50%;

// 水平间距
$padding-h-sm: r(8);
$padding-h-md: r(16);
$padding-h-lg: r(24);

// 字体大小
$font-size-xs: r(10);
$font-size-sm: r(14);
$font-size-md: r(18);
$font-size-lg: r(20);
$font-size-xl: r(22);

// 堆叠顺序
$zindex-mask: 1000;
$zindex-popup: 1300;
$zindex-modal: 1400;
$zindex-toast: 1500;
$zindex-loading: 1500;

$disabled-opacity: .5;
$disabled-background: #e1e1e1;
$disabled-color: #999;
$placeholder-color: #a9a9a9;

/* prefixCls */
$prefixCls-actionsheet: za-actionsheet;
$prefixCls-alert: za-alert;
$prefixCls-badge: za-badge;
$prefixCls-button: za-button;
$prefixCls-cell: za-cell;
$prefixCls-checkbox: za-checkbox;
$prefixCls-confirm: za-confirm;
$prefixCls-icon: za-icon;
$prefixCls-input: za-input;
$prefixCls-keyboard: za-keyboard;
$prefixCls-loading: za-loading;
$prefixCls-mask: za-mask;
$prefixCls-message: za-message;
$prefixCls-modal: za-modal;
$prefixCls-noticebar: za-noticebar;
$prefixCls-panel: za-panel;
$prefixCls-picker: za-picker;
$prefixCls-popup: za-popup;
$prefixCls-progress: za-progress;
$prefixCls-pull: za-pull;
$prefixCls-radio: za-radio;
$prefixCls-slider: za-slider;
$prefixCls-spinner: za-spinner;
$prefixCls-stepper: za-stepper;
$prefixCls-swipe: za-swipe;
$prefixCls-swipeaction: za-swipeaction;
$prefixCls-switch: za-switch;
$prefixCls-tab: za-tab;
$prefixCls-toast: za-toast;
$prefixCls-tooltip: za-tooltip;
$prefixCls-uploader: za-uploader;


// ActionSheet
$actionsheet-margin: 0;
$actionsheet-item-height: r(50);
$actionsheet-item-font-size: r(16);

// Button
$button-height-sm: r(27);
$button-height-md: r(45);
$button-height-lg: r(52);

// Icon
$icon-url: '//at.alicdn.com/t/font_126288_uipjvv8ogdivbo6r';

/* Spinner */
$spinner-diameter-md: r(20);
$spinner-diameter-lg: r(31);
