
/* base */
$theme-default: rgb(19, 17, 17);
$theme-default-light: rgba($theme-default, 0.1);
$theme-default-dark: darken($theme-default, 8%);

$theme-primary: #12c287;
$theme-primary-light: rgba($theme-primary, 0.1);
$theme-primary-dark: darken($theme-primary, 8%);

$theme-success: #69c964;
$theme-success-light: rgba($theme-success, 0.1);
$theme-success-dark: darken($theme-success, 8%);

$theme-warning: #eca632;
$theme-warning-light: rgba($theme-warning, 0.1);
$theme-warning-dark: darken($theme-warning, 8%);

$theme-error: #e55546;
$theme-error-light: rgba($theme-error, 0.1);
$theme-error-dark: darken($theme-error, 8%);

$radius-lg: r(4);
$radius-md: r(4);
$radius-sm: r(4);

$height-lg: r(52);
$height-md: r(45);
$height-sm: r(27);

$padding-lg: r(25);
$padding-md: r(16);
$padding-sm: r(10);

$fontSize-lg: r(20);
$fontSize-md: r(18);
$fontSize-sm: r(14);

$zIndex-mask: 1000;
$zIndex-popup: 1300;
$zIndex-modal: 1400;
$zIndex-toast: 1500;
$zIndex-loading: 1500;

$disabled-opacity: .5;
$disabled-background: #e1e1e1;
$disabled-color: #999;
$placeholder-color: #a9a9a9;
$icon-url: '//at.alicdn.com/t/font_126288_uipjvv8ogdivbo6r';

/* spinner */
$spinner-diameter-md: r(20);
$spinner-diameter-lg: r(31);

/* prefixCls */
$prefixCls-actionsheet: za-actionsheet;
$prefixCls-alert: za-alert;
$prefixCls-badge: za-badge;
$prefixCls-button: za-button;
$prefixCls-cell: za-cell;
$prefixCls-checkbox: za-checkbox;
$prefixCls-confirm: za-confirm;
$prefixCls-icon: za-icon;
$prefixCls-input: za-input;
$prefixCls-keyboard: za-keyboard;
$prefixCls-loading: za-loading;
$prefixCls-mask: za-mask;
$prefixCls-message: za-message;
$prefixCls-modal: za-modal;
$prefixCls-noticebar: za-noticebar;
$prefixCls-panel: za-panel;
$prefixCls-picker: za-picker;
$prefixCls-popup: za-popup;
$prefixCls-progress: za-progress;
$prefixCls-pull: za-pull;
$prefixCls-radio: za-radio;
$prefixCls-slider: za-slider;
$prefixCls-spinner: za-spinner;
$prefixCls-stepper: za-stepper;
$prefixCls-swipe: za-swipe;
$prefixCls-swipeaction: za-swipeaction;
$prefixCls-switch: za-switch;
$prefixCls-tab: za-tab;
$prefixCls-toast: za-toast;
$prefixCls-tooltip: za-tooltip;
$prefixCls-uploader: za-uploader;

/* button */

// $button-default-color: $theme-default;
// $button-default-color--active: $theme-default;
// $button-default-color--bordered: $theme-default;
// $button-default-background: #fff;
// $button-default-background--active: #ddd;
// $button-default-border: #ddd;
// $button-default-border--active: #ddd;

$button-default-color: $theme-default;
$button-default-color--active: $theme-default;
$button-default-color--bordered: $theme-default;
$button-default-background: #ddd;
$button-default-background--active: #c4c4c4;
$button-default-border: #ddd;
$button-default-border--active: #c4c4c4;

$button-primary-color: #fff;
$button-primary-color--active: rgba(#fff, .3);
$button-primary-color--bordered: $theme-primary;
$button-primary-background: $theme-primary;
$button-primary-background--active: $theme-primary-dark;
$button-primary-border: $theme-primary;
$button-primary-border--active: $theme-primary-dark;

$button-success-color: #fff;
$button-success-color--active: rgba(#fff, .3);
$button-success-color--bordered: $theme-success;
$button-success-background: $theme-success;
$button-success-background--active: $theme-success-dark;
$button-success-border: $theme-success;
$button-success-border--active: $theme-success-dark;

$button-warning-color: #fff;
$button-warning-color--active: rgba(#fff, .3);
$button-warning-color--bordered: $theme-warning;
$button-warning-background: $theme-warning;
$button-warning-background--active: $theme-warning-dark;
$button-warning-border: $theme-warning;
$button-warning-border--active: $theme-warning-dark;

$button-error-color: #fff;
$button-error-color--active: rgba(#fff, .3);
$button-error-color--bordered: $theme-error;
$button-error-background: $theme-error;
$button-error-background--active: $theme-error-dark;
$button-error-border: $theme-error;
$button-error-border--active: $theme-error-dark;