$prefixCls: $prefixCls-popup;

.#{$prefixCls} {
  position: relative;

  &-wrapper {
    position: fixed;
    transform: translate(0, 0);
    transition-property: transform;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: $zIndex-popup;

    &-bottom {
      left: 0;
      bottom: 0;
      width: 100%;
    }

    &-top {
      left: 0;
      top: 0;
      width: 100%;
    }

    &-left {
      left: 0;
      top: 0;
      height: 100%;
    }

    &-right {
      right: 0;
      top: 0;
      height: 100%;
    }
  }

  &-hidden {
    .#{$prefixCls}-wrapper {
      &-bottom {
        transform: translate(0, 100%);
      }

      &-top {
        transform: translate(0, -100%);
      }

      &-left {
        transform: translate(-100%, 0);
      }

      &-right {
        transform: translate(100%, 0);
      }
    }
  }
}
