@import 'mixins';

@include b(image) {

  @include define(default-background-color, var(--za-image-background));
  @include define(default-text-color, var(--za-image-text-color));
  @include define(default-font-size, 12px);
  
  position: relative;
  display: inline-block;
  overflow: hidden;

  @include m(radius) {
    @include define(default-radius, 15px);
    border-radius: var(--default-radius);
  }
  
  @include m(round) {
    border-radius: 44px;
  }

  @include m(circle) {
    border-radius: 50%;
  }

  @include e(img) {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include e(loading) {
    @include image-react();
  }

  @include e(fallback) {
    @include image-react();
  }
}