@import 'mixins';

@include b(image) {

  @include define(background, #fafafa);
  @include define(text-color, #343434);
  @include define(font-size, 12px);
  
  position: relative;
  display: inline-block;
  overflow: hidden;

  @include m(radius) {
    @include define(radius, 15px);
    border-radius: var(--radius);
  }
  
  @include m(round) {
    border-radius: 44px;
  }

  @include m(circle) {
    border-radius: 50%;
  }

  @include e(img) {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include e(loading) {
    @include image-react();
  }

  @include e(fallback) {
    @include image-react();
  }
}