@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(tab-bar) {
  @include mixins.define(font-size, 12px);
  @include mixins.define(background, #fff);
  @include mixins.define(height, 50px);
  @include mixins.define(color, var(--za-color-text));
  @include mixins.define(active-color, var(--za-theme-primary));

  background: var(--background);

  @include sass.e(wrapper) {
    min-height: var(--height);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: flex;
  }

  @include sass.e(item) {
    flex: 1;

    @include sass.e(title) {
      font-size: var(--font-size);
      line-height: 1;
      margin-top: 2px;
      color: var(--color);
    }

    @include sass.e(icon) {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      font-size: 18px;
    }

    @include sass.b(badge) {
      @include sass.e(content) {
        --top: 6px;
      }
    }

    @include sass.m(active) {
      @include sass.b(tab-bar) {
        @include sass.e(title) {
          color: var(--active-color);
        }
      }

      @include sass.b(icon) {
        color: var(--active-color);
      }
    }
  }
}
