@import "@/styles/index";

.app-container {
  position: relative;
  -webkit-overflow-scrolling: touch;

  nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: r(10);
    top: r(10);

    .lang,
    .github {
      margin-left: r(10);
    }

    .github {
      color: #333;
    }

    .setting {
      width: r(20);
      height: r(20);
      border: 4px solid #fff;
      background: var(--theme-primary);
      box-shadow: 0 r(1) r(2) 0 rgba(56, 56, 56, 0.15);
      cursor: pointer;
    }
  }

  h1 {
    margin: 0;
    padding: r(15);
    font-size: r(16);
    font-weight: 400;
  }
}

.setting-container {
  margin-top: r(8);
  padding: r(8);
  background: #fff;
  border-radius: r(4);
  box-shadow: 0 r(2) r(8) 0 rgba(0, 0, 0, 0.1);
}

.themes {
  display: block;
  margin-top: r(8);
}

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: r(25);
    height: r(25);
    border-radius: r(2);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: r(5);
    }
  }
}

.za-popper {
  z-index: 1500;
}

@at-root {
  body[data-theme='dark'] {
    .github {
      color: #f1f1f1;
    }

    .setting {
      border-color: #393939;
    }

    .setting-container {
      background: #222;
      box-shadow: 0 r(2) r(8) 0 rgba(0, 0, 0, 0.6);
    }
  }
}
