$prefixCls: $prefixCls-panel;

.#{$prefixCls} {
  &-header {
    display: flex;
    padding: r(25) r(16) r(7) r(16);
    color: $panel-header-color;
    font-size: $panel-header-font-size;
  }

  &-body {
    position: relative;
    background: #fff;
    color: $color-text;
    @include onepx(top bottom);
  }

  &-title {
    flex: 1;
  }
}
