@import "../../style/core/index";

@include b(panel) {
  @include e(header) {
    display: flex;
    padding: r(25) r(16) r(7) r(16);
    font-size: var(--panel-header-font-size);
    color: var(--panel-header-color);

    &__title {
      flex: 1;
    }
  }

  @include e(body) {
    position: relative;
    background: #fff;
    font-size: var(--panel-body-font-size);
    color: var(--color-text);
    @include onepx(top bottom);
  }
}
