@include b(modal) {
  -webkit-overflow-scrolling: touch;
  // position: fixed;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // user-select: none;
  // overflow: auto;
  // z-index: var(--zindex-modal);

  @include b(popup) {
    position: relative;
    background-color: var(--za-modal-background);
    box-shadow: 0 r(7) r(21) var(--color-shadow);
    overflow: hidden;
  }

  @include m(radius) {
    @include b(popup) {
      border-radius: var(--radius-md);
    }
  }

  @include e(header) {
    position: relative;
    padding: r(20) r(15) 0 r(15);
    text-align: center;

    &__title {
      font-size: var(--za-modal-title-font-size);
      line-height: 1;
      color: var(--za-modal-title-color);
    }

    &__close {
      position: absolute;
      top: r(20);
      right: r(15);
      line-height: r(15);
      color: var(--za-modal-close-color);
      font-size: r(20);
      cursor: pointer;

      &:hover {
        color: var(--za-modal-close-active-color);
      }
    }
  }

  @include e(body) {
    font-size: r(15);
    color: var(--color-text-caption);
    padding: r(20);
    overflow: auto;
    user-select: auto;
  }

  @include e(footer) {
    display: flex;
    padding: 0 r(15) r(20);
    width: 100%;

    // @include m(block) {
    //   flex-direction: column;
    // }
  }
}
