@import "../../button/style/mixins";

@include b(action-sheet) {
  margin: $--action-sheet-margin;

  @include m(spacing) {
    margin: 0 r(10) r(10);

    @include e(actions, cancel) {
      border-radius: $--radius-md;
    }
  }

  @include e(actions, cancel) {
    overflow: hidden;
    background-color: $--color-text-inverse;
  }

  @include e(cancel) {
    margin-top: r(7);
  }

  @include e(item) {
    display: block;
    height: $--action-sheet-item-height;
    line-height: $--action-sheet-item-height;
    font-size: $--action-sheet-item-font-size;
    @include button-base();

    &:active {
      background-color: $--background-active;
    }

    &:not(:first-of-type) {
      @include onepx(top);
    }

    @include m(primary) {
      color: $--theme-primary;
    }

    @include m(danger) {
      color: $--theme-error;
    }
  }
}
