@import '../../style/core/index';

@include b(skeleton) {
    height: var(--skeleton-height);
    margin: var(--skeleton-margin) 0;
    background: var(--skeleton-background);

    @include m(radius) {
        border-radius: var(--skeleton-radius);
    }

    @include m(rect) {
        border-radius: 0;
    }

    @include m(circle) {
        width: var(--skeleton-circle-width);
        height: var(--skeleton-circle-width);
        border-radius: var(--skeleton-circle-radius);
    }

    @include m(animated) {
        background-image: linear-gradient(90deg, var(--skeleton-background) 0%, var(--skeleton-animated-background) 100%);
    }

    @keyframes skeleton-loading {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}


