@import '../../style/core/index';

@include b(skeleton) {
  @include define(border-radius, var(--za-skeleton-radius));

  width: var(--width);
  height: var(--height, var(--za-skeleton-height));
  margin: var(--margin, var(--za-skeleton-margin));
  background: var(--za-skeleton-background);

  @include m(radius) {
    border-radius: var(--border-radius);
  }

  @include m(rect) {
    border-radius: 0;
  }

  @include m(circle) {
    width: var(--width, var(--za-skeleton-circle-width));
    height: var(--height, var(--za-skeleton-circle-height));
    border-radius: var(--za-skeleton-circle-radius);
  }

  @include m(animated) {
    background-image: linear-gradient(90deg, var(--za-skeleton-background) 25%, var(--za-skeleton-animated-background) 37%, var(--za-skeleton-background) 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.5s ease infinite;
  }

  @keyframes skeleton-loading {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  @include e(title) {
    width: var(--height, var(--za-skeleton-title-width));
    height: var(--width, var(--za-skeleton-title-height));
    margin: var(--margin, var(--za-skeleton-title-margin));
  }

  @include e(paragraph) {
    @include e(line) {
      margin: var(--za-skeleton-line-margin);

      &:last-of-type {
        width: 65%;
      }
    }
  }
}
