@use '../../style/core/index';
@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(skeleton) {
  @include mixins.define(width, 100%);
  @include mixins.define(height, 18px);
  @include mixins.define(border-radius, 2px);
  @include mixins.define(margin, 0);

  // skeleton
  @include mixins.define(background, rgba(190, 190, 190, 0.2));
  @include mixins.define(animated-background, rgba(129, 129, 129, 0.24));

  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  background: var(--background);

  // shape
  @include sass.m(radius) {
    border-radius: var(--border-radius);
  }

  @include sass.m(rect) {
    border-radius: 0;
  }

  @include sass.m(circle) {
    @include mixins.define(width, 50px);
    @include mixins.define(height, 50px);

    border-radius: 50%;
  }

  // animated
  @include sass.m(animated) {
    background:
      linear-gradient(
        90deg,
        var(--background) 25%,
        var(--animated-background) 37%,
        var(--background) 63%
      );
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
  }

  @keyframes skeleton-loading {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  // Title
  @include sass.e(title) {
    @include mixins.define(width, 45%);
    @include mixins.define(height, 32px);
    @include mixins.define(margin, 16px 0);
  }

  // Paragraph
  @include sass.e(paragraph) {
    @include sass.e(line) {
      @include mixins.define(margin, 12px 0);

      &:last-of-type {
        width: 65%;
      }
    }
  }
}
