@mixin disaleInput {
  color: var(--color-text);
  -webkit-text-fill-color: var(--color-text);
  cursor: auto;
}

@include b(stepper) {
  @include define(height, 28px);
  @include define(input-width, 50px);
  @include define(icon-font-size, 12px);
  @include define(font-size, var(--za-font-size-sm));
  @include define(margin-horizontal, 4px);
  @include define(padding-horizontal, 8px);
  @include define(input-background, #fff);
  @include define(disabled-color, var(--za-color-text-disabled));

  display: flex;
  align-items: center;

  @include b(input) {
    input {
      height: 100%;
      text-align: center;
    }

    @include m(disabled) {
      input {
        @include disaleInput;
      }
    }

    @include e(content) {
      height: 100%;
    }
  }

  @include b(custom-input) {
    @include m(disabled) {
      @include e(virtual-input) {
        @include disaleInput;
      }
    }

    @include e(content) {
      height: 100%;
    }

    @include e(virtual-input) {
      justify-content: center;
      align-items: center;
    }
  }

  @include e(sub, plus) {
    width: var(--height);
    padding: 0;

    @include b(icon) {
      font-size: var(--icon-font-size);
    }
  }

  @include e(input) {
    position: relative;
    width: var(--input-width);
    height: var(--height);
    margin: 0 var(--margin-horizontal);
    padding: 0 var(--padding-horizontal);
    font-size: var(--font-size);
    background: var(--input-background);
    color: var(--color-text);
    text-align: center;
    border: r(1) solid var(--border-color);
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }

  @include m(disabled) {
    @include e(input) {
      color: var(---disabled-color);
      opacity: var(--opacity-disabled);
    }
  }

  @include m(radius) {
    @include e(input) {
      border-radius: var(--radius-md);
    }
  }

  @include m(circle) {
    @include e(input) {
      border-radius: var(--height);
    }
  }

  @include m(lg) {
    @include e(input) {
      width: 60px;
      height: 36px;
      margin: 0 4px;
      padding: 0 8px;
      font-size: 16px;
    }

    @include e(sub, plus) {
      width: 36px;
      padding: 0;

      @include b(icon) {
        font-size: 14px;
      }
    }
  }
}
