
/* base */
$base-fontSize: 14;

$theme-default: #333;
$theme-default-light: rgba($theme-default, 0.5);
$theme-default-dark: darken($theme-default, 10%);

$theme-primary: #12c287;
$theme-primary-light: rgba($theme-primary, 0.1);
$theme-primary-dark: darken($theme-primary, 10%);

$theme-info: #347af6;
$theme-info-light: rgba($theme-info, 0.1);
$theme-info-dark: darken($theme-info, 10%);

$theme-success: #69c964;
$theme-success-light: rgba($theme-success, 0.1);
$theme-success-dark: darken($theme-success, 10%);

$theme-warning: #eca632;
$theme-warning-light: rgba($theme-warning, 0.1);
$theme-warning-dark: darken($theme-warning, 10%);

$theme-error: #e55546;
$theme-error-light: rgba($theme-error, 0.1);
$theme-error-dark: darken($theme-error, 10%);

$radius-xl: r(4);
$radius-lg: r(4);
$radius-md: r(4);
$radius-sm: r(4);
$radius-xs: r(4);

$height-xl: r(52);
$height-lg: r(48);
$height-md: r(44);
$height-sm: r(34);
$height-xs: r(27);

$padding-xl: r(25);
$padding-lg: r(20);
$padding-md: r(16);
$padding-sm: r(15);
$padding-xs: r(10);

$fontSize-xl: r(18);
$fontSize-lg: r(18);
$fontSize-md: r(17);
$fontSize-sm: r(14);
$fontSize-xs: r(14);

$zIndex-mask: 1000;
$zIndex-popup: 1300;
$zIndex-modal: 1400;
$zIndex-toast: 1500;
$zIndex-loading: 1500;

$disabled-opacity: .5;
$disabled-background: #e1e1e1;
$disabled-color: #999;
$placeholder-color: #a9a9a9;
$icon-url: '//at.alicdn.com/t/font_126288_jsp977lag9y0hpvi';

/* button */
$button-default-color: $theme-default;
$button-default-bg: #ddd;
$button-default-border: #ddd;
$button-default-activebg: rgba(#ddd, 0.5);

$button-primary-color: #fff;
$button-primary-bg: $theme-primary;
$button-primary-border: $theme-primary;
$button-primary-activebg: $theme-primary-light;

$button-info-color: #fff;
$button-info-bg: $theme-info;
$button-info-border: $theme-info;
$button-info-activebg: $theme-info-light;

$button-success-color: #fff;
$button-success-bg: $theme-success;
$button-success-border: $theme-success;
$button-success-activebg: $theme-success-light;

$button-warning-color: #fff;
$button-warning-bg: $theme-warning;
$button-warning-border: $theme-warning;
$button-warning-activebg: $theme-warning-light;

$button-error-color: #fff;
$button-error-bg: $theme-error;
$button-error-border: $theme-error;
$button-error-activebg: $theme-error-light;

/* spinner */
$spinner-diameter-md: r(20);
$spinner-diameter-lg: r(31);

/* prefixCls */
$prefixCls-actionsheet: za-actionsheet;
$prefixCls-alert: za-alert;
$prefixCls-badge: za-badge;
$prefixCls-button: za-button;
$prefixCls-cell: za-cell;
$prefixCls-checkbox: za-checkbox;
$prefixCls-confirm: za-confirm;
$prefixCls-icon: za-icon;
$prefixCls-input: za-input;
$prefixCls-loading: za-loading;
$prefixCls-mask: za-mask;
$prefixCls-message: za-message;
$prefixCls-modal: za-modal;
$prefixCls-noticebar: za-noticebar;
$prefixCls-panel: za-panel;
$prefixCls-picker: za-picker;
$prefixCls-popup: za-popup;
$prefixCls-progress: za-progress;
$prefixCls-pull: za-pull;
$prefixCls-radio: za-radio;
$prefixCls-slider: za-slider;
$prefixCls-spinner: za-spinner;
$prefixCls-stepper: za-stepper;
$prefixCls-swipe: za-swipe;
$prefixCls-swipeaction: za-swipeaction;
$prefixCls-switch: za-switch;
$prefixCls-tab: za-tab;
$prefixCls-toast: za-toast;
$prefixCls-tooltip: za-tooltip;
$prefixCls-uploader: za-uploader;
