$prefixCls: $prefixCls-accordion;

.#{$prefixCls} {
  &-item {
    &-title {
      position: relative;
      height: $accordion-height;
      line-height: $accordion-height;
      padding: 0 $accordion-padding;
      @include onepx(bottom);
    }

    &-content {
      position: relative;
      height: 0;
      overflow: hidden;
      @include onepx(bottom);

      &-inner {
        padding: $padding-v-lg $accordion-padding;
      }
    }

    &-content-anim {
      transition: all 0.15s ease-out;
    }

    &-arrow {
      position: absolute;
      width: r(10);
      height: r(10);
      top: r(17);
      right: $accordion-padding;
      border-right: r(2) solid $accordion-arrow-color;
      border-bottom: r(2) solid $accordion-arrow-color;
      transform: rotate(45deg);
      transition: transform 0.15s ease-out;

      &-hidden {
        visibility: hidden;
      }
    }

    &.active {
      .#{$prefixCls}-item-content {
        height: auto;
      }

      .#{$prefixCls}-item-arrow {
        transform: rotate(-135deg);
      }
    }

    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      &-title,
      &-content {
        &:after {
          width: 200%;
          height: 200%;
          transform: scale(0.5);
        }
      }
    }
  }
}
