@include b(toast) {
  @include define(text-color, var(--za-color-text-inverse));
  @include define(icon-color, var(--za-color-text-inverse));
  @include define(font-size, 13px);
  @include define(icon-size, 36px);
  @include define(border-radius, 6px);
  @include define(background-color, rgba(0, 0, 0, var(--za-opacity-toast)));

  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.5;
  text-align: center;
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  overflow: auto;

  @include m(text) {
    padding: var(--za-padding-v-md) var(--za-padding-h-md);
  }

  @include m(icon) {
    min-width: 120px;
    padding: var(--za-padding-h-xl) var(--za-padding-h-sm);

    @include e(text) {
      margin-top: var(--za-padding-v-md);
    }
  }

  @include e(text) {
    word-break: break-all;
  }

  @include e(icon) {
    color: var(--icon-color);
    font-size: var(--icon-size);
    justify-content: center;
    align-items: center;
    display: flex;

    @include b(icon) {
      --font-size: var(--icon-size);
    }

    @include b(activity-indicator) {
      --size: var(--icon-size);
      --stroke-active-color: var(--icon-color);
    }
  }
}
