@include b(toast) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  // z-index: var(--zindex-toast);

  @include e(container) {
    position: relative;
    padding: var(--padding-v-md) var(--padding-h-md);
    border-radius: var(--za-toast-border-radius);
    background: var(--za-toast-background);
    color: var(--za-toast-color);
    text-align: center;
    font-size: var(--za-toast-font-size);
  }
}
