@import '../../button/style/mixins';

@include b(checkbox) {
  @include define(widget-size, 22px);
  @include define(widget-background, transparent);
  @include define(widget-border-radius, 22px);
  @include define(widget-border-width, 1px);
  @include define(widget-border-color, rgb(199, 199, 204));
  @include define(marker-font-size, 16px);
  @include define(marker-color, #fff);
  @include define(marker-transition, all 0.2s cubic-bezier(.71, -0.46, .88, .6));
  @include define(text-margin-horizontal, 8px);
  @include define(active-opacity, 0.6);
  @include define(checked-widget-background, var(--za-theme-primary));
  @include define(checked-widget-border-color, var(--za-theme-primary));
  @include define(checked-marker-color, #fff);
  @include define(disabled-widget-background, #f2f2f2);
  @include define(disabled-widget-border-color, rgba(199, 199, 204, 0.7));
  @include define(disabled-text-color, rgba(0, 0, 0, 0.3));
  @include define(disabled-marker-color, #bcbcbc);

  display: inline-block;
  position: relative;

  &:not(&--disabled):active {
    opacity: var(--active-opacity);
  }

  @include e(widget) {
    display: inline-block;
    vertical-align: middle;
  }

  @include e(input) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  @include e(text) {
    vertical-align: middle;
    margin: 0 var(--text-margin-horizontal);
  }

  @include e(inner) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--widget-size);
    height: var(--widget-size);
    border: var(--widget-border-width) solid var(--widget-border-color);
    border-radius: var(--widget-border-radius);
    background-color: var(--widget-background);

    @include b(icon) {
      font-size: var(--marker-font-size);
      color: var(--marker-color);
      transform: scale(0);
      transition: var(--marker-transition);
    }
  }

  // 选中/半选状态
  @include m(checked, indeterminate) {
    @include e(inner) {
      border-color: var(--checked-widget-border-color);
      background-color: var(--checked-widget-background);

      @include b(icon) {
        color: var(--checked-marker-color);
        transform: scale(1);
      }
    }
  }

  // 禁用状态
  @include m(disabled) {
    @include e(input) {
      cursor: not-allowed;
    }

    @include e(text) {
      color: var(--disabled-text-color);
    }

    @include e(inner) {
      border-color: var(--disabled-widget-border-color);
      background-color: var(--disabled-widget-background);
    }

    @include m(checked) {
      @include e(inner) {
        border-color: var(--disabled-widget-border-color);
        background-color: var(--disabled-widget-background);

        @include b(icon) {
          color: var(--disabled-marker-color);
        }
      }
    }
  }

  // 无文本状态
  @include m(untext) {
    line-height: 1;
  }
}

@include b(checkbox-group) {
  @include define(group-spacing-vertical, 8px);
  @include define(group-spacing-horizontal, 24px);

  display: inline-block;
  vertical-align: middle;
  overflow: hidden;

  @include e(inner) {
    margin-right: calc(var(--group-spacing-horizontal) * -1);
    margin-bottom: calc(var(--group-spacing-vertical) * -1);
  }

  @include b(checkbox) {
    margin-right: var(--group-spacing-horizontal);
    margin-bottom: var(--group-spacing-vertical);
  }

  // 通栏样式
  @include m(block) {
    width: 100%;

    @include e(inner) {
      display: flex;
      flex-wrap: wrap;
    }

    @include b(checkbox) {
      flex: 1;
    }
  }

  // 按钮样式
  @include m(button) {
    @include define(group-spacing-vertical, var(--za-padding-v-md));
    @include define(group-spacing-horizontal, var(--za-padding-h-md));

    // button sizes
    @include m(button-lg) {
      @include define(group-spacing-vertical, var(--za-padding-v-lg));
      @include define(group-spacing-horizontal, var(--za-padding-h-lg));
    }

    @include m(button-sm) {
      @include define(group-spacing-vertical, var(--za-padding-v-sm));
      @include define(group-spacing-horizontal, var(--za-padding-h-sm));
    }

    @include m(button-xs) {
      @include define(group-spacing-vertical, var(--za-padding-v-xs));
      @include define(group-spacing-horizontal, var(--za-padding-h-xs));
    }

    // button compact
    @include m(button-compact) {
      @include b(checkbox) {
        &:not(:last-child) {
          /* prettier-ignore */
          margin-right: -1PX;
        }

        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }

        @include m(checked) {
          z-index: 1;
        }
      }
    }
  }

  @include m(list) {
    display: block;
    overflow: visible;

    @include e(inner) {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include b(checkbox) {
      display: flex;
      position: relative;
      margin-right: 0;
      margin-bottom: 0;

      @include e(text) {
        margin-left: 0;
      }
    }
  }
}
