@use "~@zarm-design/bem/sass/za" as sass;
@use "../../style/core/mixins";

@include sass.b(search-bar) {
  @include mixins.define(background, transparent);
  @include mixins.define(height, 52px);
  @include mixins.define(padding-horizontal, 16px);
  @include mixins.define(input-padding-horizontal, 8px);
  @include mixins.define(input-height, 36px);
  @include mixins.define(input-background, rgba(118, 118, 128, 0.12));
  @include mixins.define(input-font-size, var(--za-font-size-md));
  @include mixins.define(input-placeholder-color, #808084);
  @include mixins.define(input-clear-icon-color, #8e8e92);
  @include mixins.define(input-border-radius, 10px);
  @include mixins.define(cancel-font-size, var(--za-font-size-md));
  @include mixins.define(cancel-color, var(--za-theme-primary));
  @include mixins.define(cancel-margin-left, 13px);
  @include mixins.define(cancel-transition, all 0.2s);
  @include mixins.define(icon-margin-right, 6px);
  @include mixins.define(icon-color, #808084);

  background: var(--background);

  @include sass.e(form) {
    height: var(--height);
    margin: 0 var(--padding-horizontal);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  @include sass.e(content) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--input-padding-horizontal);
    height: var(--input-height);
    background: var(--input-background);
    overflow: hidden;

    @include sass.e(icon) {
      margin-right: var(--icon-margin-right);
      color: var(--icon-color);
      align-items: center;
      display: flex;
    }
  }

  @include sass.b(input) {
    @include mixins.define(placeholder-color, var(--input-placeholder-color));
    @include mixins.define(clear-icon-color, var(--input-clear-icon-color));

    flex: 1;
    font-size: var(--input-font-size);
    background-color: transparent;

    input {
      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  @include sass.e(cancel) {
    font-size: var(--cancel-font-size);
    color: var(--cancel-color);
    margin-left: var(--cancel-margin-left);
    transition: var(--cancel-transition);
  }

  @include sass.m(focus) {
    @include sass.e(cancel) {
      margin-right: 0;
    }
  }

  @include sass.m(radius) {
    @include sass.e(content) {
      border-radius: var(--input-border-radius);
    }
  }

  @include sass.m(round) {
    @include sass.e(content) {
      border-radius: var(--za-radius-round);
    }
  }
}
